@import "variables";
@import "./common.scss";

$gray-bold-color: #343434;
$gray-light-color: #666;
$white-bold-color: #f0f0f0;

#about-us {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    .container {
        padding: 0px;
    }
    hr {
        border-color: $gray-1-color;
    }
    #about-us-site-bar {
        width: 100%;
        height: 300px;
        padding-left: 0px;
        .list-group {
            .list-group-item:first-child {
                border-top: solid 3px $primary-color;
            }
            .list-group-item {
                height: 45px;
                color: $gray-bold-color;
                .badge {
                    width: 14px;
                    height: 14px;
                    color: $primary-color;
                    padding-left: 4px;
                    padding-top: 1.5px;
                    margin-top: 5px;
                    visibility: hidden;
                }
                &:hover {
                    background-color: #D1E6F3;
                    border: #D1E6F3;
                }
                &.active {
                    background-color: $primary-color !important;
                    border: $primary-color !important;
                    color: $white-color;
                    font-weight: 700;
                    .badge {
                        visibility: visible;
                        background-color: $white-color;
                    }
                }
            }
        }
    }
    // right content 
    color: $text-color;
    h2 {
        margin: 0px;
    }
    .text-title {
        color: $blue-color;
        font-size: 21px;
        padding-bottom: 10px;
    }
    .bank-list {
        .bank {
            margin-top: 30px;
            .title-logo {
                margin-bottom: 20px;
                .title {
                    color: $blue-color;
                }
            }
            .list-group-item {
                border-radius: 0px;
                padding: 1px;
                .block-left {
                    display: inline-block;
                    width: 33%;
                    padding: 8px 10px;
                    background-color: $white-bold-color;
                    color: $gray-bold-color;
                }
                .block-right {
                    display: inline-block;
                    width: 66%;
                    padding-left: 15px;
                    color: $gray-light-color;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .contact-us {
        .line-heigth-25 {
            line-height: 25px;
        }
        .contact-type-list {
            padding: 30px 0px;
        }
        .contact-type {
            display: inline-block;
            width: 22%;
            height: 195px;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 3px;
            padding-top: 30px;
            .content {
                margin-top: 25px;
                line-height: 27px;
                &.email, &.whatsapp {
                    a {
                        text-decoration: underline;
                    }
                }
                &.phone, &.fax {
                    a {
                        color: $text-color;
                        text-decoration: none;
                    }
                }
            }
        }
        .send-message {
            h3 {
                margin: 20px 15px;
                color: $blue-color;
            }
            .btn-send {
                background-color: $primary-color;
                margin: 20px 15px 30px 15px;
                font-weight: bold;
                color: $white-color;
                border-radius: 30px;
                padding: 6px 20px;
            }
        }
    }
    .our-story {
        .carousel-control {
            &.left {
                background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,.000001) 50%);
            }&.right {
                background-image: linear-gradient(to left,rgba(0,0,0,.2) 0,rgba(0,0,0,.000001) 50%);
            }
            .glyphicon-chevron-left {
                font-size: 20px;
                left: 10%;
            }
            .glyphicon-chevron-right {
                font-size: 20px;
                right: 10%;
            }
        }
        .carousel-indicators {
            bottom: -45px !important;
            li {
                border: 1.5px solid $gray-1-color;
                width: 15px;
                height: 15px;
                &.active {
                    background: $primary-color;
                    width: 16px;
                    height: 16px;
                    border-radius: 15px;
                    border-width: 0px;
                }
            }
        }
        .stage-list {
            margin-top: 70px;
            .stage {
                height: auto;
                padding: 15px 17px;
                border: 1px solid $border-color;
                border-radius: 5px;
                .title {
                    font-size: 22px;
                    line-height: 50px;
                    color: $blue-color;
                }
                p {
                    line-height: 27px;
                }
                &:hover {
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
                }
            }
        }
        .resuilt {
            position: relative;
            margin: 50px 0px;
            height: 260px;
            p {
                position: absolute;
                width: 40%;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                color: $white-color;
                font-size: 22px;
            }
        }
        .ceo {
            .ceo-said {
                padding: 45px 45px;
                p {
                    font-size: 25px;
                    color: $text-color;
                    font-style: italic;
                    font-weight: 300;
                }
                .sign div {
                    color: black;
                    margin-top: 10px;
                }
            }
        }
        .our-progress {
            padding-bottom: 20px;
            .title {
                .text {
                    padding: 0px 35px;
                    font-size: 26px;
                    color: $blue-color;
                }
                hr {
                    flex: 1;
                    height: 8px;
                    border: 0;
                    height: 1px;
                    &.right {
                        background-image: linear-gradient(90deg, $primary-color, transparent);
                    }
                    &.left {
                        background-image: linear-gradient(-90deg, $primary-color, transparent);
                    }
                    .text {
                        display: inline-block;
                    }
                }
            }
            .country-user {
                .country, .user {
                    padding: 30px;
                    .count {
                        font-size: 40px;
                        color: $primary-color;
                        font-weight: bold;
                    }
                    font-size: 16px;
                }
            }
            .background {
                height: 420px;
            }
        }
    }
    .why-choose-us {
        & > .row {
            padding-bottom: 50px;
            .left {
                width: 53%;
                float: left;
            }
            .right {
                width: 47%;
                float: left;
                .title {
                    padding-right: 0px;
                }
            }
            .col-content {
                padding: 0px 15px;
                .index {
                    color: $primary-color;
                    font-size: 75px;
                    font-weight: bolder;
                }
                .title {
                    color: $blue-color;
                    font-size: 22px;
                }
                p {
                    line-height: 24px;
                }
            }
        }
    }
    .corporate {
        .text-title {
            color: $blue-color;
            font-size: 21px;
            padding-bottom: 10px;
        }
        .list-group {
            margin-bottom: 40px;
            .list-group-item {
                border-radius: 0px;
                padding: 1px;
                display: table;
                width: 100%;
                .block-left {
                    display: table-cell;
                    width: 25%;
                    padding: 12px;
                    background-color: $white-bold-color;
                    color: $gray-bold-color;
                    vertical-align: top;
                }
                .block-right {
                    display: table-cell;
                    width: 75%;
                    padding: 10px 15px;
                    color: $gray-light-color;
                    line-height: 25px;
                    .office {
                        .office-name {
                            font-weight: bold;
                            color: $strong-color;
                            .hr {
                                width: 50px;
                                height: 2px;
                                background-color: $primary-color;
                                margin-bottom: 10px;
                            }
                        }
                        .row-info {
                            margin-bottom: 5px;
                            .fa {
                                width: 15px;
                                padding-top:5px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .icon-bank {
                        margin: 10px 0px;
                    }
                }
            }
        }
        .mission {
            margin: 40px 0px;
            p {
                line-height: 25px;
            }
            .cover {
                width: 100%;
                height: 180px;
            }
        }
        .coutries {
            padding: 35px;
            position: relative;
            background-color: $white-bold-color;
            color: $gray-light-color;
            b {
                color: $gray-bold-color;
            }
            hr {
                color: red;
            }
            line-height: 25px;
            .bg-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }
        }
    }
    .office-calendar {
        .list-office {
            .office {
                line-height: 25px;
                .row-info {
                    margin-bottom: 5px;
                    .fa {
                        width: 15px;
                        padding-top:5px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .map {
            margin: 20px 0px;
            .mapouter {
                text-align: right;
                height: 239px;
                width: 560px;
            }
    
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 239px;
                width: 560px;
            }
        }
        .calendar {
            padding-top: 25px;
            padding-bottom: 10px;
            .text-title {
                margin-bottom: 10px;
            }
            table {
                margin-top: 10px;
                th, td {
                    padding: 10px 15px;
                }
                th {
                    padding: 1px;
                    div {
                        background-color: $gray-color;
                        font-weight: 500;
                        color: $strong-color;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
    .voice-of-client-list {
        line-height: 25px;
        .voice-of-client {
            padding: 30px;
            margin-bottom: 30px;
            border: 1px solid $border-color;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            .info {
                .buyer {
                    .fa-check-circle {
                        color: #4cb275;
                    }
                }
                .testimonial-satisfield {
                    display: inline-block;
                    vertical-align: top;
                    padding: 6px 12px;
                    color: #fff;
                    font-weight: 700;
                    background: #4cb275;
                    border-radius: 2px;
                }
                .testimonial-stars {
                    .fa {
                        margin: 7px 2px;
                    }
                    .fa-star-grey {
                        color: $gray-color;
                    }
                    .fa-star-yellow {
                        color: $yellow-star;
                    }
                }
            }
            .client-photos {
                margin: 10px 0px;
                .carousel-control {
                    &.left {
                        background-image: none;
                    }&.right {
                        background-image: none;
                    }
                    .glyphicon-chevron-left {
                        font-size: 20px;
                        left: 12%;
                    }
                    .glyphicon-chevron-right {
                        font-size: 20px;
                        right: 12%;
                    }
                }
                .carousel-indicators {
                    display: none;
                }
            }
            .purchased-car {
                .purchased-car-image {
                    padding-top: 10px;
                    img {

                        display: block;
                        max-width: 100%;
                        height: auto;
                    }
                }
                .purchased-car-detail {
                    padding-top: 20px;
                }
            }
        }
        .btn-show-more, .btn-show-all {
            background-color: $primary-color;
            color: $white-color;
            border-radius: 25px;
            &:focus {
                outline: none;
            }
            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}