.d-none         { display: none !important; }
.d-inline       { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-block        { display: block !important; }
.d-table        { display: table !important; }
.d-table-row    { display: table-row !important; }
.d-table-cell   { display: table-cell !important; }
.d-flex         { display: flex !important; }
.d-inline-flex  { display: inline-flex !important; }


.w-33-per {
    width: 33% !important;
}
.min-w-33-per {
    min-width: 33% !important;
}
.min-w-32-per {
    min-width: 32% !important;
}
.p-left-10 {
    padding-left: 10px !important;
}
.p-right-10 {
    padding-right: 10px !important;
}
.p-right-25 {
    padding-right: 25px !important;
}
.m-top-5 {
    margin-top: 5px !important;;
}
.m-top-30 {
    margin-top: 30px !important;;
}
.m-right-5 {
    margin-right: 5px !important;;
}
.m-right-7 {
    margin-right: 5px !important;;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
