/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bahamas {
  background-image: url(/static/sprite.png);
  background-position: -253px -225px;
  width: 22px;
  height: 15px;
}
.icon-bank_transfer {
  background-image: url(/static/sprite.png);
  background-position: -185px -199px;
  width: 46px;
  height: 28px;
}
.icon-bmw {
  background-image: url(/static/sprite.png);
  background-position: -115px -199px;
  width: 70px;
  height: 45px;
}
.icon-bus {
  background-image: url(/static/sprite.png);
  background-position: -138px 0px;
  width: 115px;
  height: 45px;
}
.icon-convertible {
  background-image: url(/static/sprite.png);
  background-position: -138px -45px;
  width: 115px;
  height: 45px;
}
.icon-coupe {
  background-image: url(/static/sprite.png);
  background-position: 0px -109px;
  width: 115px;
  height: 45px;
}
.icon-digicert_secure {
  background-image: url(/static/sprite.png);
  background-position: -280px -244px;
  width: 41px;
  height: 30px;
}
.icon-equity {
  background-image: url(/static/sprite.png);
  background-position: -323px -122px;
  width: 61px;
  height: 25px;
}
.icon-ford {
  background-image: url(/static/sprite.png);
  background-position: -140px -244px;
  width: 70px;
  height: 45px;
}
.icon-hatchback {
  background-image: url(/static/sprite.png);
  background-position: -115px -109px;
  width: 115px;
  height: 45px;
}
.icon-honda {
  background-image: url(/static/sprite.png);
  background-position: -253px 0px;
  width: 70px;
  height: 45px;
}
.icon-isuzu {
  background-image: url(/static/sprite.png);
  background-position: -253px -45px;
  width: 70px;
  height: 45px;
}
.icon-jumvea_shield {
  background-image: url(/static/sprite.png);
  background-position: -323px -207px;
  width: 36px;
  height: 41px;
}
.icon-jumvea {
  background-image: url(/static/sprite.png);
  background-position: -323px -90px;
  width: 48px;
  height: 32px;
}
.icon-kenya {
  background-image: url(/static/sprite.png);
  background-position: -370px -248px;
  width: 22px;
  height: 15px;
}
.icon-logo_footer {
  background-image: url(/static/sprite.png);
  background-position: 0px 0px;
  width: 138px;
  height: 64px;
}
.icon-malawi {
  background-image: url(/static/sprite.png);
  background-position: -371px -105px;
  width: 22px;
  height: 15px;
}
.icon-master_card {
  background-image: url(/static/sprite.png);
  background-position: -323px -147px;
  width: 50px;
  height: 30px;
}
.icon-mazda {
  background-image: url(/static/sprite.png);
  background-position: -253px -90px;
  width: 70px;
  height: 45px;
}
.icon-mercedes_benz {
  background-image: url(/static/sprite.png);
  background-position: -323px 0px;
  width: 70px;
  height: 45px;
}
.icon-mozambique {
  background-image: url(/static/sprite.png);
  background-position: -370px -263px;
  width: 22px;
  height: 15px;
}
.icon-nisan {
  background-image: url(/static/sprite.png);
  background-position: -323px -45px;
  width: 70px;
  height: 45px;
}
.icon-paypal {
  background-image: url(/static/sprite.png);
  background-position: -323px -177px;
  width: 50px;
  height: 30px;
}
.icon-resona_bank {
  background-image: url(/static/sprite.png);
  background-position: -359px -207px;
  width: 31px;
  height: 40px;
}
.icon-sabaru {
  background-image: url(/static/sprite.png);
  background-position: -210px -244px;
  width: 70px;
  height: 45px;
}
.icon-sedan {
  background-image: url(/static/sprite.png);
  background-position: 0px -199px;
  width: 115px;
  height: 45px;
}
.icon-suv {
  background-image: url(/static/sprite.png);
  background-position: -115px -154px;
  width: 115px;
  height: 45px;
}
.icon-suzuki {
  background-image: url(/static/sprite.png);
  background-position: -253px -180px;
  width: 70px;
  height: 45px;
}
.icon-tanzania {
  background-image: url(/static/sprite.png);
  background-position: -371px -90px;
  width: 22px;
  height: 15px;
}
.icon-test {
  background-image: url(/static/sprite.png);
  background-position: 0px -289px;
  width: 32px;
  height: 32px;
}
.icon-toyota {
  background-image: url(/static/sprite.png);
  background-position: -253px -135px;
  width: 70px;
  height: 45px;
}
.icon-truck_2 {
  background-image: url(/static/sprite.png);
  background-position: 0px -154px;
  width: 115px;
  height: 45px;
}
.icon-visa {
  background-image: url(/static/sprite.png);
  background-position: -323px -248px;
  width: 47px;
  height: 30px;
}
.icon-volkswagen {
  background-image: url(/static/sprite.png);
  background-position: -70px -244px;
  width: 70px;
  height: 45px;
}
.icon-volvo {
  background-image: url(/static/sprite.png);
  background-position: 0px -244px;
  width: 70px;
  height: 45px;
}
.icon-wagon {
  background-image: url(/static/sprite.png);
  background-position: 0px -64px;
  width: 115px;
  height: 45px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-bahamas {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-bank_transfer {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-bmw {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-bus {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-convertible {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-coupe {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-digicert_secure {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-equity {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-ford {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-hatchback {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-honda {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-isuzu {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-jumvea_shield {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-jumvea {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-kenya {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-logo_footer {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-malawi {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-master_card {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-mazda {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-mercedes_benz {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-mozambique {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-nisan {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-paypal {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-resona_bank {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-sabaru {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-sedan {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-suv {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-suzuki {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-tanzania {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-test {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-toyota {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-truck_2 {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-visa {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-volkswagen {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-volvo {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
  .icon-wagon {
    background-image: url(/static/sprite@2x.png);
    background-size: 393px 321px;
  }
}

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

.w-33-per {
  width: 33% !important; }

.min-w-33-per {
  min-width: 33% !important; }

.min-w-32-per {
  min-width: 32% !important; }

.p-left-10 {
  padding-left: 10px !important; }

.p-right-10 {
  padding-right: 10px !important; }

.p-right-25 {
  padding-right: 25px !important; }

.m-top-5 {
  margin-top: 5px !important; }

.m-top-30 {
  margin-top: 30px !important; }

.m-right-5 {
  margin-right: 5px !important; }

.m-right-7 {
  margin-right: 5px !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-700 {
  font-weight: 700 !important; }

#footer {
  width: 1922px; }
  #footer .container {
    width: 1190px !important; }
  #footer a {
    text-decoration: none; }
  #footer #footer-selector {
    min-height: 350px;
    background-color: #f3f3f3;
    color: #cccccc;
    padding-top: 58px; }
    #footer #footer-selector a {
      color: #6F6F6F; }
    #footer #footer-selector .footer-selector-type, #footer #footer-selector .footer-selector-make {
      background-color: #48A2D7;
      height: 30px;
      width: 100px;
      border-radius: 3px;
      transform: rotate(270deg);
      writing-mode: lr-tb;
      font-weight: bold;
      line-height: 28px;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      position: absolute;
      top: 35px;
      left: -25px; }
      #footer #footer-selector .footer-selector-type:after, #footer #footer-selector .footer-selector-make:after {
        content: "";
        position: absolute;
        top: 90%;
        left: 42px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #48A2D7; }
    #footer #footer-selector .footer-selector-title {
      color: #333333;
      font-size: 18px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 34px; }
    #footer #footer-selector .footer-selector-option-price, #footer #footer-selector .footer-selector-option-discount {
      line-height: 32px;
      color: #6F6F6F; }
      #footer #footer-selector .footer-selector-option-price:hover, #footer #footer-selector .footer-selector-option-discount:hover {
        font-weight: 700;
        color: #48A2D7; }
        #footer #footer-selector .footer-selector-option-price:hover a, #footer #footer-selector .footer-selector-option-discount:hover a {
          color: #48A2D7; }
  #footer #footer-content {
    min-height: 345px;
    padding-top: 50px;
    background-color: #071D38;
    line-height: 27px;
    color: #cccccc; }
    #footer #footer-content a {
      text-decoration: none;
      color: #cccccc; }
      #footer #footer-content a:hover {
        color: #FFFFFF; }
    #footer #footer-content .footer-content-title {
      color: #FFFFFF;
      font-weight: bold;
      line-height: 34px;
      font-size: 18px; }
    #footer #footer-content .footer-content-info {
      color: #cccccc; }
      #footer #footer-content .footer-content-info .icon-logo_footer {
        margin-bottom: 17px; }
      #footer #footer-content .footer-content-info div {
        line-height: 35px; }
        #footer #footer-content .footer-content-info div i {
          margin-right: 7px; }
    #footer #footer-content .footer-content-about-us-others .footer-content-about-us-icon-list div, #footer #footer-content .footer-content-help-support .footer-content-about-us-icon-list div {
      color: #48A2D7; }
    #footer #footer-content .footer-content-about-us-others .footer-content-others-icon-list div, #footer #footer-content .footer-content-help-support .footer-content-others-icon-list div {
      color: #48D792; }
    #footer #footer-content .footer-content-about-us-others .footer-content-help-support-icon-list div, #footer #footer-content .footer-content-help-support .footer-content-help-support-icon-list div {
      color: #DD5051; }
    #footer #footer-content .footer-content-about-us-others div i, #footer #footer-content .footer-content-help-support div i {
      width: 15px;
      text-align: center;
      margin-right: 7px;
      margin-left: -20px; }
    #footer #footer-content .footer-content-our-certificates-payment-method .footer-content-our-certificates-list, #footer #footer-content .footer-content-our-certificates-payment-method .footer-content-payment-method-list-1, #footer #footer-content .footer-content-our-certificates-payment-method .footer-content-payment-method-list-2 {
      display: flex;
      justify-content: start; }
    #footer #footer-content .footer-content-our-certificates-payment-method .footer-content-our-certificates-list {
      margin-top: 15px; }
    #footer #footer-content .footer-content-our-certificates-payment-method .footer-content-payment-method-list-1 {
      margin-top: 15px;
      margin-bottom: 10px; }
  #footer .hr-0-0 {
    margin: 0 !important;
    border-top: 2px solid #6F6F6F; }
  #footer #footer-bottom {
    min-height: 150px;
    background-color: #071D38;
    padding-top: 30px;
    color: #cccccc;
    line-height: 28px; }
    #footer #footer-bottom a {
      color: #cccccc; }
      #footer #footer-bottom a:hover {
        color: #48A2D7; }
    #footer #footer-bottom .fa {
      margin-top: 15px;
      margin-right: 10px;
      color: red;
      padding: 0.05em 0.07em; }
    #footer #footer-bottom .social-icon {
      position: relative;
      text-align: center;
      width: 0px;
      height: 0px;
      padding: 16px;
      border-radius: 16px;
      float: left;
      margin: 15px 10px 0 0;
      cursor: pointer; }
      #footer #footer-bottom .social-icon.fb {
        background-color: #3b5998; }
      #footer #footer-bottom .social-icon.tw {
        background-color: #38A1F3; }
      #footer #footer-bottom .social-icon.gp {
        background-color: #DD4B39; }
      #footer #footer-bottom .social-icon i {
        font-size: 1.2em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }

html {
  height: 100%;
  position: relative;
  font-size: 62.5%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

body {
  font-size: 1.4rem;
  background-color: #FFFFFF;
  color: #6F6F6F;
  height: 100%;
  position: relative;
  font-family: 'Roboto', "Segoe UI", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3, h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.6rem; }

p.pre {
  white-space: pre-line; }

.main-mobile {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  position: relative; }

.color-primary {
  color: #48A2D7; }

.primary-color {
  color: #48A2D7; }

.blue-color {
  color: #0F4B90; }

.strong-color {
  color: #333333; }

.gray-color {
  color: #E6E6E6; }

.gray-1-color {
  color: #cccccc; }

.white-color {
  color: #FFFFFF; }

.red-color {
  color: #E15355; }

.text-color {
  color: #6F6F6F; }

.bg-primary {
  background: #48A2D7; }

.row-flex {
  display: flex; }
  .row-flex.item-center {
    align-items: center; }
  .row-flex.center {
    align-items: center;
    justify-content: center; }
  .row-flex.space-between {
    justify-content: space-between; }
  .row-flex.space-around {
    justify-content: space-around; }
  .row-flex.space-around {
    justify-content: space-around; }

.col-flex {
  display: flex;
  flex-direction: column; }
  .col-flex.item-center {
    align-items: center; }
  .col-flex.center {
    align-items: center;
    justify-content: center; }
  .col-flex.space-between {
    justify-content: space-between; }
  .col-flex.space-around {
    justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.flex1 {
  flex: 1; }

.padding-xs {
  padding: 10px; }

.padding-md {
  padding: 15px; }

.margin-xs {
  margin: 10px; }

.margin-md {
  margin: 15px; }

.voffset-xs {
  margin-top: 10px; }

.voffset-md {
  margin-top: 15px; }

.voffset-lg {
  margin-top: 20px; }

.voffset-llg {
  margin-top: 30px; }

.left-offset-xs {
  margin-left: 10px; }

.left-offset-md {
  margin-left: 15px; }

.left-offset-lg {
  margin-left: 20px; }

.font-xs {
  font-size: 1.2rem; }

.font-size-16 {
  font-size: 1.6rem; }

ul.list {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.list li {
    padding: 1rem; }

.avatar {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%; }

.icon {
  display: inline-block; }

.select-ct {
  border-bottom: 1px solid #E6E6E6;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #48A2D7;
  text-decoration: none !important; }
  .select-ct > div {
    padding: 1rem 0;
    color: #48A2D7; }

.ic-select-t {
  cursor: pointer; }
  .ic-select-t > span {
    padding: 5px;
    color: #333333; }
  .ic-select-t .fa-chevron-down {
    font-size: 1.2rem; }

.ul-select-rarito {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-select-rarito li {
    padding: 5px 0;
    cursor: pointer; }
    .ul-select-rarito li a {
      color: #6F6F6F;
      text-decoration: none;
      outline: none !important; }
    .ul-select-rarito li:before {
      content: "\F111";
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      padding-right: 1rem; }
    .ul-select-rarito li.divider {
      padding: 0;
      margin: 2px 0;
      background-color: #CCC;
      height: 1px; }
      .ul-select-rarito li.divider:before {
        content: none; }
    .ul-select-rarito li.active:before {
      content: "\F192";
      color: #48A2D7; }

.max-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

.g-recaptcha {
  display: none; }

.news .news__item {
  font-size: 1.4rem;
  margin: 0 0 10px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slide div {
  outline: none !important; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.cfji-carmera {
  display: inline-block;
  background: url("/public/images/camera.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 16px;
  font-size: 10px;
  text-align: center;
  padding-top: 2.5px;
  font-style: normal; }

/* Make clicks pass-through */
#nprogress {
  pointer-events: none; }

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

/* Home page*/
.trans-step-wrap {
  margin: 110px 0;
  position: relative; }
  .trans-step-wrap .trans-step {
    position: relative; }
    .trans-step-wrap .trans-step > span:first-child {
      display: flex;
      width: 30px;
      height: 30px;
      background: #48A2D7;
      color: #FFFFFF;
      border-radius: 50%;
      align-items: center;
      justify-content: center; }
    .trans-step-wrap .trans-step > span.pipeline {
      display: flex;
      align-items: center; }
      .trans-step-wrap .trans-step > span.pipeline i {
        color: #48A2D7; }
      .trans-step-wrap .trans-step > span.pipeline:before, .trans-step-wrap .trans-step > span.pipeline:after {
        content: " ";
        display: block;
        width: 15px;
        height: 2px;
        background: #6F6F6F; }
  .trans-step-wrap .circle-wrap {
    position: absolute;
    display: inline-block;
    left: -28px; }
    .trans-step-wrap .circle-wrap.up {
      top: -104px; }
      .trans-step-wrap .circle-wrap.up .line-v {
        margin-bottom: 0px; }
    .trans-step-wrap .circle-wrap .line-v {
      width: 100%;
      text-align: center;
      margin-bottom: -6px; }
      .trans-step-wrap .circle-wrap .line-v > span {
        display: inline-block;
        height: 18px;
        width: 2px;
        background: #6F6F6F; }
    .trans-step-wrap .circle-wrap .circle {
      position: relative;
      display: flex;
      width: 86px;
      height: 86px;
      background: #FFFFFF;
      color: #48A2D7;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      border: 1px solid #48A2D7;
      padding: 8px; }
    .trans-step-wrap .circle-wrap .helper {
      position: absolute;
      right: 0px;
      bottom: 0px;
      color: #6F6F6F; }

@media screen and (max-width: 375px) {
  .trans-step-wrap .trans-step > span.pipeline:before, .trans-step-wrap .trans-step > span.pipeline:after {
    width: 11px; }
  .trans-step-wrap .circle-wrap {
    left: -20px; }
    .trans-step-wrap .circle-wrap.up {
      top: -88px; }
    .trans-step-wrap .circle-wrap .circle {
      width: 70px;
      height: 70px;
      font-size: 1.2rem; } }

.CustomerFeedback {
  padding: 5px 0px; }
  .CustomerFeedback h4 {
    font-size: 2rem; }
  .CustomerFeedback .feed-back-qa {
    font-weight: bold;
    margin-top: 1rem; }
  .CustomerFeedback .satisfy-bar.progress {
    height: 5rem;
    margin: 1.5rem 2rem;
    border-radius: 8px; }
  .CustomerFeedback .satisfy-bar .progress-bar {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 5rem;
    height: 5rem; }
    .CustomerFeedback .satisfy-bar .progress-bar.separate-bar {
      background: #fff; }
  .CustomerFeedback .donut-chart-image {
    max-width: 50%;
    flex: 1;
    position: relative; }
    .CustomerFeedback .donut-chart-image img {
      max-width: 100%; }
  .CustomerFeedback .chart-label {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center; }
    .CustomerFeedback .chart-label div {
      margin-left: 1rem;
      font-weight: bold; }
      .CustomerFeedback .chart-label div .square {
        width: 8px;
        height: 8px;
        display: inline-block;
        display: inline-flex;
        margin-right: 1rem; }
        .CustomerFeedback .chart-label div .square.lb-value {
          background-color: #3ab5e5; }
        .CustomerFeedback .chart-label div .square.lb-huge-stock {
          background-color: #e05153; }
        .CustomerFeedback .chart-label div .square.lb-pro {
          background-color: #a5a5a5; }
        .CustomerFeedback .chart-label div .square.lb-support {
          background-color: #a9d18e; }
        .CustomerFeedback .chart-label div .square.lb-other {
          background-color: #0c4b92; }

.inquiri-btn-on-modal {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 50px; }
  .inquiri-btn-on-modal .cfj-button {
    margin-left: 2rem; }
  .inquiri-btn-on-modal .cfj-button > div {
    padding: 0 2rem; }
    .inquiri-btn-on-modal .cfj-button > div .icon-left {
      margin-right: 3rem; }
  .inquiri-btn-on-modal > i {
    margin-right: 2rem;
    color: #48A2D7;
    font-size: 2rem; }

#video-top-page-mob {
  position: relative;
  padding-bottom: 56.25%; }
  #video-top-page-mob iframe {
    position: absolute;
    width: 100%;
    height: 100%; }

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px); }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

.btn-toolbar {
  margin-right: .5rem; }

.combine-selector {
  width: 100%; }
  .combine-selector .btn.dropdown-toggle {
    width: 100%;
    height: 3.6rem;
    text-align: left;
    border-color: #CCC;
    color: #6F6F6F;
    box-shadow: none !important; }
    .combine-selector .btn.dropdown-toggle:focus, .combine-selector .btn.dropdown-toggle:active, .combine-selector .btn.dropdown-toggle:hover {
      background: #fff;
      box-shadow: none !important; }
    .combine-selector .btn.dropdown-toggle.has-value {
      border-color: #48A2D7;
      color: #48A2D7; }
  .combine-selector.open .btn.dropdown-toggle {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff; }
  .combine-selector .dropdown-menu {
    margin: 0;
    border-top: 0;
    width: 100%;
    padding: .8rem;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .combine-selector .dropdown-menu .select-raw-container.form-group {
      margin-top: .8rem; }
      .combine-selector .dropdown-menu .select-raw-container.form-group select {
        height: 32px;
        background-color: #eaeaea;
        border: none !important; }

.place-holder-preload {
  padding-top: 2rem; }
  .place-holder-preload .preload-img {
    width: 10rem;
    height: 8.5rem; }
  .place-holder-preload .preload-p {
    height: 1.4rem; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #d9d9d9 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative; }


/*# sourceMappingURL=styles.chunk.css.map*/