/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bank_transfer_name = 'bank_transfer';
$bank_transfer_x = 47px;
$bank_transfer_y = 126px;
$bank_transfer_offset_x = -47px;
$bank_transfer_offset_y = -126px;
$bank_transfer_width = 46px;
$bank_transfer_height = 28px;
$bank_transfer_total_width = 215px;
$bank_transfer_total_height = 156px;
$bank_transfer_image = '/static/sprite.png';
$bank_transfer = 47px 126px -47px -126px 46px 28px 215px 156px '/static/sprite.png' 'bank_transfer';
$digicert_secure_name = 'digicert_secure';
$digicert_secure_x = 174px;
$digicert_secure_y = 0px;
$digicert_secure_offset_x = -174px;
$digicert_secure_offset_y = 0px;
$digicert_secure_width = 41px;
$digicert_secure_height = 30px;
$digicert_secure_total_width = 215px;
$digicert_secure_total_height = 156px;
$digicert_secure_image = '/static/sprite.png';
$digicert_secure = 174px 0px -174px 0px 41px 30px 215px 156px '/static/sprite.png' 'digicert_secure';
$equity_name = 'equity';
$equity_x = 48px;
$equity_y = 64px;
$equity_offset_x = -48px;
$equity_offset_y = -64px;
$equity_width = 61px;
$equity_height = 25px;
$equity_total_width = 215px;
$equity_total_height = 156px;
$equity_image = '/static/sprite.png';
$equity = 48px 64px -48px -64px 61px 25px 215px 156px '/static/sprite.png' 'equity';
$jumvea_shield_name = 'jumvea_shield';
$jumvea_shield_x = 138px;
$jumvea_shield_y = 0px;
$jumvea_shield_offset_x = -138px;
$jumvea_shield_offset_y = 0px;
$jumvea_shield_width = 36px;
$jumvea_shield_height = 41px;
$jumvea_shield_total_width = 215px;
$jumvea_shield_total_height = 156px;
$jumvea_shield_image = '/static/sprite.png';
$jumvea_shield = 138px 0px -138px 0px 36px 41px 215px 156px '/static/sprite.png' 'jumvea_shield';
$jumvea_name = 'jumvea';
$jumvea_x = 0px;
$jumvea_y = 64px;
$jumvea_offset_x = 0px;
$jumvea_offset_y = -64px;
$jumvea_width = 48px;
$jumvea_height = 32px;
$jumvea_total_width = 215px;
$jumvea_total_height = 156px;
$jumvea_image = '/static/sprite.png';
$jumvea = 0px 64px 0px -64px 48px 32px 215px 156px '/static/sprite.png' 'jumvea';
$logo_footer_name = 'logo_footer';
$logo_footer_x = 0px;
$logo_footer_y = 0px;
$logo_footer_offset_x = 0px;
$logo_footer_offset_y = 0px;
$logo_footer_width = 138px;
$logo_footer_height = 64px;
$logo_footer_total_width = 215px;
$logo_footer_total_height = 156px;
$logo_footer_image = '/static/sprite.png';
$logo_footer = 0px 0px 0px 0px 138px 64px 215px 156px '/static/sprite.png' 'logo_footer';
$master_card_name = 'master_card';
$master_card_x = 50px;
$master_card_y = 96px;
$master_card_offset_x = -50px;
$master_card_offset_y = -96px;
$master_card_width = 50px;
$master_card_height = 30px;
$master_card_total_width = 215px;
$master_card_total_height = 156px;
$master_card_image = '/static/sprite.png';
$master_card = 50px 96px -50px -96px 50px 30px 215px 156px '/static/sprite.png' 'master_card';
$paypal_name = 'paypal';
$paypal_x = 0px;
$paypal_y = 96px;
$paypal_offset_x = 0px;
$paypal_offset_y = -96px;
$paypal_width = 50px;
$paypal_height = 30px;
$paypal_total_width = 215px;
$paypal_total_height = 156px;
$paypal_image = '/static/sprite.png';
$paypal = 0px 96px 0px -96px 50px 30px 215px 156px '/static/sprite.png' 'paypal';
$resona_bank_name = 'resona_bank';
$resona_bank_x = 138px;
$resona_bank_y = 41px;
$resona_bank_offset_x = -138px;
$resona_bank_offset_y = -41px;
$resona_bank_width = 31px;
$resona_bank_height = 40px;
$resona_bank_total_width = 215px;
$resona_bank_total_height = 156px;
$resona_bank_image = '/static/sprite.png';
$resona_bank = 138px 41px -138px -41px 31px 40px 215px 156px '/static/sprite.png' 'resona_bank';
$test_name = 'test';
$test_x = 174px;
$test_y = 30px;
$test_offset_x = -174px;
$test_offset_y = -30px;
$test_width = 32px;
$test_height = 32px;
$test_total_width = 215px;
$test_total_height = 156px;
$test_image = '/static/sprite.png';
$test = 174px 30px -174px -30px 32px 32px 215px 156px '/static/sprite.png' 'test';
$visa_name = 'visa';
$visa_x = 0px;
$visa_y = 126px;
$visa_offset_x = 0px;
$visa_offset_y = -126px;
$visa_width = 47px;
$visa_height = 30px;
$visa_total_width = 215px;
$visa_total_height = 156px;
$visa_image = '/static/sprite.png';
$visa = 0px 126px 0px -126px 47px 30px 215px 156px '/static/sprite.png' 'visa';
$retina_bank_transfer_name = 'retina_bank_transfer';
$retina_bank_transfer_x = 94px;
$retina_bank_transfer_y = 256px;
$retina_bank_transfer_offset_x = -94px;
$retina_bank_transfer_offset_y = -256px;
$retina_bank_transfer_width = 92px;
$retina_bank_transfer_height = 56px;
$retina_bank_transfer_total_width = 438px;
$retina_bank_transfer_total_height = 376px;
$retina_bank_transfer_image = '/static/sprite@2x.png';
$retina_bank_transfer = 94px 256px -94px -256px 92px 56px 438px 376px '/static/sprite@2x.png' 'retina_bank_transfer';
$retina_digicert_secure_name = 'retina_digicert_secure';
$retina_digicert_secure_x = 0px;
$retina_digicert_secure_y = 316px;
$retina_digicert_secure_offset_x = 0px;
$retina_digicert_secure_offset_y = -316px;
$retina_digicert_secure_width = 82px;
$retina_digicert_secure_height = 60px;
$retina_digicert_secure_total_width = 438px;
$retina_digicert_secure_total_height = 376px;
$retina_digicert_secure_image = '/static/sprite@2x.png';
$retina_digicert_secure = 0px 316px 0px -316px 82px 60px 438px 376px '/static/sprite@2x.png' 'retina_digicert_secure';
$retina_equity_name = 'retina_equity';
$retina_equity_x = 128px;
$retina_equity_y = 128px;
$retina_equity_offset_x = -128px;
$retina_equity_offset_y = -128px;
$retina_equity_width = 122px;
$retina_equity_height = 50px;
$retina_equity_total_width = 438px;
$retina_equity_total_height = 376px;
$retina_equity_image = '/static/sprite@2x.png';
$retina_equity = 128px 128px -128px -128px 122px 50px 438px 376px '/static/sprite@2x.png' 'retina_equity';
$retina_jumvea_shield_name = 'retina_jumvea_shield';
$retina_jumvea_shield_x = 276px;
$retina_jumvea_shield_y = 120px;
$retina_jumvea_shield_offset_x = -276px;
$retina_jumvea_shield_offset_y = -120px;
$retina_jumvea_shield_width = 71px;
$retina_jumvea_shield_height = 81px;
$retina_jumvea_shield_total_width = 438px;
$retina_jumvea_shield_total_height = 376px;
$retina_jumvea_shield_image = '/static/sprite@2x.png';
$retina_jumvea_shield = 276px 120px -276px -120px 71px 81px 438px 376px '/static/sprite@2x.png' 'retina_jumvea_shield';
$retina_jumvea_name = 'retina_jumvea';
$retina_jumvea_x = 128px;
$retina_jumvea_y = 178px;
$retina_jumvea_offset_x = -128px;
$retina_jumvea_offset_y = -178px;
$retina_jumvea_width = 95px;
$retina_jumvea_height = 64px;
$retina_jumvea_total_width = 438px;
$retina_jumvea_total_height = 376px;
$retina_jumvea_image = '/static/sprite@2x.png';
$retina_jumvea = 128px 178px -128px -178px 95px 64px 438px 376px '/static/sprite@2x.png' 'retina_jumvea';
$retina_logo_footer_name = 'retina_logo_footer';
$retina_logo_footer_x = 0px;
$retina_logo_footer_y = 0px;
$retina_logo_footer_offset_x = 0px;
$retina_logo_footer_offset_y = 0px;
$retina_logo_footer_width = 276px;
$retina_logo_footer_height = 128px;
$retina_logo_footer_total_width = 438px;
$retina_logo_footer_total_height = 376px;
$retina_logo_footer_image = '/static/sprite@2x.png';
$retina_logo_footer = 0px 0px 0px 0px 276px 128px 438px 376px '/static/sprite@2x.png' 'retina_logo_footer';
$retina_master_card_name = 'retina_master_card';
$retina_master_card_x = 276px;
$retina_master_card_y = 0px;
$retina_master_card_offset_x = -276px;
$retina_master_card_offset_y = 0px;
$retina_master_card_width = 100px;
$retina_master_card_height = 60px;
$retina_master_card_total_width = 438px;
$retina_master_card_total_height = 376px;
$retina_master_card_image = '/static/sprite@2x.png';
$retina_master_card = 276px 0px -276px 0px 100px 60px 438px 376px '/static/sprite@2x.png' 'retina_master_card';
$retina_paypal_name = 'retina_paypal';
$retina_paypal_x = 276px;
$retina_paypal_y = 60px;
$retina_paypal_offset_x = -276px;
$retina_paypal_offset_y = -60px;
$retina_paypal_width = 100px;
$retina_paypal_height = 60px;
$retina_paypal_total_width = 438px;
$retina_paypal_total_height = 376px;
$retina_paypal_image = '/static/sprite@2x.png';
$retina_paypal = 276px 60px -276px -60px 100px 60px 438px 376px '/static/sprite@2x.png' 'retina_paypal';
$retina_resona_bank_name = 'retina_resona_bank';
$retina_resona_bank_x = 376px;
$retina_resona_bank_y = 0px;
$retina_resona_bank_offset_x = -376px;
$retina_resona_bank_offset_y = 0px;
$retina_resona_bank_width = 62px;
$retina_resona_bank_height = 80px;
$retina_resona_bank_total_width = 438px;
$retina_resona_bank_total_height = 376px;
$retina_resona_bank_image = '/static/sprite@2x.png';
$retina_resona_bank = 376px 0px -376px 0px 62px 80px 438px 376px '/static/sprite@2x.png' 'retina_resona_bank';
$retina_test_name = 'retina_test';
$retina_test_x = 0px;
$retina_test_y = 128px;
$retina_test_offset_x = 0px;
$retina_test_offset_y = -128px;
$retina_test_width = 128px;
$retina_test_height = 128px;
$retina_test_total_width = 438px;
$retina_test_total_height = 376px;
$retina_test_image = '/static/sprite@2x.png';
$retina_test = 0px 128px 0px -128px 128px 128px 438px 376px '/static/sprite@2x.png' 'retina_test';
$retina_visa_name = 'retina_visa';
$retina_visa_x = 0px;
$retina_visa_y = 256px;
$retina_visa_offset_x = 0px;
$retina_visa_offset_y = -256px;
$retina_visa_width = 94px;
$retina_visa_height = 60px;
$retina_visa_total_width = 438px;
$retina_visa_total_height = 376px;
$retina_visa_image = '/static/sprite@2x.png';
$retina_visa = 0px 256px 0px -256px 94px 60px 438px 376px '/static/sprite@2x.png' 'retina_visa';
$spritesheet_width = 215px;
$spritesheet_height = 156px;
$spritesheet_image = '/static/sprite.png';
$spritesheet_sprites = $bank_transfer $digicert_secure $equity $jumvea_shield $jumvea $logo_footer $master_card $paypal $resona_bank $test $visa;
$spritesheet = 215px 156px '/static/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 438px;
$retina_spritesheet_height = 376px;
$retina_spritesheet_image = '/static/sprite@2x.png';
$retina_spritesheet_sprites = $retina_bank_transfer $retina_digicert_secure $retina_equity $retina_jumvea_shield $retina_jumvea $retina_logo_footer $retina_master_card $retina_paypal $retina_resona_bank $retina_test $retina_visa;
$retina_spritesheet = 438px 376px '/static/sprite@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$bank_transfer_group_name = 'bank_transfer';
$bank_transfer_group = 'bank_transfer' $bank_transfer $retina_bank_transfer;
$digicert_secure_group_name = 'digicert_secure';
$digicert_secure_group = 'digicert_secure' $digicert_secure $retina_digicert_secure;
$equity_group_name = 'equity';
$equity_group = 'equity' $equity $retina_equity;
$jumvea_shield_group_name = 'jumvea_shield';
$jumvea_shield_group = 'jumvea_shield' $jumvea_shield $retina_jumvea_shield;
$jumvea_group_name = 'jumvea';
$jumvea_group = 'jumvea' $jumvea $retina_jumvea;
$logo_footer_group_name = 'logo_footer';
$logo_footer_group = 'logo_footer' $logo_footer $retina_logo_footer;
$master_card_group_name = 'master_card';
$master_card_group = 'master_card' $master_card $retina_master_card;
$paypal_group_name = 'paypal';
$paypal_group = 'paypal' $paypal $retina_paypal;
$resona_bank_group_name = 'resona_bank';
$resona_bank_group = 'resona_bank' $resona_bank $retina_resona_bank;
$test_group_name = 'test';
$test_group = 'test' $test $retina_test;
$visa_group_name = 'visa';
$visa_group = 'visa' $visa $retina_visa;
$retina_groups = $bank_transfer_group $digicert_secure_group $equity_group $jumvea_shield_group $jumvea_group $logo_footer_group $master_card_group $paypal_group $resona_bank_group $test_group $visa_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
