/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$about_us_bank__mizuho_name = 'about-us-bank__MIZUHO';
$about_us_bank__mizuho_x = 0px;
$about_us_bank__mizuho_y = 0px;
$about_us_bank__mizuho_offset_x = 0px;
$about_us_bank__mizuho_offset_y = 0px;
$about_us_bank__mizuho_width = 200px;
$about_us_bank__mizuho_height = 60px;
$about_us_bank__mizuho_total_width = 408px;
$about_us_bank__mizuho_total_height = 390px;
$about_us_bank__mizuho_image = '/static/sprite.png';
$about_us_bank__mizuho = 0px 0px 0px 0px 200px 60px 408px 390px '/static/sprite.png' 'about-us-bank__MIZUHO';
$about_us_bank__resona_name = 'about-us-bank__RESONA';
$about_us_bank__resona_x = 0px;
$about_us_bank__resona_y = 120px;
$about_us_bank__resona_offset_x = 0px;
$about_us_bank__resona_offset_y = -120px;
$about_us_bank__resona_width = 200px;
$about_us_bank__resona_height = 60px;
$about_us_bank__resona_total_width = 408px;
$about_us_bank__resona_total_height = 390px;
$about_us_bank__resona_image = '/static/sprite.png';
$about_us_bank__resona = 0px 120px 0px -120px 200px 60px 408px 390px '/static/sprite.png' 'about-us-bank__RESONA';
$about_us_bank__sumitomo_mitsui_name = 'about-us-bank__SUMITOMO_MITSUI';
$about_us_bank__sumitomo_mitsui_x = 0px;
$about_us_bank__sumitomo_mitsui_y = 60px;
$about_us_bank__sumitomo_mitsui_offset_x = 0px;
$about_us_bank__sumitomo_mitsui_offset_y = -60px;
$about_us_bank__sumitomo_mitsui_width = 200px;
$about_us_bank__sumitomo_mitsui_height = 60px;
$about_us_bank__sumitomo_mitsui_total_width = 408px;
$about_us_bank__sumitomo_mitsui_total_height = 390px;
$about_us_bank__sumitomo_mitsui_image = '/static/sprite.png';
$about_us_bank__sumitomo_mitsui = 0px 60px 0px -60px 200px 60px 408px 390px '/static/sprite.png' 'about-us-bank__SUMITOMO_MITSUI';
$footer__bahamas_name = 'footer__bahamas';
$footer__bahamas_x = 315px;
$footer__bahamas_y = 64px;
$footer__bahamas_offset_x = -315px;
$footer__bahamas_offset_y = -64px;
$footer__bahamas_width = 22px;
$footer__bahamas_height = 15px;
$footer__bahamas_total_width = 408px;
$footer__bahamas_total_height = 390px;
$footer__bahamas_image = '/static/sprite.png';
$footer__bahamas = 315px 64px -315px -64px 22px 15px 408px 390px '/static/sprite.png' 'footer__bahamas';
$footer__bank_transfer_name = 'footer__bank_transfer';
$footer__bank_transfer_x = 335px;
$footer__bank_transfer_y = 315px;
$footer__bank_transfer_offset_x = -335px;
$footer__bank_transfer_offset_y = -315px;
$footer__bank_transfer_width = 46px;
$footer__bank_transfer_height = 28px;
$footer__bank_transfer_total_width = 408px;
$footer__bank_transfer_total_height = 390px;
$footer__bank_transfer_image = '/static/sprite.png';
$footer__bank_transfer = 335px 315px -335px -315px 46px 28px 408px 390px '/static/sprite.png' 'footer__bank_transfer';
$footer__bmw_name = 'footer__bmw';
$footer__bmw_x = 338px;
$footer__bmw_y = 0px;
$footer__bmw_offset_x = -338px;
$footer__bmw_offset_y = 0px;
$footer__bmw_width = 70px;
$footer__bmw_height = 45px;
$footer__bmw_total_width = 408px;
$footer__bmw_total_height = 390px;
$footer__bmw_image = '/static/sprite.png';
$footer__bmw = 338px 0px -338px 0px 70px 45px 408px 390px '/static/sprite.png' 'footer__bmw';
$footer__bus_name = 'footer__bus';
$footer__bus_x = 0px;
$footer__bus_y = 180px;
$footer__bus_offset_x = 0px;
$footer__bus_offset_y = -180px;
$footer__bus_width = 115px;
$footer__bus_height = 45px;
$footer__bus_total_width = 408px;
$footer__bus_total_height = 390px;
$footer__bus_image = '/static/sprite.png';
$footer__bus = 0px 180px 0px -180px 115px 45px 408px 390px '/static/sprite.png' 'footer__bus';
$footer__convertible_name = 'footer__convertible';
$footer__convertible_x = 115px;
$footer__convertible_y = 180px;
$footer__convertible_offset_x = -115px;
$footer__convertible_offset_y = -180px;
$footer__convertible_width = 115px;
$footer__convertible_height = 45px;
$footer__convertible_total_width = 408px;
$footer__convertible_total_height = 390px;
$footer__convertible_image = '/static/sprite.png';
$footer__convertible = 115px 180px -115px -180px 115px 45px 408px 390px '/static/sprite.png' 'footer__convertible';
$footer__coupe_name = 'footer__coupe';
$footer__coupe_x = 0px;
$footer__coupe_y = 225px;
$footer__coupe_offset_x = 0px;
$footer__coupe_offset_y = -225px;
$footer__coupe_width = 115px;
$footer__coupe_height = 45px;
$footer__coupe_total_width = 408px;
$footer__coupe_total_height = 390px;
$footer__coupe_image = '/static/sprite.png';
$footer__coupe = 0px 225px 0px -225px 115px 45px 408px 390px '/static/sprite.png' 'footer__coupe';
$footer__digicert_secure_name = 'footer__digicert_secure';
$footer__digicert_secure_x = 0px;
$footer__digicert_secure_y = 360px;
$footer__digicert_secure_offset_x = 0px;
$footer__digicert_secure_offset_y = -360px;
$footer__digicert_secure_width = 41px;
$footer__digicert_secure_height = 30px;
$footer__digicert_secure_total_width = 408px;
$footer__digicert_secure_total_height = 390px;
$footer__digicert_secure_image = '/static/sprite.png';
$footer__digicert_secure = 0px 360px 0px -360px 41px 30px 408px 390px '/static/sprite.png' 'footer__digicert_secure';
$footer__equity_name = 'footer__equity';
$footer__equity_x = 200px;
$footer__equity_y = 154px;
$footer__equity_offset_x = -200px;
$footer__equity_offset_y = -154px;
$footer__equity_width = 61px;
$footer__equity_height = 25px;
$footer__equity_total_width = 408px;
$footer__equity_total_height = 390px;
$footer__equity_image = '/static/sprite.png';
$footer__equity = 200px 154px -200px -154px 61px 25px 408px 390px '/static/sprite.png' 'footer__equity';
$footer__ford_name = 'footer__ford';
$footer__ford_x = 230px;
$footer__ford_y = 225px;
$footer__ford_offset_x = -230px;
$footer__ford_offset_y = -225px;
$footer__ford_width = 70px;
$footer__ford_height = 45px;
$footer__ford_total_width = 408px;
$footer__ford_total_height = 390px;
$footer__ford_image = '/static/sprite.png';
$footer__ford = 230px 225px -230px -225px 70px 45px 408px 390px '/static/sprite.png' 'footer__ford';
$footer__hatchback_name = 'footer__hatchback';
$footer__hatchback_x = 115px;
$footer__hatchback_y = 270px;
$footer__hatchback_offset_x = -115px;
$footer__hatchback_offset_y = -270px;
$footer__hatchback_width = 115px;
$footer__hatchback_height = 45px;
$footer__hatchback_total_width = 408px;
$footer__hatchback_total_height = 390px;
$footer__hatchback_image = '/static/sprite.png';
$footer__hatchback = 115px 270px -115px -270px 115px 45px 408px 390px '/static/sprite.png' 'footer__hatchback';
$footer__honda_name = 'footer__honda';
$footer__honda_x = 338px;
$footer__honda_y = 90px;
$footer__honda_offset_x = -338px;
$footer__honda_offset_y = -90px;
$footer__honda_width = 70px;
$footer__honda_height = 45px;
$footer__honda_total_width = 408px;
$footer__honda_total_height = 390px;
$footer__honda_image = '/static/sprite.png';
$footer__honda = 338px 90px -338px -90px 70px 45px 408px 390px '/static/sprite.png' 'footer__honda';
$footer__isuzu_name = 'footer__isuzu';
$footer__isuzu_x = 338px;
$footer__isuzu_y = 180px;
$footer__isuzu_offset_x = -338px;
$footer__isuzu_offset_y = -180px;
$footer__isuzu_width = 70px;
$footer__isuzu_height = 45px;
$footer__isuzu_total_width = 408px;
$footer__isuzu_total_height = 390px;
$footer__isuzu_image = '/static/sprite.png';
$footer__isuzu = 338px 180px -338px -180px 70px 45px 408px 390px '/static/sprite.png' 'footer__isuzu';
$footer__jumvea_shield_name = 'footer__jumvea_shield';
$footer__jumvea_shield_x = 300px;
$footer__jumvea_shield_y = 180px;
$footer__jumvea_shield_offset_x = -300px;
$footer__jumvea_shield_offset_y = -180px;
$footer__jumvea_shield_width = 36px;
$footer__jumvea_shield_height = 41px;
$footer__jumvea_shield_total_width = 408px;
$footer__jumvea_shield_total_height = 390px;
$footer__jumvea_shield_image = '/static/sprite.png';
$footer__jumvea_shield = 300px 180px -300px -180px 36px 41px 408px 390px '/static/sprite.png' 'footer__jumvea_shield';
$footer__jumvea_name = 'footer__jumvea';
$footer__jumvea_x = 140px;
$footer__jumvea_y = 315px;
$footer__jumvea_offset_x = -140px;
$footer__jumvea_offset_y = -315px;
$footer__jumvea_width = 48px;
$footer__jumvea_height = 32px;
$footer__jumvea_total_width = 408px;
$footer__jumvea_total_height = 390px;
$footer__jumvea_image = '/static/sprite.png';
$footer__jumvea = 140px 315px -140px -315px 48px 32px 408px 390px '/static/sprite.png' 'footer__jumvea';
$footer__kenya_name = 'footer__kenya';
$footer__kenya_x = 315px;
$footer__kenya_y = 94px;
$footer__kenya_offset_x = -315px;
$footer__kenya_offset_y = -94px;
$footer__kenya_width = 22px;
$footer__kenya_height = 15px;
$footer__kenya_total_width = 408px;
$footer__kenya_total_height = 390px;
$footer__kenya_image = '/static/sprite.png';
$footer__kenya = 315px 94px -315px -94px 22px 15px 408px 390px '/static/sprite.png' 'footer__kenya';
$footer__logo_footer_name = 'footer__logo_footer';
$footer__logo_footer_x = 200px;
$footer__logo_footer_y = 0px;
$footer__logo_footer_offset_x = -200px;
$footer__logo_footer_offset_y = 0px;
$footer__logo_footer_width = 138px;
$footer__logo_footer_height = 64px;
$footer__logo_footer_total_width = 408px;
$footer__logo_footer_total_height = 390px;
$footer__logo_footer_image = '/static/sprite.png';
$footer__logo_footer = 200px 0px -200px 0px 138px 64px 408px 390px '/static/sprite.png' 'footer__logo_footer';
$footer__malawi_name = 'footer__malawi';
$footer__malawi_x = 315px;
$footer__malawi_y = 124px;
$footer__malawi_offset_x = -315px;
$footer__malawi_offset_y = -124px;
$footer__malawi_width = 22px;
$footer__malawi_height = 15px;
$footer__malawi_total_width = 408px;
$footer__malawi_total_height = 390px;
$footer__malawi_image = '/static/sprite.png';
$footer__malawi = 315px 124px -315px -124px 22px 15px 408px 390px '/static/sprite.png' 'footer__malawi';
$footer__master_card_name = 'footer__master_card';
$footer__master_card_x = 188px;
$footer__master_card_y = 315px;
$footer__master_card_offset_x = -188px;
$footer__master_card_offset_y = -315px;
$footer__master_card_width = 50px;
$footer__master_card_height = 30px;
$footer__master_card_total_width = 408px;
$footer__master_card_total_height = 390px;
$footer__master_card_image = '/static/sprite.png';
$footer__master_card = 188px 315px -188px -315px 50px 30px 408px 390px '/static/sprite.png' 'footer__master_card';
$footer__mazda_name = 'footer__mazda';
$footer__mazda_x = 230px;
$footer__mazda_y = 180px;
$footer__mazda_offset_x = -230px;
$footer__mazda_offset_y = -180px;
$footer__mazda_width = 70px;
$footer__mazda_height = 45px;
$footer__mazda_total_width = 408px;
$footer__mazda_total_height = 390px;
$footer__mazda_image = '/static/sprite.png';
$footer__mazda = 230px 180px -230px -180px 70px 45px 408px 390px '/static/sprite.png' 'footer__mazda';
$footer__mercedes_benz_name = 'footer__mercedes_benz';
$footer__mercedes_benz_x = 338px;
$footer__mercedes_benz_y = 225px;
$footer__mercedes_benz_offset_x = -338px;
$footer__mercedes_benz_offset_y = -225px;
$footer__mercedes_benz_width = 70px;
$footer__mercedes_benz_height = 45px;
$footer__mercedes_benz_total_width = 408px;
$footer__mercedes_benz_total_height = 390px;
$footer__mercedes_benz_image = '/static/sprite.png';
$footer__mercedes_benz = 338px 225px -338px -225px 70px 45px 408px 390px '/static/sprite.png' 'footer__mercedes_benz';
$footer__mozambique_name = 'footer__mozambique';
$footer__mozambique_x = 315px;
$footer__mozambique_y = 109px;
$footer__mozambique_offset_x = -315px;
$footer__mozambique_offset_y = -109px;
$footer__mozambique_width = 22px;
$footer__mozambique_height = 15px;
$footer__mozambique_total_width = 408px;
$footer__mozambique_total_height = 390px;
$footer__mozambique_image = '/static/sprite.png';
$footer__mozambique = 315px 109px -315px -109px 22px 15px 408px 390px '/static/sprite.png' 'footer__mozambique';
$footer__nisan_name = 'footer__nisan';
$footer__nisan_x = 0px;
$footer__nisan_y = 315px;
$footer__nisan_offset_x = 0px;
$footer__nisan_offset_y = -315px;
$footer__nisan_width = 70px;
$footer__nisan_height = 45px;
$footer__nisan_total_width = 408px;
$footer__nisan_total_height = 390px;
$footer__nisan_image = '/static/sprite.png';
$footer__nisan = 0px 315px 0px -315px 70px 45px 408px 390px '/static/sprite.png' 'footer__nisan';
$footer__paypal_name = 'footer__paypal';
$footer__paypal_x = 238px;
$footer__paypal_y = 315px;
$footer__paypal_offset_x = -238px;
$footer__paypal_offset_y = -315px;
$footer__paypal_width = 50px;
$footer__paypal_height = 30px;
$footer__paypal_total_width = 408px;
$footer__paypal_total_height = 390px;
$footer__paypal_image = '/static/sprite.png';
$footer__paypal = 238px 315px -238px -315px 50px 30px 408px 390px '/static/sprite.png' 'footer__paypal';
$footer__resona_bank_name = 'footer__resona_bank';
$footer__resona_bank_x = 300px;
$footer__resona_bank_y = 225px;
$footer__resona_bank_offset_x = -300px;
$footer__resona_bank_offset_y = -225px;
$footer__resona_bank_width = 31px;
$footer__resona_bank_height = 40px;
$footer__resona_bank_total_width = 408px;
$footer__resona_bank_total_height = 390px;
$footer__resona_bank_image = '/static/sprite.png';
$footer__resona_bank = 300px 225px -300px -225px 31px 40px 408px 390px '/static/sprite.png' 'footer__resona_bank';
$footer__sabaru_name = 'footer__sabaru';
$footer__sabaru_x = 70px;
$footer__sabaru_y = 315px;
$footer__sabaru_offset_x = -70px;
$footer__sabaru_offset_y = -315px;
$footer__sabaru_width = 70px;
$footer__sabaru_height = 45px;
$footer__sabaru_total_width = 408px;
$footer__sabaru_total_height = 390px;
$footer__sabaru_image = '/static/sprite.png';
$footer__sabaru = 70px 315px -70px -315px 70px 45px 408px 390px '/static/sprite.png' 'footer__sabaru';
$footer__sedan_name = 'footer__sedan';
$footer__sedan_x = 200px;
$footer__sedan_y = 109px;
$footer__sedan_offset_x = -200px;
$footer__sedan_offset_y = -109px;
$footer__sedan_width = 115px;
$footer__sedan_height = 45px;
$footer__sedan_total_width = 408px;
$footer__sedan_total_height = 390px;
$footer__sedan_image = '/static/sprite.png';
$footer__sedan = 200px 109px -200px -109px 115px 45px 408px 390px '/static/sprite.png' 'footer__sedan';
$footer__suv_name = 'footer__suv';
$footer__suv_x = 200px;
$footer__suv_y = 64px;
$footer__suv_offset_x = -200px;
$footer__suv_offset_y = -64px;
$footer__suv_width = 115px;
$footer__suv_height = 45px;
$footer__suv_total_width = 408px;
$footer__suv_total_height = 390px;
$footer__suv_image = '/static/sprite.png';
$footer__suv = 200px 64px -200px -64px 115px 45px 408px 390px '/static/sprite.png' 'footer__suv';
$footer__suzuki_name = 'footer__suzuki';
$footer__suzuki_x = 338px;
$footer__suzuki_y = 270px;
$footer__suzuki_offset_x = -338px;
$footer__suzuki_offset_y = -270px;
$footer__suzuki_width = 70px;
$footer__suzuki_height = 45px;
$footer__suzuki_total_width = 408px;
$footer__suzuki_total_height = 390px;
$footer__suzuki_image = '/static/sprite.png';
$footer__suzuki = 338px 270px -338px -270px 70px 45px 408px 390px '/static/sprite.png' 'footer__suzuki';
$footer__tanzania_name = 'footer__tanzania';
$footer__tanzania_x = 315px;
$footer__tanzania_y = 79px;
$footer__tanzania_offset_x = -315px;
$footer__tanzania_offset_y = -79px;
$footer__tanzania_width = 22px;
$footer__tanzania_height = 15px;
$footer__tanzania_total_width = 408px;
$footer__tanzania_total_height = 390px;
$footer__tanzania_image = '/static/sprite.png';
$footer__tanzania = 315px 79px -315px -79px 22px 15px 408px 390px '/static/sprite.png' 'footer__tanzania';
$footer__test_name = 'footer__test';
$footer__test_x = 300px;
$footer__test_y = 270px;
$footer__test_offset_x = -300px;
$footer__test_offset_y = -270px;
$footer__test_width = 32px;
$footer__test_height = 32px;
$footer__test_total_width = 408px;
$footer__test_total_height = 390px;
$footer__test_image = '/static/sprite.png';
$footer__test = 300px 270px -300px -270px 32px 32px 408px 390px '/static/sprite.png' 'footer__test';
$footer__toyota_name = 'footer__toyota';
$footer__toyota_x = 338px;
$footer__toyota_y = 135px;
$footer__toyota_offset_x = -338px;
$footer__toyota_offset_y = -135px;
$footer__toyota_width = 70px;
$footer__toyota_height = 45px;
$footer__toyota_total_width = 408px;
$footer__toyota_total_height = 390px;
$footer__toyota_image = '/static/sprite.png';
$footer__toyota = 338px 135px -338px -135px 70px 45px 408px 390px '/static/sprite.png' 'footer__toyota';
$footer__truck_2_name = 'footer__truck_2';
$footer__truck_2_x = 0px;
$footer__truck_2_y = 270px;
$footer__truck_2_offset_x = 0px;
$footer__truck_2_offset_y = -270px;
$footer__truck_2_width = 115px;
$footer__truck_2_height = 45px;
$footer__truck_2_total_width = 408px;
$footer__truck_2_total_height = 390px;
$footer__truck_2_image = '/static/sprite.png';
$footer__truck_2 = 0px 270px 0px -270px 115px 45px 408px 390px '/static/sprite.png' 'footer__truck_2';
$footer__visa_name = 'footer__visa';
$footer__visa_x = 288px;
$footer__visa_y = 315px;
$footer__visa_offset_x = -288px;
$footer__visa_offset_y = -315px;
$footer__visa_width = 47px;
$footer__visa_height = 30px;
$footer__visa_total_width = 408px;
$footer__visa_total_height = 390px;
$footer__visa_image = '/static/sprite.png';
$footer__visa = 288px 315px -288px -315px 47px 30px 408px 390px '/static/sprite.png' 'footer__visa';
$footer__volkswagen_name = 'footer__volkswagen';
$footer__volkswagen_x = 338px;
$footer__volkswagen_y = 45px;
$footer__volkswagen_offset_x = -338px;
$footer__volkswagen_offset_y = -45px;
$footer__volkswagen_width = 70px;
$footer__volkswagen_height = 45px;
$footer__volkswagen_total_width = 408px;
$footer__volkswagen_total_height = 390px;
$footer__volkswagen_image = '/static/sprite.png';
$footer__volkswagen = 338px 45px -338px -45px 70px 45px 408px 390px '/static/sprite.png' 'footer__volkswagen';
$footer__volvo_name = 'footer__volvo';
$footer__volvo_x = 230px;
$footer__volvo_y = 270px;
$footer__volvo_offset_x = -230px;
$footer__volvo_offset_y = -270px;
$footer__volvo_width = 70px;
$footer__volvo_height = 45px;
$footer__volvo_total_width = 408px;
$footer__volvo_total_height = 390px;
$footer__volvo_image = '/static/sprite.png';
$footer__volvo = 230px 270px -230px -270px 70px 45px 408px 390px '/static/sprite.png' 'footer__volvo';
$footer__wagon_name = 'footer__wagon';
$footer__wagon_x = 115px;
$footer__wagon_y = 225px;
$footer__wagon_offset_x = -115px;
$footer__wagon_offset_y = -225px;
$footer__wagon_width = 115px;
$footer__wagon_height = 45px;
$footer__wagon_total_width = 408px;
$footer__wagon_total_height = 390px;
$footer__wagon_image = '/static/sprite.png';
$footer__wagon = 115px 225px -115px -225px 115px 45px 408px 390px '/static/sprite.png' 'footer__wagon';
$retina_about_us_bank__mizuho_name = 'retina_about-us-bank__MIZUHO';
$retina_about_us_bank__mizuho_x = 0px;
$retina_about_us_bank__mizuho_y = 0px;
$retina_about_us_bank__mizuho_offset_x = 0px;
$retina_about_us_bank__mizuho_offset_y = 0px;
$retina_about_us_bank__mizuho_width = 400px;
$retina_about_us_bank__mizuho_height = 120px;
$retina_about_us_bank__mizuho_total_width = 944px;
$retina_about_us_bank__mizuho_total_height = 720px;
$retina_about_us_bank__mizuho_image = '/static/sprite@2x.png';
$retina_about_us_bank__mizuho = 0px 0px 0px 0px 400px 120px 944px 720px '/static/sprite@2x.png' 'retina_about-us-bank__MIZUHO';
$retina_about_us_bank__resona_name = 'retina_about-us-bank__RESONA';
$retina_about_us_bank__resona_x = 0px;
$retina_about_us_bank__resona_y = 240px;
$retina_about_us_bank__resona_offset_x = 0px;
$retina_about_us_bank__resona_offset_y = -240px;
$retina_about_us_bank__resona_width = 400px;
$retina_about_us_bank__resona_height = 120px;
$retina_about_us_bank__resona_total_width = 944px;
$retina_about_us_bank__resona_total_height = 720px;
$retina_about_us_bank__resona_image = '/static/sprite@2x.png';
$retina_about_us_bank__resona = 0px 240px 0px -240px 400px 120px 944px 720px '/static/sprite@2x.png' 'retina_about-us-bank__RESONA';
$retina_about_us_bank__sumitomo_mitsui_name = 'retina_about-us-bank__SUMITOMO_MITSUI';
$retina_about_us_bank__sumitomo_mitsui_x = 0px;
$retina_about_us_bank__sumitomo_mitsui_y = 120px;
$retina_about_us_bank__sumitomo_mitsui_offset_x = 0px;
$retina_about_us_bank__sumitomo_mitsui_offset_y = -120px;
$retina_about_us_bank__sumitomo_mitsui_width = 400px;
$retina_about_us_bank__sumitomo_mitsui_height = 120px;
$retina_about_us_bank__sumitomo_mitsui_total_width = 944px;
$retina_about_us_bank__sumitomo_mitsui_total_height = 720px;
$retina_about_us_bank__sumitomo_mitsui_image = '/static/sprite@2x.png';
$retina_about_us_bank__sumitomo_mitsui = 0px 120px 0px -120px 400px 120px 944px 720px '/static/sprite@2x.png' 'retina_about-us-bank__SUMITOMO_MITSUI';
$retina_footer__bahamas_name = 'retina_footer__bahamas';
$retina_footer__bahamas_x = 804px;
$retina_footer__bahamas_y = 675px;
$retina_footer__bahamas_offset_x = -804px;
$retina_footer__bahamas_offset_y = -675px;
$retina_footer__bahamas_width = 44px;
$retina_footer__bahamas_height = 30px;
$retina_footer__bahamas_total_width = 944px;
$retina_footer__bahamas_total_height = 720px;
$retina_footer__bahamas_image = '/static/sprite@2x.png';
$retina_footer__bahamas = 804px 675px -804px -675px 44px 30px 944px 720px '/static/sprite@2x.png' 'retina_footer__bahamas';
$retina_footer__bank_transfer_name = 'retina_footer__bank_transfer';
$retina_footer__bank_transfer_x = 676px;
$retina_footer__bank_transfer_y = 188px;
$retina_footer__bank_transfer_offset_x = -676px;
$retina_footer__bank_transfer_offset_y = -188px;
$retina_footer__bank_transfer_width = 92px;
$retina_footer__bank_transfer_height = 56px;
$retina_footer__bank_transfer_total_width = 944px;
$retina_footer__bank_transfer_total_height = 720px;
$retina_footer__bank_transfer_image = '/static/sprite@2x.png';
$retina_footer__bank_transfer = 676px 188px -676px -188px 92px 56px 944px 720px '/static/sprite@2x.png' 'retina_footer__bank_transfer';
$retina_footer__bmw_name = 'retina_footer__bmw';
$retina_footer__bmw_x = 804px;
$retina_footer__bmw_y = 270px;
$retina_footer__bmw_offset_x = -804px;
$retina_footer__bmw_offset_y = -270px;
$retina_footer__bmw_width = 140px;
$retina_footer__bmw_height = 90px;
$retina_footer__bmw_total_width = 944px;
$retina_footer__bmw_total_height = 720px;
$retina_footer__bmw_image = '/static/sprite@2x.png';
$retina_footer__bmw = 804px 270px -804px -270px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__bmw';
$retina_footer__bus_name = 'retina_footer__bus';
$retina_footer__bus_x = 0px;
$retina_footer__bus_y = 360px;
$retina_footer__bus_offset_x = 0px;
$retina_footer__bus_offset_y = -360px;
$retina_footer__bus_width = 230px;
$retina_footer__bus_height = 90px;
$retina_footer__bus_total_width = 944px;
$retina_footer__bus_total_height = 720px;
$retina_footer__bus_image = '/static/sprite@2x.png';
$retina_footer__bus = 0px 360px 0px -360px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__bus';
$retina_footer__convertible_name = 'retina_footer__convertible';
$retina_footer__convertible_x = 230px;
$retina_footer__convertible_y = 360px;
$retina_footer__convertible_offset_x = -230px;
$retina_footer__convertible_offset_y = -360px;
$retina_footer__convertible_width = 230px;
$retina_footer__convertible_height = 90px;
$retina_footer__convertible_total_width = 944px;
$retina_footer__convertible_total_height = 720px;
$retina_footer__convertible_image = '/static/sprite@2x.png';
$retina_footer__convertible = 230px 360px -230px -360px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__convertible';
$retina_footer__coupe_name = 'retina_footer__coupe';
$retina_footer__coupe_x = 0px;
$retina_footer__coupe_y = 450px;
$retina_footer__coupe_offset_x = 0px;
$retina_footer__coupe_offset_y = -450px;
$retina_footer__coupe_width = 230px;
$retina_footer__coupe_height = 90px;
$retina_footer__coupe_total_width = 944px;
$retina_footer__coupe_total_height = 720px;
$retina_footer__coupe_image = '/static/sprite@2x.png';
$retina_footer__coupe = 0px 450px 0px -450px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__coupe';
$retina_footer__digicert_secure_name = 'retina_footer__digicert_secure';
$retina_footer__digicert_secure_x = 676px;
$retina_footer__digicert_secure_y = 244px;
$retina_footer__digicert_secure_offset_x = -676px;
$retina_footer__digicert_secure_offset_y = -244px;
$retina_footer__digicert_secure_width = 82px;
$retina_footer__digicert_secure_height = 60px;
$retina_footer__digicert_secure_total_width = 944px;
$retina_footer__digicert_secure_total_height = 720px;
$retina_footer__digicert_secure_image = '/static/sprite@2x.png';
$retina_footer__digicert_secure = 676px 244px -676px -244px 82px 60px 944px 720px '/static/sprite@2x.png' 'retina_footer__digicert_secure';
$retina_footer__equity_name = 'retina_footer__equity';
$retina_footer__equity_x = 804px;
$retina_footer__equity_y = 360px;
$retina_footer__equity_offset_x = -804px;
$retina_footer__equity_offset_y = -360px;
$retina_footer__equity_width = 122px;
$retina_footer__equity_height = 50px;
$retina_footer__equity_total_width = 944px;
$retina_footer__equity_total_height = 720px;
$retina_footer__equity_image = '/static/sprite@2x.png';
$retina_footer__equity = 804px 360px -804px -360px 122px 50px 944px 720px '/static/sprite@2x.png' 'retina_footer__equity';
$retina_footer__ford_name = 'retina_footer__ford';
$retina_footer__ford_x = 804px;
$retina_footer__ford_y = 0px;
$retina_footer__ford_offset_x = -804px;
$retina_footer__ford_offset_y = 0px;
$retina_footer__ford_width = 140px;
$retina_footer__ford_height = 90px;
$retina_footer__ford_total_width = 944px;
$retina_footer__ford_total_height = 720px;
$retina_footer__ford_image = '/static/sprite@2x.png';
$retina_footer__ford = 804px 0px -804px 0px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__ford';
$retina_footer__hatchback_name = 'retina_footer__hatchback';
$retina_footer__hatchback_x = 230px;
$retina_footer__hatchback_y = 540px;
$retina_footer__hatchback_offset_x = -230px;
$retina_footer__hatchback_offset_y = -540px;
$retina_footer__hatchback_width = 230px;
$retina_footer__hatchback_height = 90px;
$retina_footer__hatchback_total_width = 944px;
$retina_footer__hatchback_total_height = 720px;
$retina_footer__hatchback_image = '/static/sprite@2x.png';
$retina_footer__hatchback = 230px 540px -230px -540px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__hatchback';
$retina_footer__honda_name = 'retina_footer__honda';
$retina_footer__honda_x = 804px;
$retina_footer__honda_y = 180px;
$retina_footer__honda_offset_x = -804px;
$retina_footer__honda_offset_y = -180px;
$retina_footer__honda_width = 140px;
$retina_footer__honda_height = 90px;
$retina_footer__honda_total_width = 944px;
$retina_footer__honda_total_height = 720px;
$retina_footer__honda_image = '/static/sprite@2x.png';
$retina_footer__honda = 804px 180px -804px -180px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__honda';
$retina_footer__isuzu_name = 'retina_footer__isuzu';
$retina_footer__isuzu_x = 420px;
$retina_footer__isuzu_y = 630px;
$retina_footer__isuzu_offset_x = -420px;
$retina_footer__isuzu_offset_y = -630px;
$retina_footer__isuzu_width = 140px;
$retina_footer__isuzu_height = 90px;
$retina_footer__isuzu_total_width = 944px;
$retina_footer__isuzu_total_height = 720px;
$retina_footer__isuzu_image = '/static/sprite@2x.png';
$retina_footer__isuzu = 420px 630px -420px -630px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__isuzu';
$retina_footer__jumvea_shield_name = 'retina_footer__jumvea_shield';
$retina_footer__jumvea_shield_x = 804px;
$retina_footer__jumvea_shield_y = 594px;
$retina_footer__jumvea_shield_offset_x = -804px;
$retina_footer__jumvea_shield_offset_y = -594px;
$retina_footer__jumvea_shield_width = 71px;
$retina_footer__jumvea_shield_height = 81px;
$retina_footer__jumvea_shield_total_width = 944px;
$retina_footer__jumvea_shield_total_height = 720px;
$retina_footer__jumvea_shield_image = '/static/sprite@2x.png';
$retina_footer__jumvea_shield = 804px 594px -804px -594px 71px 81px 944px 720px '/static/sprite@2x.png' 'retina_footer__jumvea_shield';
$retina_footer__jumvea_name = 'retina_footer__jumvea';
$retina_footer__jumvea_x = 804px;
$retina_footer__jumvea_y = 410px;
$retina_footer__jumvea_offset_x = -804px;
$retina_footer__jumvea_offset_y = -410px;
$retina_footer__jumvea_width = 95px;
$retina_footer__jumvea_height = 64px;
$retina_footer__jumvea_total_width = 944px;
$retina_footer__jumvea_total_height = 720px;
$retina_footer__jumvea_image = '/static/sprite@2x.png';
$retina_footer__jumvea = 804px 410px -804px -410px 95px 64px 944px 720px '/static/sprite@2x.png' 'retina_footer__jumvea';
$retina_footer__kenya_name = 'retina_footer__kenya';
$retina_footer__kenya_x = 848px;
$retina_footer__kenya_y = 675px;
$retina_footer__kenya_offset_x = -848px;
$retina_footer__kenya_offset_y = -675px;
$retina_footer__kenya_width = 44px;
$retina_footer__kenya_height = 30px;
$retina_footer__kenya_total_width = 944px;
$retina_footer__kenya_total_height = 720px;
$retina_footer__kenya_image = '/static/sprite@2x.png';
$retina_footer__kenya = 848px 675px -848px -675px 44px 30px 944px 720px '/static/sprite@2x.png' 'retina_footer__kenya';
$retina_footer__logo_footer_name = 'retina_footer__logo_footer';
$retina_footer__logo_footer_x = 400px;
$retina_footer__logo_footer_y = 0px;
$retina_footer__logo_footer_offset_x = -400px;
$retina_footer__logo_footer_offset_y = 0px;
$retina_footer__logo_footer_width = 276px;
$retina_footer__logo_footer_height = 128px;
$retina_footer__logo_footer_total_width = 944px;
$retina_footer__logo_footer_total_height = 720px;
$retina_footer__logo_footer_image = '/static/sprite@2x.png';
$retina_footer__logo_footer = 400px 0px -400px 0px 276px 128px 944px 720px '/static/sprite@2x.png' 'retina_footer__logo_footer';
$retina_footer__malawi_name = 'retina_footer__malawi';
$retina_footer__malawi_x = 892px;
$retina_footer__malawi_y = 675px;
$retina_footer__malawi_offset_x = -892px;
$retina_footer__malawi_offset_y = -675px;
$retina_footer__malawi_width = 44px;
$retina_footer__malawi_height = 30px;
$retina_footer__malawi_total_width = 944px;
$retina_footer__malawi_total_height = 720px;
$retina_footer__malawi_image = '/static/sprite@2x.png';
$retina_footer__malawi = 892px 675px -892px -675px 44px 30px 944px 720px '/static/sprite@2x.png' 'retina_footer__malawi';
$retina_footer__master_card_name = 'retina_footer__master_card';
$retina_footer__master_card_x = 804px;
$retina_footer__master_card_y = 534px;
$retina_footer__master_card_offset_x = -804px;
$retina_footer__master_card_offset_y = -534px;
$retina_footer__master_card_width = 100px;
$retina_footer__master_card_height = 60px;
$retina_footer__master_card_total_width = 944px;
$retina_footer__master_card_total_height = 720px;
$retina_footer__master_card_image = '/static/sprite@2x.png';
$retina_footer__master_card = 804px 534px -804px -534px 100px 60px 944px 720px '/static/sprite@2x.png' 'retina_footer__master_card';
$retina_footer__mazda_name = 'retina_footer__mazda';
$retina_footer__mazda_x = 460px;
$retina_footer__mazda_y = 360px;
$retina_footer__mazda_offset_x = -460px;
$retina_footer__mazda_offset_y = -360px;
$retina_footer__mazda_width = 140px;
$retina_footer__mazda_height = 90px;
$retina_footer__mazda_total_width = 944px;
$retina_footer__mazda_total_height = 720px;
$retina_footer__mazda_image = '/static/sprite@2x.png';
$retina_footer__mazda = 460px 360px -460px -360px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__mazda';
$retina_footer__mercedes_benz_name = 'retina_footer__mercedes_benz';
$retina_footer__mercedes_benz_x = 560px;
$retina_footer__mercedes_benz_y = 630px;
$retina_footer__mercedes_benz_offset_x = -560px;
$retina_footer__mercedes_benz_offset_y = -630px;
$retina_footer__mercedes_benz_width = 140px;
$retina_footer__mercedes_benz_height = 90px;
$retina_footer__mercedes_benz_total_width = 944px;
$retina_footer__mercedes_benz_total_height = 720px;
$retina_footer__mercedes_benz_image = '/static/sprite@2x.png';
$retina_footer__mercedes_benz = 560px 630px -560px -630px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__mercedes_benz';
$retina_footer__mozambique_name = 'retina_footer__mozambique';
$retina_footer__mozambique_x = 899px;
$retina_footer__mozambique_y = 440px;
$retina_footer__mozambique_offset_x = -899px;
$retina_footer__mozambique_offset_y = -440px;
$retina_footer__mozambique_width = 44px;
$retina_footer__mozambique_height = 30px;
$retina_footer__mozambique_total_width = 944px;
$retina_footer__mozambique_total_height = 720px;
$retina_footer__mozambique_image = '/static/sprite@2x.png';
$retina_footer__mozambique = 899px 440px -899px -440px 44px 30px 944px 720px '/static/sprite@2x.png' 'retina_footer__mozambique';
$retina_footer__nisan_name = 'retina_footer__nisan';
$retina_footer__nisan_x = 804px;
$retina_footer__nisan_y = 90px;
$retina_footer__nisan_offset_x = -804px;
$retina_footer__nisan_offset_y = -90px;
$retina_footer__nisan_width = 140px;
$retina_footer__nisan_height = 90px;
$retina_footer__nisan_total_width = 944px;
$retina_footer__nisan_total_height = 720px;
$retina_footer__nisan_image = '/static/sprite@2x.png';
$retina_footer__nisan = 804px 90px -804px -90px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__nisan';
$retina_footer__paypal_name = 'retina_footer__paypal';
$retina_footer__paypal_x = 804px;
$retina_footer__paypal_y = 474px;
$retina_footer__paypal_offset_x = -804px;
$retina_footer__paypal_offset_y = -474px;
$retina_footer__paypal_width = 100px;
$retina_footer__paypal_height = 60px;
$retina_footer__paypal_total_width = 944px;
$retina_footer__paypal_total_height = 720px;
$retina_footer__paypal_image = '/static/sprite@2x.png';
$retina_footer__paypal = 804px 474px -804px -474px 100px 60px 944px 720px '/static/sprite@2x.png' 'retina_footer__paypal';
$retina_footer__resona_bank_name = 'retina_footer__resona_bank';
$retina_footer__resona_bank_x = 875px;
$retina_footer__resona_bank_y = 594px;
$retina_footer__resona_bank_offset_x = -875px;
$retina_footer__resona_bank_offset_y = -594px;
$retina_footer__resona_bank_width = 62px;
$retina_footer__resona_bank_height = 80px;
$retina_footer__resona_bank_total_width = 944px;
$retina_footer__resona_bank_total_height = 720px;
$retina_footer__resona_bank_image = '/static/sprite@2x.png';
$retina_footer__resona_bank = 875px 594px -875px -594px 62px 80px 944px 720px '/static/sprite@2x.png' 'retina_footer__resona_bank';
$retina_footer__sabaru_name = 'retina_footer__sabaru';
$retina_footer__sabaru_x = 460px;
$retina_footer__sabaru_y = 540px;
$retina_footer__sabaru_offset_x = -460px;
$retina_footer__sabaru_offset_y = -540px;
$retina_footer__sabaru_width = 140px;
$retina_footer__sabaru_height = 90px;
$retina_footer__sabaru_total_width = 944px;
$retina_footer__sabaru_total_height = 720px;
$retina_footer__sabaru_image = '/static/sprite@2x.png';
$retina_footer__sabaru = 460px 540px -460px -540px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__sabaru';
$retina_footer__sedan_name = 'retina_footer__sedan';
$retina_footer__sedan_x = 400px;
$retina_footer__sedan_y = 218px;
$retina_footer__sedan_offset_x = -400px;
$retina_footer__sedan_offset_y = -218px;
$retina_footer__sedan_width = 230px;
$retina_footer__sedan_height = 90px;
$retina_footer__sedan_total_width = 944px;
$retina_footer__sedan_total_height = 720px;
$retina_footer__sedan_image = '/static/sprite@2x.png';
$retina_footer__sedan = 400px 218px -400px -218px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__sedan';
$retina_footer__suv_name = 'retina_footer__suv';
$retina_footer__suv_x = 400px;
$retina_footer__suv_y = 128px;
$retina_footer__suv_offset_x = -400px;
$retina_footer__suv_offset_y = -128px;
$retina_footer__suv_width = 230px;
$retina_footer__suv_height = 90px;
$retina_footer__suv_total_width = 944px;
$retina_footer__suv_total_height = 720px;
$retina_footer__suv_image = '/static/sprite@2x.png';
$retina_footer__suv = 400px 128px -400px -128px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__suv';
$retina_footer__suzuki_name = 'retina_footer__suzuki';
$retina_footer__suzuki_x = 140px;
$retina_footer__suzuki_y = 630px;
$retina_footer__suzuki_offset_x = -140px;
$retina_footer__suzuki_offset_y = -630px;
$retina_footer__suzuki_width = 140px;
$retina_footer__suzuki_height = 90px;
$retina_footer__suzuki_total_width = 944px;
$retina_footer__suzuki_total_height = 720px;
$retina_footer__suzuki_image = '/static/sprite@2x.png';
$retina_footer__suzuki = 140px 630px -140px -630px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__suzuki';
$retina_footer__tanzania_name = 'retina_footer__tanzania';
$retina_footer__tanzania_x = 899px;
$retina_footer__tanzania_y = 410px;
$retina_footer__tanzania_offset_x = -899px;
$retina_footer__tanzania_offset_y = -410px;
$retina_footer__tanzania_width = 44px;
$retina_footer__tanzania_height = 30px;
$retina_footer__tanzania_total_width = 944px;
$retina_footer__tanzania_total_height = 720px;
$retina_footer__tanzania_image = '/static/sprite@2x.png';
$retina_footer__tanzania = 899px 410px -899px -410px 44px 30px 944px 720px '/static/sprite@2x.png' 'retina_footer__tanzania';
$retina_footer__test_name = 'retina_footer__test';
$retina_footer__test_x = 676px;
$retina_footer__test_y = 0px;
$retina_footer__test_offset_x = -676px;
$retina_footer__test_offset_y = 0px;
$retina_footer__test_width = 128px;
$retina_footer__test_height = 128px;
$retina_footer__test_total_width = 944px;
$retina_footer__test_total_height = 720px;
$retina_footer__test_image = '/static/sprite@2x.png';
$retina_footer__test = 676px 0px -676px 0px 128px 128px 944px 720px '/static/sprite@2x.png' 'retina_footer__test';
$retina_footer__toyota_name = 'retina_footer__toyota';
$retina_footer__toyota_x = 280px;
$retina_footer__toyota_y = 630px;
$retina_footer__toyota_offset_x = -280px;
$retina_footer__toyota_offset_y = -630px;
$retina_footer__toyota_width = 140px;
$retina_footer__toyota_height = 90px;
$retina_footer__toyota_total_width = 944px;
$retina_footer__toyota_total_height = 720px;
$retina_footer__toyota_image = '/static/sprite@2x.png';
$retina_footer__toyota = 280px 630px -280px -630px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__toyota';
$retina_footer__truck_2_name = 'retina_footer__truck_2';
$retina_footer__truck_2_x = 0px;
$retina_footer__truck_2_y = 540px;
$retina_footer__truck_2_offset_x = 0px;
$retina_footer__truck_2_offset_y = -540px;
$retina_footer__truck_2_width = 230px;
$retina_footer__truck_2_height = 90px;
$retina_footer__truck_2_total_width = 944px;
$retina_footer__truck_2_total_height = 720px;
$retina_footer__truck_2_image = '/static/sprite@2x.png';
$retina_footer__truck_2 = 0px 540px 0px -540px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__truck_2';
$retina_footer__visa_name = 'retina_footer__visa';
$retina_footer__visa_x = 676px;
$retina_footer__visa_y = 128px;
$retina_footer__visa_offset_x = -676px;
$retina_footer__visa_offset_y = -128px;
$retina_footer__visa_width = 94px;
$retina_footer__visa_height = 60px;
$retina_footer__visa_total_width = 944px;
$retina_footer__visa_total_height = 720px;
$retina_footer__visa_image = '/static/sprite@2x.png';
$retina_footer__visa = 676px 128px -676px -128px 94px 60px 944px 720px '/static/sprite@2x.png' 'retina_footer__visa';
$retina_footer__volkswagen_name = 'retina_footer__volkswagen';
$retina_footer__volkswagen_x = 0px;
$retina_footer__volkswagen_y = 630px;
$retina_footer__volkswagen_offset_x = 0px;
$retina_footer__volkswagen_offset_y = -630px;
$retina_footer__volkswagen_width = 140px;
$retina_footer__volkswagen_height = 90px;
$retina_footer__volkswagen_total_width = 944px;
$retina_footer__volkswagen_total_height = 720px;
$retina_footer__volkswagen_image = '/static/sprite@2x.png';
$retina_footer__volkswagen = 0px 630px 0px -630px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__volkswagen';
$retina_footer__volvo_name = 'retina_footer__volvo';
$retina_footer__volvo_x = 460px;
$retina_footer__volvo_y = 450px;
$retina_footer__volvo_offset_x = -460px;
$retina_footer__volvo_offset_y = -450px;
$retina_footer__volvo_width = 140px;
$retina_footer__volvo_height = 90px;
$retina_footer__volvo_total_width = 944px;
$retina_footer__volvo_total_height = 720px;
$retina_footer__volvo_image = '/static/sprite@2x.png';
$retina_footer__volvo = 460px 450px -460px -450px 140px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__volvo';
$retina_footer__wagon_name = 'retina_footer__wagon';
$retina_footer__wagon_x = 230px;
$retina_footer__wagon_y = 450px;
$retina_footer__wagon_offset_x = -230px;
$retina_footer__wagon_offset_y = -450px;
$retina_footer__wagon_width = 230px;
$retina_footer__wagon_height = 90px;
$retina_footer__wagon_total_width = 944px;
$retina_footer__wagon_total_height = 720px;
$retina_footer__wagon_image = '/static/sprite@2x.png';
$retina_footer__wagon = 230px 450px -230px -450px 230px 90px 944px 720px '/static/sprite@2x.png' 'retina_footer__wagon';
$spritesheet_width = 408px;
$spritesheet_height = 390px;
$spritesheet_image = '/static/sprite.png';
$spritesheet_sprites = $about_us_bank__mizuho $about_us_bank__resona $about_us_bank__sumitomo_mitsui $footer__bahamas $footer__bank_transfer $footer__bmw $footer__bus $footer__convertible $footer__coupe $footer__digicert_secure $footer__equity $footer__ford $footer__hatchback $footer__honda $footer__isuzu $footer__jumvea_shield $footer__jumvea $footer__kenya $footer__logo_footer $footer__malawi $footer__master_card $footer__mazda $footer__mercedes_benz $footer__mozambique $footer__nisan $footer__paypal $footer__resona_bank $footer__sabaru $footer__sedan $footer__suv $footer__suzuki $footer__tanzania $footer__test $footer__toyota $footer__truck_2 $footer__visa $footer__volkswagen $footer__volvo $footer__wagon;
$spritesheet = 408px 390px '/static/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 944px;
$retina_spritesheet_height = 720px;
$retina_spritesheet_image = '/static/sprite@2x.png';
$retina_spritesheet_sprites = $retina_about_us_bank__mizuho $retina_about_us_bank__resona $retina_about_us_bank__sumitomo_mitsui $retina_footer__bahamas $retina_footer__bank_transfer $retina_footer__bmw $retina_footer__bus $retina_footer__convertible $retina_footer__coupe $retina_footer__digicert_secure $retina_footer__equity $retina_footer__ford $retina_footer__hatchback $retina_footer__honda $retina_footer__isuzu $retina_footer__jumvea_shield $retina_footer__jumvea $retina_footer__kenya $retina_footer__logo_footer $retina_footer__malawi $retina_footer__master_card $retina_footer__mazda $retina_footer__mercedes_benz $retina_footer__mozambique $retina_footer__nisan $retina_footer__paypal $retina_footer__resona_bank $retina_footer__sabaru $retina_footer__sedan $retina_footer__suv $retina_footer__suzuki $retina_footer__tanzania $retina_footer__test $retina_footer__toyota $retina_footer__truck_2 $retina_footer__visa $retina_footer__volkswagen $retina_footer__volvo $retina_footer__wagon;
$retina_spritesheet = 944px 720px '/static/sprite@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$about_us_bank__mizuho_group_name = 'about-us-bank__MIZUHO';
$about_us_bank__mizuho_group = 'about-us-bank__MIZUHO' $about_us_bank__mizuho $retina_about_us_bank__mizuho;
$about_us_bank__resona_group_name = 'about-us-bank__RESONA';
$about_us_bank__resona_group = 'about-us-bank__RESONA' $about_us_bank__resona $retina_about_us_bank__resona;
$about_us_bank__sumitomo_mitsui_group_name = 'about-us-bank__SUMITOMO_MITSUI';
$about_us_bank__sumitomo_mitsui_group = 'about-us-bank__SUMITOMO_MITSUI' $about_us_bank__sumitomo_mitsui $retina_about_us_bank__sumitomo_mitsui;
$footer__bahamas_group_name = 'footer__bahamas';
$footer__bahamas_group = 'footer__bahamas' $footer__bahamas $retina_footer__bahamas;
$footer__bank_transfer_group_name = 'footer__bank_transfer';
$footer__bank_transfer_group = 'footer__bank_transfer' $footer__bank_transfer $retina_footer__bank_transfer;
$footer__bmw_group_name = 'footer__bmw';
$footer__bmw_group = 'footer__bmw' $footer__bmw $retina_footer__bmw;
$footer__bus_group_name = 'footer__bus';
$footer__bus_group = 'footer__bus' $footer__bus $retina_footer__bus;
$footer__convertible_group_name = 'footer__convertible';
$footer__convertible_group = 'footer__convertible' $footer__convertible $retina_footer__convertible;
$footer__coupe_group_name = 'footer__coupe';
$footer__coupe_group = 'footer__coupe' $footer__coupe $retina_footer__coupe;
$footer__digicert_secure_group_name = 'footer__digicert_secure';
$footer__digicert_secure_group = 'footer__digicert_secure' $footer__digicert_secure $retina_footer__digicert_secure;
$footer__equity_group_name = 'footer__equity';
$footer__equity_group = 'footer__equity' $footer__equity $retina_footer__equity;
$footer__ford_group_name = 'footer__ford';
$footer__ford_group = 'footer__ford' $footer__ford $retina_footer__ford;
$footer__hatchback_group_name = 'footer__hatchback';
$footer__hatchback_group = 'footer__hatchback' $footer__hatchback $retina_footer__hatchback;
$footer__honda_group_name = 'footer__honda';
$footer__honda_group = 'footer__honda' $footer__honda $retina_footer__honda;
$footer__isuzu_group_name = 'footer__isuzu';
$footer__isuzu_group = 'footer__isuzu' $footer__isuzu $retina_footer__isuzu;
$footer__jumvea_shield_group_name = 'footer__jumvea_shield';
$footer__jumvea_shield_group = 'footer__jumvea_shield' $footer__jumvea_shield $retina_footer__jumvea_shield;
$footer__jumvea_group_name = 'footer__jumvea';
$footer__jumvea_group = 'footer__jumvea' $footer__jumvea $retina_footer__jumvea;
$footer__kenya_group_name = 'footer__kenya';
$footer__kenya_group = 'footer__kenya' $footer__kenya $retina_footer__kenya;
$footer__logo_footer_group_name = 'footer__logo_footer';
$footer__logo_footer_group = 'footer__logo_footer' $footer__logo_footer $retina_footer__logo_footer;
$footer__malawi_group_name = 'footer__malawi';
$footer__malawi_group = 'footer__malawi' $footer__malawi $retina_footer__malawi;
$footer__master_card_group_name = 'footer__master_card';
$footer__master_card_group = 'footer__master_card' $footer__master_card $retina_footer__master_card;
$footer__mazda_group_name = 'footer__mazda';
$footer__mazda_group = 'footer__mazda' $footer__mazda $retina_footer__mazda;
$footer__mercedes_benz_group_name = 'footer__mercedes_benz';
$footer__mercedes_benz_group = 'footer__mercedes_benz' $footer__mercedes_benz $retina_footer__mercedes_benz;
$footer__mozambique_group_name = 'footer__mozambique';
$footer__mozambique_group = 'footer__mozambique' $footer__mozambique $retina_footer__mozambique;
$footer__nisan_group_name = 'footer__nisan';
$footer__nisan_group = 'footer__nisan' $footer__nisan $retina_footer__nisan;
$footer__paypal_group_name = 'footer__paypal';
$footer__paypal_group = 'footer__paypal' $footer__paypal $retina_footer__paypal;
$footer__resona_bank_group_name = 'footer__resona_bank';
$footer__resona_bank_group = 'footer__resona_bank' $footer__resona_bank $retina_footer__resona_bank;
$footer__sabaru_group_name = 'footer__sabaru';
$footer__sabaru_group = 'footer__sabaru' $footer__sabaru $retina_footer__sabaru;
$footer__sedan_group_name = 'footer__sedan';
$footer__sedan_group = 'footer__sedan' $footer__sedan $retina_footer__sedan;
$footer__suv_group_name = 'footer__suv';
$footer__suv_group = 'footer__suv' $footer__suv $retina_footer__suv;
$footer__suzuki_group_name = 'footer__suzuki';
$footer__suzuki_group = 'footer__suzuki' $footer__suzuki $retina_footer__suzuki;
$footer__tanzania_group_name = 'footer__tanzania';
$footer__tanzania_group = 'footer__tanzania' $footer__tanzania $retina_footer__tanzania;
$footer__test_group_name = 'footer__test';
$footer__test_group = 'footer__test' $footer__test $retina_footer__test;
$footer__toyota_group_name = 'footer__toyota';
$footer__toyota_group = 'footer__toyota' $footer__toyota $retina_footer__toyota;
$footer__truck_2_group_name = 'footer__truck_2';
$footer__truck_2_group = 'footer__truck_2' $footer__truck_2 $retina_footer__truck_2;
$footer__visa_group_name = 'footer__visa';
$footer__visa_group = 'footer__visa' $footer__visa $retina_footer__visa;
$footer__volkswagen_group_name = 'footer__volkswagen';
$footer__volkswagen_group = 'footer__volkswagen' $footer__volkswagen $retina_footer__volkswagen;
$footer__volvo_group_name = 'footer__volvo';
$footer__volvo_group = 'footer__volvo' $footer__volvo $retina_footer__volvo;
$footer__wagon_group_name = 'footer__wagon';
$footer__wagon_group = 'footer__wagon' $footer__wagon $retina_footer__wagon;
$retina_groups = $about_us_bank__mizuho_group $about_us_bank__resona_group $about_us_bank__sumitomo_mitsui_group $footer__bahamas_group $footer__bank_transfer_group $footer__bmw_group $footer__bus_group $footer__convertible_group $footer__coupe_group $footer__digicert_secure_group $footer__equity_group $footer__ford_group $footer__hatchback_group $footer__honda_group $footer__isuzu_group $footer__jumvea_shield_group $footer__jumvea_group $footer__kenya_group $footer__logo_footer_group $footer__malawi_group $footer__master_card_group $footer__mazda_group $footer__mercedes_benz_group $footer__mozambique_group $footer__nisan_group $footer__paypal_group $footer__resona_bank_group $footer__sabaru_group $footer__sedan_group $footer__suv_group $footer__suzuki_group $footer__tanzania_group $footer__test_group $footer__toyota_group $footer__truck_2_group $footer__visa_group $footer__volkswagen_group $footer__volvo_group $footer__wagon_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
