// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-us-bank-m-i-z-u-h-o-name: 'about-us-bank__MIZUHO';
$about-us-bank-m-i-z-u-h-o-x: 0px;
$about-us-bank-m-i-z-u-h-o-y: 0px;
$about-us-bank-m-i-z-u-h-o-offset-x: 0px;
$about-us-bank-m-i-z-u-h-o-offset-y: 0px;
$about-us-bank-m-i-z-u-h-o-width: 200px;
$about-us-bank-m-i-z-u-h-o-height: 60px;
$about-us-bank-m-i-z-u-h-o-total-width: 408px;
$about-us-bank-m-i-z-u-h-o-total-height: 390px;
$about-us-bank-m-i-z-u-h-o-image: '/static/sprite.png';
$about-us-bank-m-i-z-u-h-o: (0px, 0px, 0px, 0px, 200px, 60px, 408px, 390px, '/static/sprite.png', 'about-us-bank__MIZUHO', );
$about-us-bank-r-e-s-o-n-a-name: 'about-us-bank__RESONA';
$about-us-bank-r-e-s-o-n-a-x: 0px;
$about-us-bank-r-e-s-o-n-a-y: 120px;
$about-us-bank-r-e-s-o-n-a-offset-x: 0px;
$about-us-bank-r-e-s-o-n-a-offset-y: -120px;
$about-us-bank-r-e-s-o-n-a-width: 200px;
$about-us-bank-r-e-s-o-n-a-height: 60px;
$about-us-bank-r-e-s-o-n-a-total-width: 408px;
$about-us-bank-r-e-s-o-n-a-total-height: 390px;
$about-us-bank-r-e-s-o-n-a-image: '/static/sprite.png';
$about-us-bank-r-e-s-o-n-a: (0px, 120px, 0px, -120px, 200px, 60px, 408px, 390px, '/static/sprite.png', 'about-us-bank__RESONA', );
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-name: 'about-us-bank__SUMITOMO_MITSUI';
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-x: 0px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-y: 60px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-offset-x: 0px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-offset-y: -60px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-width: 200px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-height: 60px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-total-width: 408px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-total-height: 390px;
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-image: '/static/sprite.png';
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i: (0px, 60px, 0px, -60px, 200px, 60px, 408px, 390px, '/static/sprite.png', 'about-us-bank__SUMITOMO_MITSUI', );
$footer-bahamas-name: 'footer__bahamas';
$footer-bahamas-x: 315px;
$footer-bahamas-y: 64px;
$footer-bahamas-offset-x: -315px;
$footer-bahamas-offset-y: -64px;
$footer-bahamas-width: 22px;
$footer-bahamas-height: 15px;
$footer-bahamas-total-width: 408px;
$footer-bahamas-total-height: 390px;
$footer-bahamas-image: '/static/sprite.png';
$footer-bahamas: (315px, 64px, -315px, -64px, 22px, 15px, 408px, 390px, '/static/sprite.png', 'footer__bahamas', );
$footer-bank-transfer-name: 'footer__bank_transfer';
$footer-bank-transfer-x: 335px;
$footer-bank-transfer-y: 315px;
$footer-bank-transfer-offset-x: -335px;
$footer-bank-transfer-offset-y: -315px;
$footer-bank-transfer-width: 46px;
$footer-bank-transfer-height: 28px;
$footer-bank-transfer-total-width: 408px;
$footer-bank-transfer-total-height: 390px;
$footer-bank-transfer-image: '/static/sprite.png';
$footer-bank-transfer: (335px, 315px, -335px, -315px, 46px, 28px, 408px, 390px, '/static/sprite.png', 'footer__bank_transfer', );
$footer-bmw-name: 'footer__bmw';
$footer-bmw-x: 338px;
$footer-bmw-y: 0px;
$footer-bmw-offset-x: -338px;
$footer-bmw-offset-y: 0px;
$footer-bmw-width: 70px;
$footer-bmw-height: 45px;
$footer-bmw-total-width: 408px;
$footer-bmw-total-height: 390px;
$footer-bmw-image: '/static/sprite.png';
$footer-bmw: (338px, 0px, -338px, 0px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__bmw', );
$footer-bus-name: 'footer__bus';
$footer-bus-x: 0px;
$footer-bus-y: 180px;
$footer-bus-offset-x: 0px;
$footer-bus-offset-y: -180px;
$footer-bus-width: 115px;
$footer-bus-height: 45px;
$footer-bus-total-width: 408px;
$footer-bus-total-height: 390px;
$footer-bus-image: '/static/sprite.png';
$footer-bus: (0px, 180px, 0px, -180px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__bus', );
$footer-convertible-name: 'footer__convertible';
$footer-convertible-x: 115px;
$footer-convertible-y: 180px;
$footer-convertible-offset-x: -115px;
$footer-convertible-offset-y: -180px;
$footer-convertible-width: 115px;
$footer-convertible-height: 45px;
$footer-convertible-total-width: 408px;
$footer-convertible-total-height: 390px;
$footer-convertible-image: '/static/sprite.png';
$footer-convertible: (115px, 180px, -115px, -180px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__convertible', );
$footer-coupe-name: 'footer__coupe';
$footer-coupe-x: 0px;
$footer-coupe-y: 225px;
$footer-coupe-offset-x: 0px;
$footer-coupe-offset-y: -225px;
$footer-coupe-width: 115px;
$footer-coupe-height: 45px;
$footer-coupe-total-width: 408px;
$footer-coupe-total-height: 390px;
$footer-coupe-image: '/static/sprite.png';
$footer-coupe: (0px, 225px, 0px, -225px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__coupe', );
$footer-digicert-secure-name: 'footer__digicert_secure';
$footer-digicert-secure-x: 0px;
$footer-digicert-secure-y: 360px;
$footer-digicert-secure-offset-x: 0px;
$footer-digicert-secure-offset-y: -360px;
$footer-digicert-secure-width: 41px;
$footer-digicert-secure-height: 30px;
$footer-digicert-secure-total-width: 408px;
$footer-digicert-secure-total-height: 390px;
$footer-digicert-secure-image: '/static/sprite.png';
$footer-digicert-secure: (0px, 360px, 0px, -360px, 41px, 30px, 408px, 390px, '/static/sprite.png', 'footer__digicert_secure', );
$footer-equity-name: 'footer__equity';
$footer-equity-x: 200px;
$footer-equity-y: 154px;
$footer-equity-offset-x: -200px;
$footer-equity-offset-y: -154px;
$footer-equity-width: 61px;
$footer-equity-height: 25px;
$footer-equity-total-width: 408px;
$footer-equity-total-height: 390px;
$footer-equity-image: '/static/sprite.png';
$footer-equity: (200px, 154px, -200px, -154px, 61px, 25px, 408px, 390px, '/static/sprite.png', 'footer__equity', );
$footer-ford-name: 'footer__ford';
$footer-ford-x: 230px;
$footer-ford-y: 225px;
$footer-ford-offset-x: -230px;
$footer-ford-offset-y: -225px;
$footer-ford-width: 70px;
$footer-ford-height: 45px;
$footer-ford-total-width: 408px;
$footer-ford-total-height: 390px;
$footer-ford-image: '/static/sprite.png';
$footer-ford: (230px, 225px, -230px, -225px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__ford', );
$footer-hatchback-name: 'footer__hatchback';
$footer-hatchback-x: 115px;
$footer-hatchback-y: 270px;
$footer-hatchback-offset-x: -115px;
$footer-hatchback-offset-y: -270px;
$footer-hatchback-width: 115px;
$footer-hatchback-height: 45px;
$footer-hatchback-total-width: 408px;
$footer-hatchback-total-height: 390px;
$footer-hatchback-image: '/static/sprite.png';
$footer-hatchback: (115px, 270px, -115px, -270px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__hatchback', );
$footer-honda-name: 'footer__honda';
$footer-honda-x: 338px;
$footer-honda-y: 90px;
$footer-honda-offset-x: -338px;
$footer-honda-offset-y: -90px;
$footer-honda-width: 70px;
$footer-honda-height: 45px;
$footer-honda-total-width: 408px;
$footer-honda-total-height: 390px;
$footer-honda-image: '/static/sprite.png';
$footer-honda: (338px, 90px, -338px, -90px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__honda', );
$footer-isuzu-name: 'footer__isuzu';
$footer-isuzu-x: 338px;
$footer-isuzu-y: 180px;
$footer-isuzu-offset-x: -338px;
$footer-isuzu-offset-y: -180px;
$footer-isuzu-width: 70px;
$footer-isuzu-height: 45px;
$footer-isuzu-total-width: 408px;
$footer-isuzu-total-height: 390px;
$footer-isuzu-image: '/static/sprite.png';
$footer-isuzu: (338px, 180px, -338px, -180px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__isuzu', );
$footer-jumvea-shield-name: 'footer__jumvea_shield';
$footer-jumvea-shield-x: 300px;
$footer-jumvea-shield-y: 180px;
$footer-jumvea-shield-offset-x: -300px;
$footer-jumvea-shield-offset-y: -180px;
$footer-jumvea-shield-width: 36px;
$footer-jumvea-shield-height: 41px;
$footer-jumvea-shield-total-width: 408px;
$footer-jumvea-shield-total-height: 390px;
$footer-jumvea-shield-image: '/static/sprite.png';
$footer-jumvea-shield: (300px, 180px, -300px, -180px, 36px, 41px, 408px, 390px, '/static/sprite.png', 'footer__jumvea_shield', );
$footer-jumvea-name: 'footer__jumvea';
$footer-jumvea-x: 140px;
$footer-jumvea-y: 315px;
$footer-jumvea-offset-x: -140px;
$footer-jumvea-offset-y: -315px;
$footer-jumvea-width: 48px;
$footer-jumvea-height: 32px;
$footer-jumvea-total-width: 408px;
$footer-jumvea-total-height: 390px;
$footer-jumvea-image: '/static/sprite.png';
$footer-jumvea: (140px, 315px, -140px, -315px, 48px, 32px, 408px, 390px, '/static/sprite.png', 'footer__jumvea', );
$footer-kenya-name: 'footer__kenya';
$footer-kenya-x: 315px;
$footer-kenya-y: 94px;
$footer-kenya-offset-x: -315px;
$footer-kenya-offset-y: -94px;
$footer-kenya-width: 22px;
$footer-kenya-height: 15px;
$footer-kenya-total-width: 408px;
$footer-kenya-total-height: 390px;
$footer-kenya-image: '/static/sprite.png';
$footer-kenya: (315px, 94px, -315px, -94px, 22px, 15px, 408px, 390px, '/static/sprite.png', 'footer__kenya', );
$footer-logo-footer-name: 'footer__logo_footer';
$footer-logo-footer-x: 200px;
$footer-logo-footer-y: 0px;
$footer-logo-footer-offset-x: -200px;
$footer-logo-footer-offset-y: 0px;
$footer-logo-footer-width: 138px;
$footer-logo-footer-height: 64px;
$footer-logo-footer-total-width: 408px;
$footer-logo-footer-total-height: 390px;
$footer-logo-footer-image: '/static/sprite.png';
$footer-logo-footer: (200px, 0px, -200px, 0px, 138px, 64px, 408px, 390px, '/static/sprite.png', 'footer__logo_footer', );
$footer-malawi-name: 'footer__malawi';
$footer-malawi-x: 315px;
$footer-malawi-y: 124px;
$footer-malawi-offset-x: -315px;
$footer-malawi-offset-y: -124px;
$footer-malawi-width: 22px;
$footer-malawi-height: 15px;
$footer-malawi-total-width: 408px;
$footer-malawi-total-height: 390px;
$footer-malawi-image: '/static/sprite.png';
$footer-malawi: (315px, 124px, -315px, -124px, 22px, 15px, 408px, 390px, '/static/sprite.png', 'footer__malawi', );
$footer-master-card-name: 'footer__master_card';
$footer-master-card-x: 188px;
$footer-master-card-y: 315px;
$footer-master-card-offset-x: -188px;
$footer-master-card-offset-y: -315px;
$footer-master-card-width: 50px;
$footer-master-card-height: 30px;
$footer-master-card-total-width: 408px;
$footer-master-card-total-height: 390px;
$footer-master-card-image: '/static/sprite.png';
$footer-master-card: (188px, 315px, -188px, -315px, 50px, 30px, 408px, 390px, '/static/sprite.png', 'footer__master_card', );
$footer-mazda-name: 'footer__mazda';
$footer-mazda-x: 230px;
$footer-mazda-y: 180px;
$footer-mazda-offset-x: -230px;
$footer-mazda-offset-y: -180px;
$footer-mazda-width: 70px;
$footer-mazda-height: 45px;
$footer-mazda-total-width: 408px;
$footer-mazda-total-height: 390px;
$footer-mazda-image: '/static/sprite.png';
$footer-mazda: (230px, 180px, -230px, -180px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__mazda', );
$footer-mercedes-benz-name: 'footer__mercedes_benz';
$footer-mercedes-benz-x: 338px;
$footer-mercedes-benz-y: 225px;
$footer-mercedes-benz-offset-x: -338px;
$footer-mercedes-benz-offset-y: -225px;
$footer-mercedes-benz-width: 70px;
$footer-mercedes-benz-height: 45px;
$footer-mercedes-benz-total-width: 408px;
$footer-mercedes-benz-total-height: 390px;
$footer-mercedes-benz-image: '/static/sprite.png';
$footer-mercedes-benz: (338px, 225px, -338px, -225px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__mercedes_benz', );
$footer-mozambique-name: 'footer__mozambique';
$footer-mozambique-x: 315px;
$footer-mozambique-y: 109px;
$footer-mozambique-offset-x: -315px;
$footer-mozambique-offset-y: -109px;
$footer-mozambique-width: 22px;
$footer-mozambique-height: 15px;
$footer-mozambique-total-width: 408px;
$footer-mozambique-total-height: 390px;
$footer-mozambique-image: '/static/sprite.png';
$footer-mozambique: (315px, 109px, -315px, -109px, 22px, 15px, 408px, 390px, '/static/sprite.png', 'footer__mozambique', );
$footer-nisan-name: 'footer__nisan';
$footer-nisan-x: 0px;
$footer-nisan-y: 315px;
$footer-nisan-offset-x: 0px;
$footer-nisan-offset-y: -315px;
$footer-nisan-width: 70px;
$footer-nisan-height: 45px;
$footer-nisan-total-width: 408px;
$footer-nisan-total-height: 390px;
$footer-nisan-image: '/static/sprite.png';
$footer-nisan: (0px, 315px, 0px, -315px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__nisan', );
$footer-paypal-name: 'footer__paypal';
$footer-paypal-x: 238px;
$footer-paypal-y: 315px;
$footer-paypal-offset-x: -238px;
$footer-paypal-offset-y: -315px;
$footer-paypal-width: 50px;
$footer-paypal-height: 30px;
$footer-paypal-total-width: 408px;
$footer-paypal-total-height: 390px;
$footer-paypal-image: '/static/sprite.png';
$footer-paypal: (238px, 315px, -238px, -315px, 50px, 30px, 408px, 390px, '/static/sprite.png', 'footer__paypal', );
$footer-resona-bank-name: 'footer__resona_bank';
$footer-resona-bank-x: 300px;
$footer-resona-bank-y: 225px;
$footer-resona-bank-offset-x: -300px;
$footer-resona-bank-offset-y: -225px;
$footer-resona-bank-width: 31px;
$footer-resona-bank-height: 40px;
$footer-resona-bank-total-width: 408px;
$footer-resona-bank-total-height: 390px;
$footer-resona-bank-image: '/static/sprite.png';
$footer-resona-bank: (300px, 225px, -300px, -225px, 31px, 40px, 408px, 390px, '/static/sprite.png', 'footer__resona_bank', );
$footer-sabaru-name: 'footer__sabaru';
$footer-sabaru-x: 70px;
$footer-sabaru-y: 315px;
$footer-sabaru-offset-x: -70px;
$footer-sabaru-offset-y: -315px;
$footer-sabaru-width: 70px;
$footer-sabaru-height: 45px;
$footer-sabaru-total-width: 408px;
$footer-sabaru-total-height: 390px;
$footer-sabaru-image: '/static/sprite.png';
$footer-sabaru: (70px, 315px, -70px, -315px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__sabaru', );
$footer-sedan-name: 'footer__sedan';
$footer-sedan-x: 200px;
$footer-sedan-y: 109px;
$footer-sedan-offset-x: -200px;
$footer-sedan-offset-y: -109px;
$footer-sedan-width: 115px;
$footer-sedan-height: 45px;
$footer-sedan-total-width: 408px;
$footer-sedan-total-height: 390px;
$footer-sedan-image: '/static/sprite.png';
$footer-sedan: (200px, 109px, -200px, -109px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__sedan', );
$footer-suv-name: 'footer__suv';
$footer-suv-x: 200px;
$footer-suv-y: 64px;
$footer-suv-offset-x: -200px;
$footer-suv-offset-y: -64px;
$footer-suv-width: 115px;
$footer-suv-height: 45px;
$footer-suv-total-width: 408px;
$footer-suv-total-height: 390px;
$footer-suv-image: '/static/sprite.png';
$footer-suv: (200px, 64px, -200px, -64px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__suv', );
$footer-suzuki-name: 'footer__suzuki';
$footer-suzuki-x: 338px;
$footer-suzuki-y: 270px;
$footer-suzuki-offset-x: -338px;
$footer-suzuki-offset-y: -270px;
$footer-suzuki-width: 70px;
$footer-suzuki-height: 45px;
$footer-suzuki-total-width: 408px;
$footer-suzuki-total-height: 390px;
$footer-suzuki-image: '/static/sprite.png';
$footer-suzuki: (338px, 270px, -338px, -270px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__suzuki', );
$footer-tanzania-name: 'footer__tanzania';
$footer-tanzania-x: 315px;
$footer-tanzania-y: 79px;
$footer-tanzania-offset-x: -315px;
$footer-tanzania-offset-y: -79px;
$footer-tanzania-width: 22px;
$footer-tanzania-height: 15px;
$footer-tanzania-total-width: 408px;
$footer-tanzania-total-height: 390px;
$footer-tanzania-image: '/static/sprite.png';
$footer-tanzania: (315px, 79px, -315px, -79px, 22px, 15px, 408px, 390px, '/static/sprite.png', 'footer__tanzania', );
$footer-test-name: 'footer__test';
$footer-test-x: 300px;
$footer-test-y: 270px;
$footer-test-offset-x: -300px;
$footer-test-offset-y: -270px;
$footer-test-width: 32px;
$footer-test-height: 32px;
$footer-test-total-width: 408px;
$footer-test-total-height: 390px;
$footer-test-image: '/static/sprite.png';
$footer-test: (300px, 270px, -300px, -270px, 32px, 32px, 408px, 390px, '/static/sprite.png', 'footer__test', );
$footer-toyota-name: 'footer__toyota';
$footer-toyota-x: 338px;
$footer-toyota-y: 135px;
$footer-toyota-offset-x: -338px;
$footer-toyota-offset-y: -135px;
$footer-toyota-width: 70px;
$footer-toyota-height: 45px;
$footer-toyota-total-width: 408px;
$footer-toyota-total-height: 390px;
$footer-toyota-image: '/static/sprite.png';
$footer-toyota: (338px, 135px, -338px, -135px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__toyota', );
$footer-truck-2-name: 'footer__truck_2';
$footer-truck-2-x: 0px;
$footer-truck-2-y: 270px;
$footer-truck-2-offset-x: 0px;
$footer-truck-2-offset-y: -270px;
$footer-truck-2-width: 115px;
$footer-truck-2-height: 45px;
$footer-truck-2-total-width: 408px;
$footer-truck-2-total-height: 390px;
$footer-truck-2-image: '/static/sprite.png';
$footer-truck-2: (0px, 270px, 0px, -270px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__truck_2', );
$footer-visa-name: 'footer__visa';
$footer-visa-x: 288px;
$footer-visa-y: 315px;
$footer-visa-offset-x: -288px;
$footer-visa-offset-y: -315px;
$footer-visa-width: 47px;
$footer-visa-height: 30px;
$footer-visa-total-width: 408px;
$footer-visa-total-height: 390px;
$footer-visa-image: '/static/sprite.png';
$footer-visa: (288px, 315px, -288px, -315px, 47px, 30px, 408px, 390px, '/static/sprite.png', 'footer__visa', );
$footer-volkswagen-name: 'footer__volkswagen';
$footer-volkswagen-x: 338px;
$footer-volkswagen-y: 45px;
$footer-volkswagen-offset-x: -338px;
$footer-volkswagen-offset-y: -45px;
$footer-volkswagen-width: 70px;
$footer-volkswagen-height: 45px;
$footer-volkswagen-total-width: 408px;
$footer-volkswagen-total-height: 390px;
$footer-volkswagen-image: '/static/sprite.png';
$footer-volkswagen: (338px, 45px, -338px, -45px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__volkswagen', );
$footer-volvo-name: 'footer__volvo';
$footer-volvo-x: 230px;
$footer-volvo-y: 270px;
$footer-volvo-offset-x: -230px;
$footer-volvo-offset-y: -270px;
$footer-volvo-width: 70px;
$footer-volvo-height: 45px;
$footer-volvo-total-width: 408px;
$footer-volvo-total-height: 390px;
$footer-volvo-image: '/static/sprite.png';
$footer-volvo: (230px, 270px, -230px, -270px, 70px, 45px, 408px, 390px, '/static/sprite.png', 'footer__volvo', );
$footer-wagon-name: 'footer__wagon';
$footer-wagon-x: 115px;
$footer-wagon-y: 225px;
$footer-wagon-offset-x: -115px;
$footer-wagon-offset-y: -225px;
$footer-wagon-width: 115px;
$footer-wagon-height: 45px;
$footer-wagon-total-width: 408px;
$footer-wagon-total-height: 390px;
$footer-wagon-image: '/static/sprite.png';
$footer-wagon: (115px, 225px, -115px, -225px, 115px, 45px, 408px, 390px, '/static/sprite.png', 'footer__wagon', );
$retina-about-us-bank-m-i-z-u-h-o-name: 'retina_about-us-bank__MIZUHO';
$retina-about-us-bank-m-i-z-u-h-o-x: 0px;
$retina-about-us-bank-m-i-z-u-h-o-y: 0px;
$retina-about-us-bank-m-i-z-u-h-o-offset-x: 0px;
$retina-about-us-bank-m-i-z-u-h-o-offset-y: 0px;
$retina-about-us-bank-m-i-z-u-h-o-width: 400px;
$retina-about-us-bank-m-i-z-u-h-o-height: 120px;
$retina-about-us-bank-m-i-z-u-h-o-total-width: 944px;
$retina-about-us-bank-m-i-z-u-h-o-total-height: 720px;
$retina-about-us-bank-m-i-z-u-h-o-image: '/static/sprite@2x.png';
$retina-about-us-bank-m-i-z-u-h-o: (0px, 0px, 0px, 0px, 400px, 120px, 944px, 720px, '/static/sprite@2x.png', 'retina_about-us-bank__MIZUHO', );
$retina-about-us-bank-r-e-s-o-n-a-name: 'retina_about-us-bank__RESONA';
$retina-about-us-bank-r-e-s-o-n-a-x: 0px;
$retina-about-us-bank-r-e-s-o-n-a-y: 240px;
$retina-about-us-bank-r-e-s-o-n-a-offset-x: 0px;
$retina-about-us-bank-r-e-s-o-n-a-offset-y: -240px;
$retina-about-us-bank-r-e-s-o-n-a-width: 400px;
$retina-about-us-bank-r-e-s-o-n-a-height: 120px;
$retina-about-us-bank-r-e-s-o-n-a-total-width: 944px;
$retina-about-us-bank-r-e-s-o-n-a-total-height: 720px;
$retina-about-us-bank-r-e-s-o-n-a-image: '/static/sprite@2x.png';
$retina-about-us-bank-r-e-s-o-n-a: (0px, 240px, 0px, -240px, 400px, 120px, 944px, 720px, '/static/sprite@2x.png', 'retina_about-us-bank__RESONA', );
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-name: 'retina_about-us-bank__SUMITOMO_MITSUI';
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-x: 0px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-y: 120px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-offset-x: 0px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-offset-y: -120px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-width: 400px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-height: 120px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-total-width: 944px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-total-height: 720px;
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-image: '/static/sprite@2x.png';
$retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i: (0px, 120px, 0px, -120px, 400px, 120px, 944px, 720px, '/static/sprite@2x.png', 'retina_about-us-bank__SUMITOMO_MITSUI', );
$retina-footer-bahamas-name: 'retina_footer__bahamas';
$retina-footer-bahamas-x: 804px;
$retina-footer-bahamas-y: 675px;
$retina-footer-bahamas-offset-x: -804px;
$retina-footer-bahamas-offset-y: -675px;
$retina-footer-bahamas-width: 44px;
$retina-footer-bahamas-height: 30px;
$retina-footer-bahamas-total-width: 944px;
$retina-footer-bahamas-total-height: 720px;
$retina-footer-bahamas-image: '/static/sprite@2x.png';
$retina-footer-bahamas: (804px, 675px, -804px, -675px, 44px, 30px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__bahamas', );
$retina-footer-bank-transfer-name: 'retina_footer__bank_transfer';
$retina-footer-bank-transfer-x: 676px;
$retina-footer-bank-transfer-y: 188px;
$retina-footer-bank-transfer-offset-x: -676px;
$retina-footer-bank-transfer-offset-y: -188px;
$retina-footer-bank-transfer-width: 92px;
$retina-footer-bank-transfer-height: 56px;
$retina-footer-bank-transfer-total-width: 944px;
$retina-footer-bank-transfer-total-height: 720px;
$retina-footer-bank-transfer-image: '/static/sprite@2x.png';
$retina-footer-bank-transfer: (676px, 188px, -676px, -188px, 92px, 56px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__bank_transfer', );
$retina-footer-bmw-name: 'retina_footer__bmw';
$retina-footer-bmw-x: 804px;
$retina-footer-bmw-y: 270px;
$retina-footer-bmw-offset-x: -804px;
$retina-footer-bmw-offset-y: -270px;
$retina-footer-bmw-width: 140px;
$retina-footer-bmw-height: 90px;
$retina-footer-bmw-total-width: 944px;
$retina-footer-bmw-total-height: 720px;
$retina-footer-bmw-image: '/static/sprite@2x.png';
$retina-footer-bmw: (804px, 270px, -804px, -270px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__bmw', );
$retina-footer-bus-name: 'retina_footer__bus';
$retina-footer-bus-x: 0px;
$retina-footer-bus-y: 360px;
$retina-footer-bus-offset-x: 0px;
$retina-footer-bus-offset-y: -360px;
$retina-footer-bus-width: 230px;
$retina-footer-bus-height: 90px;
$retina-footer-bus-total-width: 944px;
$retina-footer-bus-total-height: 720px;
$retina-footer-bus-image: '/static/sprite@2x.png';
$retina-footer-bus: (0px, 360px, 0px, -360px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__bus', );
$retina-footer-convertible-name: 'retina_footer__convertible';
$retina-footer-convertible-x: 230px;
$retina-footer-convertible-y: 360px;
$retina-footer-convertible-offset-x: -230px;
$retina-footer-convertible-offset-y: -360px;
$retina-footer-convertible-width: 230px;
$retina-footer-convertible-height: 90px;
$retina-footer-convertible-total-width: 944px;
$retina-footer-convertible-total-height: 720px;
$retina-footer-convertible-image: '/static/sprite@2x.png';
$retina-footer-convertible: (230px, 360px, -230px, -360px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__convertible', );
$retina-footer-coupe-name: 'retina_footer__coupe';
$retina-footer-coupe-x: 0px;
$retina-footer-coupe-y: 450px;
$retina-footer-coupe-offset-x: 0px;
$retina-footer-coupe-offset-y: -450px;
$retina-footer-coupe-width: 230px;
$retina-footer-coupe-height: 90px;
$retina-footer-coupe-total-width: 944px;
$retina-footer-coupe-total-height: 720px;
$retina-footer-coupe-image: '/static/sprite@2x.png';
$retina-footer-coupe: (0px, 450px, 0px, -450px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__coupe', );
$retina-footer-digicert-secure-name: 'retina_footer__digicert_secure';
$retina-footer-digicert-secure-x: 676px;
$retina-footer-digicert-secure-y: 244px;
$retina-footer-digicert-secure-offset-x: -676px;
$retina-footer-digicert-secure-offset-y: -244px;
$retina-footer-digicert-secure-width: 82px;
$retina-footer-digicert-secure-height: 60px;
$retina-footer-digicert-secure-total-width: 944px;
$retina-footer-digicert-secure-total-height: 720px;
$retina-footer-digicert-secure-image: '/static/sprite@2x.png';
$retina-footer-digicert-secure: (676px, 244px, -676px, -244px, 82px, 60px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__digicert_secure', );
$retina-footer-equity-name: 'retina_footer__equity';
$retina-footer-equity-x: 804px;
$retina-footer-equity-y: 360px;
$retina-footer-equity-offset-x: -804px;
$retina-footer-equity-offset-y: -360px;
$retina-footer-equity-width: 122px;
$retina-footer-equity-height: 50px;
$retina-footer-equity-total-width: 944px;
$retina-footer-equity-total-height: 720px;
$retina-footer-equity-image: '/static/sprite@2x.png';
$retina-footer-equity: (804px, 360px, -804px, -360px, 122px, 50px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__equity', );
$retina-footer-ford-name: 'retina_footer__ford';
$retina-footer-ford-x: 804px;
$retina-footer-ford-y: 0px;
$retina-footer-ford-offset-x: -804px;
$retina-footer-ford-offset-y: 0px;
$retina-footer-ford-width: 140px;
$retina-footer-ford-height: 90px;
$retina-footer-ford-total-width: 944px;
$retina-footer-ford-total-height: 720px;
$retina-footer-ford-image: '/static/sprite@2x.png';
$retina-footer-ford: (804px, 0px, -804px, 0px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__ford', );
$retina-footer-hatchback-name: 'retina_footer__hatchback';
$retina-footer-hatchback-x: 230px;
$retina-footer-hatchback-y: 540px;
$retina-footer-hatchback-offset-x: -230px;
$retina-footer-hatchback-offset-y: -540px;
$retina-footer-hatchback-width: 230px;
$retina-footer-hatchback-height: 90px;
$retina-footer-hatchback-total-width: 944px;
$retina-footer-hatchback-total-height: 720px;
$retina-footer-hatchback-image: '/static/sprite@2x.png';
$retina-footer-hatchback: (230px, 540px, -230px, -540px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__hatchback', );
$retina-footer-honda-name: 'retina_footer__honda';
$retina-footer-honda-x: 804px;
$retina-footer-honda-y: 180px;
$retina-footer-honda-offset-x: -804px;
$retina-footer-honda-offset-y: -180px;
$retina-footer-honda-width: 140px;
$retina-footer-honda-height: 90px;
$retina-footer-honda-total-width: 944px;
$retina-footer-honda-total-height: 720px;
$retina-footer-honda-image: '/static/sprite@2x.png';
$retina-footer-honda: (804px, 180px, -804px, -180px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__honda', );
$retina-footer-isuzu-name: 'retina_footer__isuzu';
$retina-footer-isuzu-x: 420px;
$retina-footer-isuzu-y: 630px;
$retina-footer-isuzu-offset-x: -420px;
$retina-footer-isuzu-offset-y: -630px;
$retina-footer-isuzu-width: 140px;
$retina-footer-isuzu-height: 90px;
$retina-footer-isuzu-total-width: 944px;
$retina-footer-isuzu-total-height: 720px;
$retina-footer-isuzu-image: '/static/sprite@2x.png';
$retina-footer-isuzu: (420px, 630px, -420px, -630px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__isuzu', );
$retina-footer-jumvea-shield-name: 'retina_footer__jumvea_shield';
$retina-footer-jumvea-shield-x: 804px;
$retina-footer-jumvea-shield-y: 594px;
$retina-footer-jumvea-shield-offset-x: -804px;
$retina-footer-jumvea-shield-offset-y: -594px;
$retina-footer-jumvea-shield-width: 71px;
$retina-footer-jumvea-shield-height: 81px;
$retina-footer-jumvea-shield-total-width: 944px;
$retina-footer-jumvea-shield-total-height: 720px;
$retina-footer-jumvea-shield-image: '/static/sprite@2x.png';
$retina-footer-jumvea-shield: (804px, 594px, -804px, -594px, 71px, 81px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__jumvea_shield', );
$retina-footer-jumvea-name: 'retina_footer__jumvea';
$retina-footer-jumvea-x: 804px;
$retina-footer-jumvea-y: 410px;
$retina-footer-jumvea-offset-x: -804px;
$retina-footer-jumvea-offset-y: -410px;
$retina-footer-jumvea-width: 95px;
$retina-footer-jumvea-height: 64px;
$retina-footer-jumvea-total-width: 944px;
$retina-footer-jumvea-total-height: 720px;
$retina-footer-jumvea-image: '/static/sprite@2x.png';
$retina-footer-jumvea: (804px, 410px, -804px, -410px, 95px, 64px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__jumvea', );
$retina-footer-kenya-name: 'retina_footer__kenya';
$retina-footer-kenya-x: 848px;
$retina-footer-kenya-y: 675px;
$retina-footer-kenya-offset-x: -848px;
$retina-footer-kenya-offset-y: -675px;
$retina-footer-kenya-width: 44px;
$retina-footer-kenya-height: 30px;
$retina-footer-kenya-total-width: 944px;
$retina-footer-kenya-total-height: 720px;
$retina-footer-kenya-image: '/static/sprite@2x.png';
$retina-footer-kenya: (848px, 675px, -848px, -675px, 44px, 30px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__kenya', );
$retina-footer-logo-footer-name: 'retina_footer__logo_footer';
$retina-footer-logo-footer-x: 400px;
$retina-footer-logo-footer-y: 0px;
$retina-footer-logo-footer-offset-x: -400px;
$retina-footer-logo-footer-offset-y: 0px;
$retina-footer-logo-footer-width: 276px;
$retina-footer-logo-footer-height: 128px;
$retina-footer-logo-footer-total-width: 944px;
$retina-footer-logo-footer-total-height: 720px;
$retina-footer-logo-footer-image: '/static/sprite@2x.png';
$retina-footer-logo-footer: (400px, 0px, -400px, 0px, 276px, 128px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__logo_footer', );
$retina-footer-malawi-name: 'retina_footer__malawi';
$retina-footer-malawi-x: 892px;
$retina-footer-malawi-y: 675px;
$retina-footer-malawi-offset-x: -892px;
$retina-footer-malawi-offset-y: -675px;
$retina-footer-malawi-width: 44px;
$retina-footer-malawi-height: 30px;
$retina-footer-malawi-total-width: 944px;
$retina-footer-malawi-total-height: 720px;
$retina-footer-malawi-image: '/static/sprite@2x.png';
$retina-footer-malawi: (892px, 675px, -892px, -675px, 44px, 30px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__malawi', );
$retina-footer-master-card-name: 'retina_footer__master_card';
$retina-footer-master-card-x: 804px;
$retina-footer-master-card-y: 534px;
$retina-footer-master-card-offset-x: -804px;
$retina-footer-master-card-offset-y: -534px;
$retina-footer-master-card-width: 100px;
$retina-footer-master-card-height: 60px;
$retina-footer-master-card-total-width: 944px;
$retina-footer-master-card-total-height: 720px;
$retina-footer-master-card-image: '/static/sprite@2x.png';
$retina-footer-master-card: (804px, 534px, -804px, -534px, 100px, 60px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__master_card', );
$retina-footer-mazda-name: 'retina_footer__mazda';
$retina-footer-mazda-x: 460px;
$retina-footer-mazda-y: 360px;
$retina-footer-mazda-offset-x: -460px;
$retina-footer-mazda-offset-y: -360px;
$retina-footer-mazda-width: 140px;
$retina-footer-mazda-height: 90px;
$retina-footer-mazda-total-width: 944px;
$retina-footer-mazda-total-height: 720px;
$retina-footer-mazda-image: '/static/sprite@2x.png';
$retina-footer-mazda: (460px, 360px, -460px, -360px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__mazda', );
$retina-footer-mercedes-benz-name: 'retina_footer__mercedes_benz';
$retina-footer-mercedes-benz-x: 560px;
$retina-footer-mercedes-benz-y: 630px;
$retina-footer-mercedes-benz-offset-x: -560px;
$retina-footer-mercedes-benz-offset-y: -630px;
$retina-footer-mercedes-benz-width: 140px;
$retina-footer-mercedes-benz-height: 90px;
$retina-footer-mercedes-benz-total-width: 944px;
$retina-footer-mercedes-benz-total-height: 720px;
$retina-footer-mercedes-benz-image: '/static/sprite@2x.png';
$retina-footer-mercedes-benz: (560px, 630px, -560px, -630px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__mercedes_benz', );
$retina-footer-mozambique-name: 'retina_footer__mozambique';
$retina-footer-mozambique-x: 899px;
$retina-footer-mozambique-y: 440px;
$retina-footer-mozambique-offset-x: -899px;
$retina-footer-mozambique-offset-y: -440px;
$retina-footer-mozambique-width: 44px;
$retina-footer-mozambique-height: 30px;
$retina-footer-mozambique-total-width: 944px;
$retina-footer-mozambique-total-height: 720px;
$retina-footer-mozambique-image: '/static/sprite@2x.png';
$retina-footer-mozambique: (899px, 440px, -899px, -440px, 44px, 30px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__mozambique', );
$retina-footer-nisan-name: 'retina_footer__nisan';
$retina-footer-nisan-x: 804px;
$retina-footer-nisan-y: 90px;
$retina-footer-nisan-offset-x: -804px;
$retina-footer-nisan-offset-y: -90px;
$retina-footer-nisan-width: 140px;
$retina-footer-nisan-height: 90px;
$retina-footer-nisan-total-width: 944px;
$retina-footer-nisan-total-height: 720px;
$retina-footer-nisan-image: '/static/sprite@2x.png';
$retina-footer-nisan: (804px, 90px, -804px, -90px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__nisan', );
$retina-footer-paypal-name: 'retina_footer__paypal';
$retina-footer-paypal-x: 804px;
$retina-footer-paypal-y: 474px;
$retina-footer-paypal-offset-x: -804px;
$retina-footer-paypal-offset-y: -474px;
$retina-footer-paypal-width: 100px;
$retina-footer-paypal-height: 60px;
$retina-footer-paypal-total-width: 944px;
$retina-footer-paypal-total-height: 720px;
$retina-footer-paypal-image: '/static/sprite@2x.png';
$retina-footer-paypal: (804px, 474px, -804px, -474px, 100px, 60px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__paypal', );
$retina-footer-resona-bank-name: 'retina_footer__resona_bank';
$retina-footer-resona-bank-x: 875px;
$retina-footer-resona-bank-y: 594px;
$retina-footer-resona-bank-offset-x: -875px;
$retina-footer-resona-bank-offset-y: -594px;
$retina-footer-resona-bank-width: 62px;
$retina-footer-resona-bank-height: 80px;
$retina-footer-resona-bank-total-width: 944px;
$retina-footer-resona-bank-total-height: 720px;
$retina-footer-resona-bank-image: '/static/sprite@2x.png';
$retina-footer-resona-bank: (875px, 594px, -875px, -594px, 62px, 80px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__resona_bank', );
$retina-footer-sabaru-name: 'retina_footer__sabaru';
$retina-footer-sabaru-x: 460px;
$retina-footer-sabaru-y: 540px;
$retina-footer-sabaru-offset-x: -460px;
$retina-footer-sabaru-offset-y: -540px;
$retina-footer-sabaru-width: 140px;
$retina-footer-sabaru-height: 90px;
$retina-footer-sabaru-total-width: 944px;
$retina-footer-sabaru-total-height: 720px;
$retina-footer-sabaru-image: '/static/sprite@2x.png';
$retina-footer-sabaru: (460px, 540px, -460px, -540px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__sabaru', );
$retina-footer-sedan-name: 'retina_footer__sedan';
$retina-footer-sedan-x: 400px;
$retina-footer-sedan-y: 218px;
$retina-footer-sedan-offset-x: -400px;
$retina-footer-sedan-offset-y: -218px;
$retina-footer-sedan-width: 230px;
$retina-footer-sedan-height: 90px;
$retina-footer-sedan-total-width: 944px;
$retina-footer-sedan-total-height: 720px;
$retina-footer-sedan-image: '/static/sprite@2x.png';
$retina-footer-sedan: (400px, 218px, -400px, -218px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__sedan', );
$retina-footer-suv-name: 'retina_footer__suv';
$retina-footer-suv-x: 400px;
$retina-footer-suv-y: 128px;
$retina-footer-suv-offset-x: -400px;
$retina-footer-suv-offset-y: -128px;
$retina-footer-suv-width: 230px;
$retina-footer-suv-height: 90px;
$retina-footer-suv-total-width: 944px;
$retina-footer-suv-total-height: 720px;
$retina-footer-suv-image: '/static/sprite@2x.png';
$retina-footer-suv: (400px, 128px, -400px, -128px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__suv', );
$retina-footer-suzuki-name: 'retina_footer__suzuki';
$retina-footer-suzuki-x: 140px;
$retina-footer-suzuki-y: 630px;
$retina-footer-suzuki-offset-x: -140px;
$retina-footer-suzuki-offset-y: -630px;
$retina-footer-suzuki-width: 140px;
$retina-footer-suzuki-height: 90px;
$retina-footer-suzuki-total-width: 944px;
$retina-footer-suzuki-total-height: 720px;
$retina-footer-suzuki-image: '/static/sprite@2x.png';
$retina-footer-suzuki: (140px, 630px, -140px, -630px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__suzuki', );
$retina-footer-tanzania-name: 'retina_footer__tanzania';
$retina-footer-tanzania-x: 899px;
$retina-footer-tanzania-y: 410px;
$retina-footer-tanzania-offset-x: -899px;
$retina-footer-tanzania-offset-y: -410px;
$retina-footer-tanzania-width: 44px;
$retina-footer-tanzania-height: 30px;
$retina-footer-tanzania-total-width: 944px;
$retina-footer-tanzania-total-height: 720px;
$retina-footer-tanzania-image: '/static/sprite@2x.png';
$retina-footer-tanzania: (899px, 410px, -899px, -410px, 44px, 30px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__tanzania', );
$retina-footer-test-name: 'retina_footer__test';
$retina-footer-test-x: 676px;
$retina-footer-test-y: 0px;
$retina-footer-test-offset-x: -676px;
$retina-footer-test-offset-y: 0px;
$retina-footer-test-width: 128px;
$retina-footer-test-height: 128px;
$retina-footer-test-total-width: 944px;
$retina-footer-test-total-height: 720px;
$retina-footer-test-image: '/static/sprite@2x.png';
$retina-footer-test: (676px, 0px, -676px, 0px, 128px, 128px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__test', );
$retina-footer-toyota-name: 'retina_footer__toyota';
$retina-footer-toyota-x: 280px;
$retina-footer-toyota-y: 630px;
$retina-footer-toyota-offset-x: -280px;
$retina-footer-toyota-offset-y: -630px;
$retina-footer-toyota-width: 140px;
$retina-footer-toyota-height: 90px;
$retina-footer-toyota-total-width: 944px;
$retina-footer-toyota-total-height: 720px;
$retina-footer-toyota-image: '/static/sprite@2x.png';
$retina-footer-toyota: (280px, 630px, -280px, -630px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__toyota', );
$retina-footer-truck-2-name: 'retina_footer__truck_2';
$retina-footer-truck-2-x: 0px;
$retina-footer-truck-2-y: 540px;
$retina-footer-truck-2-offset-x: 0px;
$retina-footer-truck-2-offset-y: -540px;
$retina-footer-truck-2-width: 230px;
$retina-footer-truck-2-height: 90px;
$retina-footer-truck-2-total-width: 944px;
$retina-footer-truck-2-total-height: 720px;
$retina-footer-truck-2-image: '/static/sprite@2x.png';
$retina-footer-truck-2: (0px, 540px, 0px, -540px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__truck_2', );
$retina-footer-visa-name: 'retina_footer__visa';
$retina-footer-visa-x: 676px;
$retina-footer-visa-y: 128px;
$retina-footer-visa-offset-x: -676px;
$retina-footer-visa-offset-y: -128px;
$retina-footer-visa-width: 94px;
$retina-footer-visa-height: 60px;
$retina-footer-visa-total-width: 944px;
$retina-footer-visa-total-height: 720px;
$retina-footer-visa-image: '/static/sprite@2x.png';
$retina-footer-visa: (676px, 128px, -676px, -128px, 94px, 60px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__visa', );
$retina-footer-volkswagen-name: 'retina_footer__volkswagen';
$retina-footer-volkswagen-x: 0px;
$retina-footer-volkswagen-y: 630px;
$retina-footer-volkswagen-offset-x: 0px;
$retina-footer-volkswagen-offset-y: -630px;
$retina-footer-volkswagen-width: 140px;
$retina-footer-volkswagen-height: 90px;
$retina-footer-volkswagen-total-width: 944px;
$retina-footer-volkswagen-total-height: 720px;
$retina-footer-volkswagen-image: '/static/sprite@2x.png';
$retina-footer-volkswagen: (0px, 630px, 0px, -630px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__volkswagen', );
$retina-footer-volvo-name: 'retina_footer__volvo';
$retina-footer-volvo-x: 460px;
$retina-footer-volvo-y: 450px;
$retina-footer-volvo-offset-x: -460px;
$retina-footer-volvo-offset-y: -450px;
$retina-footer-volvo-width: 140px;
$retina-footer-volvo-height: 90px;
$retina-footer-volvo-total-width: 944px;
$retina-footer-volvo-total-height: 720px;
$retina-footer-volvo-image: '/static/sprite@2x.png';
$retina-footer-volvo: (460px, 450px, -460px, -450px, 140px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__volvo', );
$retina-footer-wagon-name: 'retina_footer__wagon';
$retina-footer-wagon-x: 230px;
$retina-footer-wagon-y: 450px;
$retina-footer-wagon-offset-x: -230px;
$retina-footer-wagon-offset-y: -450px;
$retina-footer-wagon-width: 230px;
$retina-footer-wagon-height: 90px;
$retina-footer-wagon-total-width: 944px;
$retina-footer-wagon-total-height: 720px;
$retina-footer-wagon-image: '/static/sprite@2x.png';
$retina-footer-wagon: (230px, 450px, -230px, -450px, 230px, 90px, 944px, 720px, '/static/sprite@2x.png', 'retina_footer__wagon', );
$spritesheet-width: 408px;
$spritesheet-height: 390px;
$spritesheet-image: '/static/sprite.png';
$spritesheet-sprites: ($about-us-bank-m-i-z-u-h-o, $about-us-bank-r-e-s-o-n-a, $about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i, $footer-bahamas, $footer-bank-transfer, $footer-bmw, $footer-bus, $footer-convertible, $footer-coupe, $footer-digicert-secure, $footer-equity, $footer-ford, $footer-hatchback, $footer-honda, $footer-isuzu, $footer-jumvea-shield, $footer-jumvea, $footer-kenya, $footer-logo-footer, $footer-malawi, $footer-master-card, $footer-mazda, $footer-mercedes-benz, $footer-mozambique, $footer-nisan, $footer-paypal, $footer-resona-bank, $footer-sabaru, $footer-sedan, $footer-suv, $footer-suzuki, $footer-tanzania, $footer-test, $footer-toyota, $footer-truck-2, $footer-visa, $footer-volkswagen, $footer-volvo, $footer-wagon, );
$spritesheet: (408px, 390px, '/static/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 944px;
$retina-spritesheet-height: 720px;
$retina-spritesheet-image: '/static/sprite@2x.png';
$retina-spritesheet-sprites: ($retina-about-us-bank-m-i-z-u-h-o, $retina-about-us-bank-r-e-s-o-n-a, $retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i, $retina-footer-bahamas, $retina-footer-bank-transfer, $retina-footer-bmw, $retina-footer-bus, $retina-footer-convertible, $retina-footer-coupe, $retina-footer-digicert-secure, $retina-footer-equity, $retina-footer-ford, $retina-footer-hatchback, $retina-footer-honda, $retina-footer-isuzu, $retina-footer-jumvea-shield, $retina-footer-jumvea, $retina-footer-kenya, $retina-footer-logo-footer, $retina-footer-malawi, $retina-footer-master-card, $retina-footer-mazda, $retina-footer-mercedes-benz, $retina-footer-mozambique, $retina-footer-nisan, $retina-footer-paypal, $retina-footer-resona-bank, $retina-footer-sabaru, $retina-footer-sedan, $retina-footer-suv, $retina-footer-suzuki, $retina-footer-tanzania, $retina-footer-test, $retina-footer-toyota, $retina-footer-truck-2, $retina-footer-visa, $retina-footer-volkswagen, $retina-footer-volvo, $retina-footer-wagon, );
$retina-spritesheet: (944px, 720px, '/static/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$about-us-bank-m-i-z-u-h-o-group-name: 'about-us-bank__MIZUHO';
$about-us-bank-m-i-z-u-h-o-group: ('about-us-bank__MIZUHO', $about-us-bank-m-i-z-u-h-o, $retina-about-us-bank-m-i-z-u-h-o, );
$about-us-bank-r-e-s-o-n-a-group-name: 'about-us-bank__RESONA';
$about-us-bank-r-e-s-o-n-a-group: ('about-us-bank__RESONA', $about-us-bank-r-e-s-o-n-a, $retina-about-us-bank-r-e-s-o-n-a, );
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-group-name: 'about-us-bank__SUMITOMO_MITSUI';
$about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-group: ('about-us-bank__SUMITOMO_MITSUI', $about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i, $retina-about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i, );
$footer-bahamas-group-name: 'footer__bahamas';
$footer-bahamas-group: ('footer__bahamas', $footer-bahamas, $retina-footer-bahamas, );
$footer-bank-transfer-group-name: 'footer__bank_transfer';
$footer-bank-transfer-group: ('footer__bank_transfer', $footer-bank-transfer, $retina-footer-bank-transfer, );
$footer-bmw-group-name: 'footer__bmw';
$footer-bmw-group: ('footer__bmw', $footer-bmw, $retina-footer-bmw, );
$footer-bus-group-name: 'footer__bus';
$footer-bus-group: ('footer__bus', $footer-bus, $retina-footer-bus, );
$footer-convertible-group-name: 'footer__convertible';
$footer-convertible-group: ('footer__convertible', $footer-convertible, $retina-footer-convertible, );
$footer-coupe-group-name: 'footer__coupe';
$footer-coupe-group: ('footer__coupe', $footer-coupe, $retina-footer-coupe, );
$footer-digicert-secure-group-name: 'footer__digicert_secure';
$footer-digicert-secure-group: ('footer__digicert_secure', $footer-digicert-secure, $retina-footer-digicert-secure, );
$footer-equity-group-name: 'footer__equity';
$footer-equity-group: ('footer__equity', $footer-equity, $retina-footer-equity, );
$footer-ford-group-name: 'footer__ford';
$footer-ford-group: ('footer__ford', $footer-ford, $retina-footer-ford, );
$footer-hatchback-group-name: 'footer__hatchback';
$footer-hatchback-group: ('footer__hatchback', $footer-hatchback, $retina-footer-hatchback, );
$footer-honda-group-name: 'footer__honda';
$footer-honda-group: ('footer__honda', $footer-honda, $retina-footer-honda, );
$footer-isuzu-group-name: 'footer__isuzu';
$footer-isuzu-group: ('footer__isuzu', $footer-isuzu, $retina-footer-isuzu, );
$footer-jumvea-shield-group-name: 'footer__jumvea_shield';
$footer-jumvea-shield-group: ('footer__jumvea_shield', $footer-jumvea-shield, $retina-footer-jumvea-shield, );
$footer-jumvea-group-name: 'footer__jumvea';
$footer-jumvea-group: ('footer__jumvea', $footer-jumvea, $retina-footer-jumvea, );
$footer-kenya-group-name: 'footer__kenya';
$footer-kenya-group: ('footer__kenya', $footer-kenya, $retina-footer-kenya, );
$footer-logo-footer-group-name: 'footer__logo_footer';
$footer-logo-footer-group: ('footer__logo_footer', $footer-logo-footer, $retina-footer-logo-footer, );
$footer-malawi-group-name: 'footer__malawi';
$footer-malawi-group: ('footer__malawi', $footer-malawi, $retina-footer-malawi, );
$footer-master-card-group-name: 'footer__master_card';
$footer-master-card-group: ('footer__master_card', $footer-master-card, $retina-footer-master-card, );
$footer-mazda-group-name: 'footer__mazda';
$footer-mazda-group: ('footer__mazda', $footer-mazda, $retina-footer-mazda, );
$footer-mercedes-benz-group-name: 'footer__mercedes_benz';
$footer-mercedes-benz-group: ('footer__mercedes_benz', $footer-mercedes-benz, $retina-footer-mercedes-benz, );
$footer-mozambique-group-name: 'footer__mozambique';
$footer-mozambique-group: ('footer__mozambique', $footer-mozambique, $retina-footer-mozambique, );
$footer-nisan-group-name: 'footer__nisan';
$footer-nisan-group: ('footer__nisan', $footer-nisan, $retina-footer-nisan, );
$footer-paypal-group-name: 'footer__paypal';
$footer-paypal-group: ('footer__paypal', $footer-paypal, $retina-footer-paypal, );
$footer-resona-bank-group-name: 'footer__resona_bank';
$footer-resona-bank-group: ('footer__resona_bank', $footer-resona-bank, $retina-footer-resona-bank, );
$footer-sabaru-group-name: 'footer__sabaru';
$footer-sabaru-group: ('footer__sabaru', $footer-sabaru, $retina-footer-sabaru, );
$footer-sedan-group-name: 'footer__sedan';
$footer-sedan-group: ('footer__sedan', $footer-sedan, $retina-footer-sedan, );
$footer-suv-group-name: 'footer__suv';
$footer-suv-group: ('footer__suv', $footer-suv, $retina-footer-suv, );
$footer-suzuki-group-name: 'footer__suzuki';
$footer-suzuki-group: ('footer__suzuki', $footer-suzuki, $retina-footer-suzuki, );
$footer-tanzania-group-name: 'footer__tanzania';
$footer-tanzania-group: ('footer__tanzania', $footer-tanzania, $retina-footer-tanzania, );
$footer-test-group-name: 'footer__test';
$footer-test-group: ('footer__test', $footer-test, $retina-footer-test, );
$footer-toyota-group-name: 'footer__toyota';
$footer-toyota-group: ('footer__toyota', $footer-toyota, $retina-footer-toyota, );
$footer-truck-2-group-name: 'footer__truck_2';
$footer-truck-2-group: ('footer__truck_2', $footer-truck-2, $retina-footer-truck-2, );
$footer-visa-group-name: 'footer__visa';
$footer-visa-group: ('footer__visa', $footer-visa, $retina-footer-visa, );
$footer-volkswagen-group-name: 'footer__volkswagen';
$footer-volkswagen-group: ('footer__volkswagen', $footer-volkswagen, $retina-footer-volkswagen, );
$footer-volvo-group-name: 'footer__volvo';
$footer-volvo-group: ('footer__volvo', $footer-volvo, $retina-footer-volvo, );
$footer-wagon-group-name: 'footer__wagon';
$footer-wagon-group: ('footer__wagon', $footer-wagon, $retina-footer-wagon, );
$retina-groups: ($about-us-bank-m-i-z-u-h-o-group, $about-us-bank-r-e-s-o-n-a-group, $about-us-bank-s-u-m-i-t-o-m-o-m-i-t-s-u-i-group, $footer-bahamas-group, $footer-bank-transfer-group, $footer-bmw-group, $footer-bus-group, $footer-convertible-group, $footer-coupe-group, $footer-digicert-secure-group, $footer-equity-group, $footer-ford-group, $footer-hatchback-group, $footer-honda-group, $footer-isuzu-group, $footer-jumvea-shield-group, $footer-jumvea-group, $footer-kenya-group, $footer-logo-footer-group, $footer-malawi-group, $footer-master-card-group, $footer-mazda-group, $footer-mercedes-benz-group, $footer-mozambique-group, $footer-nisan-group, $footer-paypal-group, $footer-resona-bank-group, $footer-sabaru-group, $footer-sedan-group, $footer-suv-group, $footer-suzuki-group, $footer-tanzania-group, $footer-test-group, $footer-toyota-group, $footer-truck-2-group, $footer-visa-group, $footer-volkswagen-group, $footer-volvo-group, $footer-wagon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
