// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bahamas-name: 'bahamas';
$bahamas-x: 253px;
$bahamas-y: 225px;
$bahamas-offset-x: -253px;
$bahamas-offset-y: -225px;
$bahamas-width: 22px;
$bahamas-height: 15px;
$bahamas-total-width: 393px;
$bahamas-total-height: 321px;
$bahamas-image: '/static/sprite.png';
$bahamas: (253px, 225px, -253px, -225px, 22px, 15px, 393px, 321px, '/static/sprite.png', 'bahamas', );
$bank-transfer-name: 'bank_transfer';
$bank-transfer-x: 185px;
$bank-transfer-y: 199px;
$bank-transfer-offset-x: -185px;
$bank-transfer-offset-y: -199px;
$bank-transfer-width: 46px;
$bank-transfer-height: 28px;
$bank-transfer-total-width: 393px;
$bank-transfer-total-height: 321px;
$bank-transfer-image: '/static/sprite.png';
$bank-transfer: (185px, 199px, -185px, -199px, 46px, 28px, 393px, 321px, '/static/sprite.png', 'bank_transfer', );
$bmw-name: 'bmw';
$bmw-x: 115px;
$bmw-y: 199px;
$bmw-offset-x: -115px;
$bmw-offset-y: -199px;
$bmw-width: 70px;
$bmw-height: 45px;
$bmw-total-width: 393px;
$bmw-total-height: 321px;
$bmw-image: '/static/sprite.png';
$bmw: (115px, 199px, -115px, -199px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'bmw', );
$bus-name: 'bus';
$bus-x: 138px;
$bus-y: 0px;
$bus-offset-x: -138px;
$bus-offset-y: 0px;
$bus-width: 115px;
$bus-height: 45px;
$bus-total-width: 393px;
$bus-total-height: 321px;
$bus-image: '/static/sprite.png';
$bus: (138px, 0px, -138px, 0px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'bus', );
$convertible-name: 'convertible';
$convertible-x: 138px;
$convertible-y: 45px;
$convertible-offset-x: -138px;
$convertible-offset-y: -45px;
$convertible-width: 115px;
$convertible-height: 45px;
$convertible-total-width: 393px;
$convertible-total-height: 321px;
$convertible-image: '/static/sprite.png';
$convertible: (138px, 45px, -138px, -45px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'convertible', );
$coupe-name: 'coupe';
$coupe-x: 0px;
$coupe-y: 109px;
$coupe-offset-x: 0px;
$coupe-offset-y: -109px;
$coupe-width: 115px;
$coupe-height: 45px;
$coupe-total-width: 393px;
$coupe-total-height: 321px;
$coupe-image: '/static/sprite.png';
$coupe: (0px, 109px, 0px, -109px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'coupe', );
$digicert-secure-name: 'digicert_secure';
$digicert-secure-x: 280px;
$digicert-secure-y: 244px;
$digicert-secure-offset-x: -280px;
$digicert-secure-offset-y: -244px;
$digicert-secure-width: 41px;
$digicert-secure-height: 30px;
$digicert-secure-total-width: 393px;
$digicert-secure-total-height: 321px;
$digicert-secure-image: '/static/sprite.png';
$digicert-secure: (280px, 244px, -280px, -244px, 41px, 30px, 393px, 321px, '/static/sprite.png', 'digicert_secure', );
$equity-name: 'equity';
$equity-x: 323px;
$equity-y: 122px;
$equity-offset-x: -323px;
$equity-offset-y: -122px;
$equity-width: 61px;
$equity-height: 25px;
$equity-total-width: 393px;
$equity-total-height: 321px;
$equity-image: '/static/sprite.png';
$equity: (323px, 122px, -323px, -122px, 61px, 25px, 393px, 321px, '/static/sprite.png', 'equity', );
$ford-name: 'ford';
$ford-x: 140px;
$ford-y: 244px;
$ford-offset-x: -140px;
$ford-offset-y: -244px;
$ford-width: 70px;
$ford-height: 45px;
$ford-total-width: 393px;
$ford-total-height: 321px;
$ford-image: '/static/sprite.png';
$ford: (140px, 244px, -140px, -244px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'ford', );
$hatchback-name: 'hatchback';
$hatchback-x: 115px;
$hatchback-y: 109px;
$hatchback-offset-x: -115px;
$hatchback-offset-y: -109px;
$hatchback-width: 115px;
$hatchback-height: 45px;
$hatchback-total-width: 393px;
$hatchback-total-height: 321px;
$hatchback-image: '/static/sprite.png';
$hatchback: (115px, 109px, -115px, -109px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'hatchback', );
$honda-name: 'honda';
$honda-x: 253px;
$honda-y: 0px;
$honda-offset-x: -253px;
$honda-offset-y: 0px;
$honda-width: 70px;
$honda-height: 45px;
$honda-total-width: 393px;
$honda-total-height: 321px;
$honda-image: '/static/sprite.png';
$honda: (253px, 0px, -253px, 0px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'honda', );
$isuzu-name: 'isuzu';
$isuzu-x: 253px;
$isuzu-y: 45px;
$isuzu-offset-x: -253px;
$isuzu-offset-y: -45px;
$isuzu-width: 70px;
$isuzu-height: 45px;
$isuzu-total-width: 393px;
$isuzu-total-height: 321px;
$isuzu-image: '/static/sprite.png';
$isuzu: (253px, 45px, -253px, -45px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'isuzu', );
$jumvea-shield-name: 'jumvea_shield';
$jumvea-shield-x: 323px;
$jumvea-shield-y: 207px;
$jumvea-shield-offset-x: -323px;
$jumvea-shield-offset-y: -207px;
$jumvea-shield-width: 36px;
$jumvea-shield-height: 41px;
$jumvea-shield-total-width: 393px;
$jumvea-shield-total-height: 321px;
$jumvea-shield-image: '/static/sprite.png';
$jumvea-shield: (323px, 207px, -323px, -207px, 36px, 41px, 393px, 321px, '/static/sprite.png', 'jumvea_shield', );
$jumvea-name: 'jumvea';
$jumvea-x: 323px;
$jumvea-y: 90px;
$jumvea-offset-x: -323px;
$jumvea-offset-y: -90px;
$jumvea-width: 48px;
$jumvea-height: 32px;
$jumvea-total-width: 393px;
$jumvea-total-height: 321px;
$jumvea-image: '/static/sprite.png';
$jumvea: (323px, 90px, -323px, -90px, 48px, 32px, 393px, 321px, '/static/sprite.png', 'jumvea', );
$kenya-name: 'kenya';
$kenya-x: 370px;
$kenya-y: 248px;
$kenya-offset-x: -370px;
$kenya-offset-y: -248px;
$kenya-width: 22px;
$kenya-height: 15px;
$kenya-total-width: 393px;
$kenya-total-height: 321px;
$kenya-image: '/static/sprite.png';
$kenya: (370px, 248px, -370px, -248px, 22px, 15px, 393px, 321px, '/static/sprite.png', 'kenya', );
$logo-footer-name: 'logo_footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 138px;
$logo-footer-height: 64px;
$logo-footer-total-width: 393px;
$logo-footer-total-height: 321px;
$logo-footer-image: '/static/sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 138px, 64px, 393px, 321px, '/static/sprite.png', 'logo_footer', );
$malawi-name: 'malawi';
$malawi-x: 371px;
$malawi-y: 105px;
$malawi-offset-x: -371px;
$malawi-offset-y: -105px;
$malawi-width: 22px;
$malawi-height: 15px;
$malawi-total-width: 393px;
$malawi-total-height: 321px;
$malawi-image: '/static/sprite.png';
$malawi: (371px, 105px, -371px, -105px, 22px, 15px, 393px, 321px, '/static/sprite.png', 'malawi', );
$master-card-name: 'master_card';
$master-card-x: 323px;
$master-card-y: 147px;
$master-card-offset-x: -323px;
$master-card-offset-y: -147px;
$master-card-width: 50px;
$master-card-height: 30px;
$master-card-total-width: 393px;
$master-card-total-height: 321px;
$master-card-image: '/static/sprite.png';
$master-card: (323px, 147px, -323px, -147px, 50px, 30px, 393px, 321px, '/static/sprite.png', 'master_card', );
$mazda-name: 'mazda';
$mazda-x: 253px;
$mazda-y: 90px;
$mazda-offset-x: -253px;
$mazda-offset-y: -90px;
$mazda-width: 70px;
$mazda-height: 45px;
$mazda-total-width: 393px;
$mazda-total-height: 321px;
$mazda-image: '/static/sprite.png';
$mazda: (253px, 90px, -253px, -90px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'mazda', );
$mercedes-benz-name: 'mercedes_benz';
$mercedes-benz-x: 323px;
$mercedes-benz-y: 0px;
$mercedes-benz-offset-x: -323px;
$mercedes-benz-offset-y: 0px;
$mercedes-benz-width: 70px;
$mercedes-benz-height: 45px;
$mercedes-benz-total-width: 393px;
$mercedes-benz-total-height: 321px;
$mercedes-benz-image: '/static/sprite.png';
$mercedes-benz: (323px, 0px, -323px, 0px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'mercedes_benz', );
$mozambique-name: 'mozambique';
$mozambique-x: 370px;
$mozambique-y: 263px;
$mozambique-offset-x: -370px;
$mozambique-offset-y: -263px;
$mozambique-width: 22px;
$mozambique-height: 15px;
$mozambique-total-width: 393px;
$mozambique-total-height: 321px;
$mozambique-image: '/static/sprite.png';
$mozambique: (370px, 263px, -370px, -263px, 22px, 15px, 393px, 321px, '/static/sprite.png', 'mozambique', );
$nisan-name: 'nisan';
$nisan-x: 323px;
$nisan-y: 45px;
$nisan-offset-x: -323px;
$nisan-offset-y: -45px;
$nisan-width: 70px;
$nisan-height: 45px;
$nisan-total-width: 393px;
$nisan-total-height: 321px;
$nisan-image: '/static/sprite.png';
$nisan: (323px, 45px, -323px, -45px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'nisan', );
$paypal-name: 'paypal';
$paypal-x: 323px;
$paypal-y: 177px;
$paypal-offset-x: -323px;
$paypal-offset-y: -177px;
$paypal-width: 50px;
$paypal-height: 30px;
$paypal-total-width: 393px;
$paypal-total-height: 321px;
$paypal-image: '/static/sprite.png';
$paypal: (323px, 177px, -323px, -177px, 50px, 30px, 393px, 321px, '/static/sprite.png', 'paypal', );
$resona-bank-name: 'resona_bank';
$resona-bank-x: 359px;
$resona-bank-y: 207px;
$resona-bank-offset-x: -359px;
$resona-bank-offset-y: -207px;
$resona-bank-width: 31px;
$resona-bank-height: 40px;
$resona-bank-total-width: 393px;
$resona-bank-total-height: 321px;
$resona-bank-image: '/static/sprite.png';
$resona-bank: (359px, 207px, -359px, -207px, 31px, 40px, 393px, 321px, '/static/sprite.png', 'resona_bank', );
$sabaru-name: 'sabaru';
$sabaru-x: 210px;
$sabaru-y: 244px;
$sabaru-offset-x: -210px;
$sabaru-offset-y: -244px;
$sabaru-width: 70px;
$sabaru-height: 45px;
$sabaru-total-width: 393px;
$sabaru-total-height: 321px;
$sabaru-image: '/static/sprite.png';
$sabaru: (210px, 244px, -210px, -244px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'sabaru', );
$sedan-name: 'sedan';
$sedan-x: 0px;
$sedan-y: 199px;
$sedan-offset-x: 0px;
$sedan-offset-y: -199px;
$sedan-width: 115px;
$sedan-height: 45px;
$sedan-total-width: 393px;
$sedan-total-height: 321px;
$sedan-image: '/static/sprite.png';
$sedan: (0px, 199px, 0px, -199px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'sedan', );
$suv-name: 'suv';
$suv-x: 115px;
$suv-y: 154px;
$suv-offset-x: -115px;
$suv-offset-y: -154px;
$suv-width: 115px;
$suv-height: 45px;
$suv-total-width: 393px;
$suv-total-height: 321px;
$suv-image: '/static/sprite.png';
$suv: (115px, 154px, -115px, -154px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'suv', );
$suzuki-name: 'suzuki';
$suzuki-x: 253px;
$suzuki-y: 180px;
$suzuki-offset-x: -253px;
$suzuki-offset-y: -180px;
$suzuki-width: 70px;
$suzuki-height: 45px;
$suzuki-total-width: 393px;
$suzuki-total-height: 321px;
$suzuki-image: '/static/sprite.png';
$suzuki: (253px, 180px, -253px, -180px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'suzuki', );
$tanzania-name: 'tanzania';
$tanzania-x: 371px;
$tanzania-y: 90px;
$tanzania-offset-x: -371px;
$tanzania-offset-y: -90px;
$tanzania-width: 22px;
$tanzania-height: 15px;
$tanzania-total-width: 393px;
$tanzania-total-height: 321px;
$tanzania-image: '/static/sprite.png';
$tanzania: (371px, 90px, -371px, -90px, 22px, 15px, 393px, 321px, '/static/sprite.png', 'tanzania', );
$test-name: 'test';
$test-x: 0px;
$test-y: 289px;
$test-offset-x: 0px;
$test-offset-y: -289px;
$test-width: 32px;
$test-height: 32px;
$test-total-width: 393px;
$test-total-height: 321px;
$test-image: '/static/sprite.png';
$test: (0px, 289px, 0px, -289px, 32px, 32px, 393px, 321px, '/static/sprite.png', 'test', );
$toyota-name: 'toyota';
$toyota-x: 253px;
$toyota-y: 135px;
$toyota-offset-x: -253px;
$toyota-offset-y: -135px;
$toyota-width: 70px;
$toyota-height: 45px;
$toyota-total-width: 393px;
$toyota-total-height: 321px;
$toyota-image: '/static/sprite.png';
$toyota: (253px, 135px, -253px, -135px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'toyota', );
$truck-2-name: 'truck_2';
$truck-2-x: 0px;
$truck-2-y: 154px;
$truck-2-offset-x: 0px;
$truck-2-offset-y: -154px;
$truck-2-width: 115px;
$truck-2-height: 45px;
$truck-2-total-width: 393px;
$truck-2-total-height: 321px;
$truck-2-image: '/static/sprite.png';
$truck-2: (0px, 154px, 0px, -154px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'truck_2', );
$visa-name: 'visa';
$visa-x: 323px;
$visa-y: 248px;
$visa-offset-x: -323px;
$visa-offset-y: -248px;
$visa-width: 47px;
$visa-height: 30px;
$visa-total-width: 393px;
$visa-total-height: 321px;
$visa-image: '/static/sprite.png';
$visa: (323px, 248px, -323px, -248px, 47px, 30px, 393px, 321px, '/static/sprite.png', 'visa', );
$volkswagen-name: 'volkswagen';
$volkswagen-x: 70px;
$volkswagen-y: 244px;
$volkswagen-offset-x: -70px;
$volkswagen-offset-y: -244px;
$volkswagen-width: 70px;
$volkswagen-height: 45px;
$volkswagen-total-width: 393px;
$volkswagen-total-height: 321px;
$volkswagen-image: '/static/sprite.png';
$volkswagen: (70px, 244px, -70px, -244px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'volkswagen', );
$volvo-name: 'volvo';
$volvo-x: 0px;
$volvo-y: 244px;
$volvo-offset-x: 0px;
$volvo-offset-y: -244px;
$volvo-width: 70px;
$volvo-height: 45px;
$volvo-total-width: 393px;
$volvo-total-height: 321px;
$volvo-image: '/static/sprite.png';
$volvo: (0px, 244px, 0px, -244px, 70px, 45px, 393px, 321px, '/static/sprite.png', 'volvo', );
$wagon-name: 'wagon';
$wagon-x: 0px;
$wagon-y: 64px;
$wagon-offset-x: 0px;
$wagon-offset-y: -64px;
$wagon-width: 115px;
$wagon-height: 45px;
$wagon-total-width: 393px;
$wagon-total-height: 321px;
$wagon-image: '/static/sprite.png';
$wagon: (0px, 64px, 0px, -64px, 115px, 45px, 393px, 321px, '/static/sprite.png', 'wagon', );
$retina-bahamas-name: 'retina_bahamas';
$retina-bahamas-x: 722px;
$retina-bahamas-y: 540px;
$retina-bahamas-offset-x: -722px;
$retina-bahamas-offset-y: -540px;
$retina-bahamas-width: 44px;
$retina-bahamas-height: 30px;
$retina-bahamas-total-width: 774px;
$retina-bahamas-total-height: 728px;
$retina-bahamas-image: '/static/sprite@2x.png';
$retina-bahamas: (722px, 540px, -722px, -540px, 44px, 30px, 774px, 728px, '/static/sprite@2x.png', 'retina_bahamas', );
$retina-bank-transfer-name: 'retina_bank_transfer';
$retina-bank-transfer-x: 140px;
$retina-bank-transfer-y: 578px;
$retina-bank-transfer-offset-x: -140px;
$retina-bank-transfer-offset-y: -578px;
$retina-bank-transfer-width: 92px;
$retina-bank-transfer-height: 56px;
$retina-bank-transfer-total-width: 774px;
$retina-bank-transfer-total-height: 728px;
$retina-bank-transfer-image: '/static/sprite@2x.png';
$retina-bank-transfer: (140px, 578px, -140px, -578px, 92px, 56px, 774px, 728px, '/static/sprite@2x.png', 'retina_bank_transfer', );
$retina-bmw-name: 'retina_bmw';
$retina-bmw-x: 634px;
$retina-bmw-y: 270px;
$retina-bmw-offset-x: -634px;
$retina-bmw-offset-y: -270px;
$retina-bmw-width: 140px;
$retina-bmw-height: 90px;
$retina-bmw-total-width: 774px;
$retina-bmw-total-height: 728px;
$retina-bmw-image: '/static/sprite@2x.png';
$retina-bmw: (634px, 270px, -634px, -270px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_bmw', );
$retina-bus-name: 'retina_bus';
$retina-bus-x: 276px;
$retina-bus-y: 0px;
$retina-bus-offset-x: -276px;
$retina-bus-offset-y: 0px;
$retina-bus-width: 230px;
$retina-bus-height: 90px;
$retina-bus-total-width: 774px;
$retina-bus-total-height: 728px;
$retina-bus-image: '/static/sprite@2x.png';
$retina-bus: (276px, 0px, -276px, 0px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_bus', );
$retina-convertible-name: 'retina_convertible';
$retina-convertible-x: 276px;
$retina-convertible-y: 90px;
$retina-convertible-offset-x: -276px;
$retina-convertible-offset-y: -90px;
$retina-convertible-width: 230px;
$retina-convertible-height: 90px;
$retina-convertible-total-width: 774px;
$retina-convertible-total-height: 728px;
$retina-convertible-image: '/static/sprite@2x.png';
$retina-convertible: (276px, 90px, -276px, -90px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_convertible', );
$retina-coupe-name: 'retina_coupe';
$retina-coupe-x: 0px;
$retina-coupe-y: 218px;
$retina-coupe-offset-x: 0px;
$retina-coupe-offset-y: -218px;
$retina-coupe-width: 230px;
$retina-coupe-height: 90px;
$retina-coupe-total-width: 774px;
$retina-coupe-total-height: 728px;
$retina-coupe-image: '/static/sprite@2x.png';
$retina-coupe: (0px, 218px, 0px, -218px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_coupe', );
$retina-digicert-secure-name: 'retina_digicert_secure';
$retina-digicert-secure-x: 0px;
$retina-digicert-secure-y: 668px;
$retina-digicert-secure-offset-x: 0px;
$retina-digicert-secure-offset-y: -668px;
$retina-digicert-secure-width: 82px;
$retina-digicert-secure-height: 60px;
$retina-digicert-secure-total-width: 774px;
$retina-digicert-secure-total-height: 728px;
$retina-digicert-secure-image: '/static/sprite@2x.png';
$retina-digicert-secure: (0px, 668px, 0px, -668px, 82px, 60px, 774px, 728px, '/static/sprite@2x.png', 'retina_digicert_secure', );
$retina-equity-name: 'retina_equity';
$retina-equity-x: 506px;
$retina-equity-y: 128px;
$retina-equity-offset-x: -506px;
$retina-equity-offset-y: -128px;
$retina-equity-width: 122px;
$retina-equity-height: 50px;
$retina-equity-total-width: 774px;
$retina-equity-total-height: 728px;
$retina-equity-image: '/static/sprite@2x.png';
$retina-equity: (506px, 128px, -506px, -128px, 122px, 50px, 774px, 728px, '/static/sprite@2x.png', 'retina_equity', );
$retina-ford-name: 'retina_ford';
$retina-ford-x: 634px;
$retina-ford-y: 180px;
$retina-ford-offset-x: -634px;
$retina-ford-offset-y: -180px;
$retina-ford-width: 140px;
$retina-ford-height: 90px;
$retina-ford-total-width: 774px;
$retina-ford-total-height: 728px;
$retina-ford-image: '/static/sprite@2x.png';
$retina-ford: (634px, 180px, -634px, -180px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_ford', );
$retina-hatchback-name: 'retina_hatchback';
$retina-hatchback-x: 230px;
$retina-hatchback-y: 218px;
$retina-hatchback-offset-x: -230px;
$retina-hatchback-offset-y: -218px;
$retina-hatchback-width: 230px;
$retina-hatchback-height: 90px;
$retina-hatchback-total-width: 774px;
$retina-hatchback-total-height: 728px;
$retina-hatchback-image: '/static/sprite@2x.png';
$retina-hatchback: (230px, 218px, -230px, -218px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_hatchback', );
$retina-honda-name: 'retina_honda';
$retina-honda-x: 230px;
$retina-honda-y: 398px;
$retina-honda-offset-x: -230px;
$retina-honda-offset-y: -398px;
$retina-honda-width: 140px;
$retina-honda-height: 90px;
$retina-honda-total-width: 774px;
$retina-honda-total-height: 728px;
$retina-honda-image: '/static/sprite@2x.png';
$retina-honda: (230px, 398px, -230px, -398px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_honda', );
$retina-isuzu-name: 'retina_isuzu';
$retina-isuzu-x: 0px;
$retina-isuzu-y: 488px;
$retina-isuzu-offset-x: 0px;
$retina-isuzu-offset-y: -488px;
$retina-isuzu-width: 140px;
$retina-isuzu-height: 90px;
$retina-isuzu-total-width: 774px;
$retina-isuzu-total-height: 728px;
$retina-isuzu-image: '/static/sprite@2x.png';
$retina-isuzu: (0px, 488px, 0px, -488px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_isuzu', );
$retina-jumvea-shield-name: 'retina_jumvea_shield';
$retina-jumvea-shield-x: 506px;
$retina-jumvea-shield-y: 362px;
$retina-jumvea-shield-offset-x: -506px;
$retina-jumvea-shield-offset-y: -362px;
$retina-jumvea-shield-width: 71px;
$retina-jumvea-shield-height: 81px;
$retina-jumvea-shield-total-width: 774px;
$retina-jumvea-shield-total-height: 728px;
$retina-jumvea-shield-image: '/static/sprite@2x.png';
$retina-jumvea-shield: (506px, 362px, -506px, -362px, 71px, 81px, 774px, 728px, '/static/sprite@2x.png', 'retina_jumvea_shield', );
$retina-jumvea-name: 'retina_jumvea';
$retina-jumvea-x: 506px;
$retina-jumvea-y: 178px;
$retina-jumvea-offset-x: -506px;
$retina-jumvea-offset-y: -178px;
$retina-jumvea-width: 95px;
$retina-jumvea-height: 64px;
$retina-jumvea-total-width: 774px;
$retina-jumvea-total-height: 728px;
$retina-jumvea-image: '/static/sprite@2x.png';
$retina-jumvea: (506px, 178px, -506px, -178px, 95px, 64px, 774px, 728px, '/static/sprite@2x.png', 'retina_jumvea', );
$retina-kenya-name: 'retina_kenya';
$retina-kenya-x: 577px;
$retina-kenya-y: 392px;
$retina-kenya-offset-x: -577px;
$retina-kenya-offset-y: -392px;
$retina-kenya-width: 44px;
$retina-kenya-height: 30px;
$retina-kenya-total-width: 774px;
$retina-kenya-total-height: 728px;
$retina-kenya-image: '/static/sprite@2x.png';
$retina-kenya: (577px, 392px, -577px, -392px, 44px, 30px, 774px, 728px, '/static/sprite@2x.png', 'retina_kenya', );
$retina-logo-footer-name: 'retina_logo_footer';
$retina-logo-footer-x: 0px;
$retina-logo-footer-y: 0px;
$retina-logo-footer-offset-x: 0px;
$retina-logo-footer-offset-y: 0px;
$retina-logo-footer-width: 276px;
$retina-logo-footer-height: 128px;
$retina-logo-footer-total-width: 774px;
$retina-logo-footer-total-height: 728px;
$retina-logo-footer-image: '/static/sprite@2x.png';
$retina-logo-footer: (0px, 0px, 0px, 0px, 276px, 128px, 774px, 728px, '/static/sprite@2x.png', 'retina_logo_footer', );
$retina-malawi-name: 'retina_malawi';
$retina-malawi-x: 634px;
$retina-malawi-y: 540px;
$retina-malawi-offset-x: -634px;
$retina-malawi-offset-y: -540px;
$retina-malawi-width: 44px;
$retina-malawi-height: 30px;
$retina-malawi-total-width: 774px;
$retina-malawi-total-height: 728px;
$retina-malawi-image: '/static/sprite@2x.png';
$retina-malawi: (634px, 540px, -634px, -540px, 44px, 30px, 774px, 728px, '/static/sprite@2x.png', 'retina_malawi', );
$retina-master-card-name: 'retina_master_card';
$retina-master-card-x: 506px;
$retina-master-card-y: 302px;
$retina-master-card-offset-x: -506px;
$retina-master-card-offset-y: -302px;
$retina-master-card-width: 100px;
$retina-master-card-height: 60px;
$retina-master-card-total-width: 774px;
$retina-master-card-total-height: 728px;
$retina-master-card-image: '/static/sprite@2x.png';
$retina-master-card: (506px, 302px, -506px, -302px, 100px, 60px, 774px, 728px, '/static/sprite@2x.png', 'retina_master_card', );
$retina-mazda-name: 'retina_mazda';
$retina-mazda-x: 140px;
$retina-mazda-y: 488px;
$retina-mazda-offset-x: -140px;
$retina-mazda-offset-y: -488px;
$retina-mazda-width: 140px;
$retina-mazda-height: 90px;
$retina-mazda-total-width: 774px;
$retina-mazda-total-height: 728px;
$retina-mazda-image: '/static/sprite@2x.png';
$retina-mazda: (140px, 488px, -140px, -488px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_mazda', );
$retina-mercedes-benz-name: 'retina_mercedes_benz';
$retina-mercedes-benz-x: 634px;
$retina-mercedes-benz-y: 360px;
$retina-mercedes-benz-offset-x: -634px;
$retina-mercedes-benz-offset-y: -360px;
$retina-mercedes-benz-width: 140px;
$retina-mercedes-benz-height: 90px;
$retina-mercedes-benz-total-width: 774px;
$retina-mercedes-benz-total-height: 728px;
$retina-mercedes-benz-image: '/static/sprite@2x.png';
$retina-mercedes-benz: (634px, 360px, -634px, -360px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_mercedes_benz', );
$retina-mozambique-name: 'retina_mozambique';
$retina-mozambique-x: 577px;
$retina-mozambique-y: 362px;
$retina-mozambique-offset-x: -577px;
$retina-mozambique-offset-y: -362px;
$retina-mozambique-width: 44px;
$retina-mozambique-height: 30px;
$retina-mozambique-total-width: 774px;
$retina-mozambique-total-height: 728px;
$retina-mozambique-image: '/static/sprite@2x.png';
$retina-mozambique: (577px, 362px, -577px, -362px, 44px, 30px, 774px, 728px, '/static/sprite@2x.png', 'retina_mozambique', );
$retina-nisan-name: 'retina_nisan';
$retina-nisan-x: 0px;
$retina-nisan-y: 578px;
$retina-nisan-offset-x: 0px;
$retina-nisan-offset-y: -578px;
$retina-nisan-width: 140px;
$retina-nisan-height: 90px;
$retina-nisan-total-width: 774px;
$retina-nisan-total-height: 728px;
$retina-nisan-image: '/static/sprite@2x.png';
$retina-nisan: (0px, 578px, 0px, -578px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_nisan', );
$retina-paypal-name: 'retina_paypal';
$retina-paypal-x: 506px;
$retina-paypal-y: 242px;
$retina-paypal-offset-x: -506px;
$retina-paypal-offset-y: -242px;
$retina-paypal-width: 100px;
$retina-paypal-height: 60px;
$retina-paypal-total-width: 774px;
$retina-paypal-total-height: 728px;
$retina-paypal-image: '/static/sprite@2x.png';
$retina-paypal: (506px, 242px, -506px, -242px, 100px, 60px, 774px, 728px, '/static/sprite@2x.png', 'retina_paypal', );
$retina-resona-bank-name: 'retina_resona_bank';
$retina-resona-bank-x: 560px;
$retina-resona-bank-y: 488px;
$retina-resona-bank-offset-x: -560px;
$retina-resona-bank-offset-y: -488px;
$retina-resona-bank-width: 62px;
$retina-resona-bank-height: 80px;
$retina-resona-bank-total-width: 774px;
$retina-resona-bank-total-height: 728px;
$retina-resona-bank-image: '/static/sprite@2x.png';
$retina-resona-bank: (560px, 488px, -560px, -488px, 62px, 80px, 774px, 728px, '/static/sprite@2x.png', 'retina_resona_bank', );
$retina-sabaru-name: 'retina_sabaru';
$retina-sabaru-x: 634px;
$retina-sabaru-y: 450px;
$retina-sabaru-offset-x: -634px;
$retina-sabaru-offset-y: -450px;
$retina-sabaru-width: 140px;
$retina-sabaru-height: 90px;
$retina-sabaru-total-width: 774px;
$retina-sabaru-total-height: 728px;
$retina-sabaru-image: '/static/sprite@2x.png';
$retina-sabaru: (634px, 450px, -634px, -450px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_sabaru', );
$retina-sedan-name: 'retina_sedan';
$retina-sedan-x: 0px;
$retina-sedan-y: 398px;
$retina-sedan-offset-x: 0px;
$retina-sedan-offset-y: -398px;
$retina-sedan-width: 230px;
$retina-sedan-height: 90px;
$retina-sedan-total-width: 774px;
$retina-sedan-total-height: 728px;
$retina-sedan-image: '/static/sprite@2x.png';
$retina-sedan: (0px, 398px, 0px, -398px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_sedan', );
$retina-suv-name: 'retina_suv';
$retina-suv-x: 230px;
$retina-suv-y: 308px;
$retina-suv-offset-x: -230px;
$retina-suv-offset-y: -308px;
$retina-suv-width: 230px;
$retina-suv-height: 90px;
$retina-suv-total-width: 774px;
$retina-suv-total-height: 728px;
$retina-suv-image: '/static/sprite@2x.png';
$retina-suv: (230px, 308px, -230px, -308px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_suv', );
$retina-suzuki-name: 'retina_suzuki';
$retina-suzuki-x: 634px;
$retina-suzuki-y: 90px;
$retina-suzuki-offset-x: -634px;
$retina-suzuki-offset-y: -90px;
$retina-suzuki-width: 140px;
$retina-suzuki-height: 90px;
$retina-suzuki-total-width: 774px;
$retina-suzuki-total-height: 728px;
$retina-suzuki-image: '/static/sprite@2x.png';
$retina-suzuki: (634px, 90px, -634px, -90px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_suzuki', );
$retina-tanzania-name: 'retina_tanzania';
$retina-tanzania-x: 678px;
$retina-tanzania-y: 540px;
$retina-tanzania-offset-x: -678px;
$retina-tanzania-offset-y: -540px;
$retina-tanzania-width: 44px;
$retina-tanzania-height: 30px;
$retina-tanzania-total-width: 774px;
$retina-tanzania-total-height: 728px;
$retina-tanzania-image: '/static/sprite@2x.png';
$retina-tanzania: (678px, 540px, -678px, -540px, 44px, 30px, 774px, 728px, '/static/sprite@2x.png', 'retina_tanzania', );
$retina-test-name: 'retina_test';
$retina-test-x: 506px;
$retina-test-y: 0px;
$retina-test-offset-x: -506px;
$retina-test-offset-y: 0px;
$retina-test-width: 128px;
$retina-test-height: 128px;
$retina-test-total-width: 774px;
$retina-test-total-height: 728px;
$retina-test-image: '/static/sprite@2x.png';
$retina-test: (506px, 0px, -506px, 0px, 128px, 128px, 774px, 728px, '/static/sprite@2x.png', 'retina_test', );
$retina-toyota-name: 'retina_toyota';
$retina-toyota-x: 280px;
$retina-toyota-y: 488px;
$retina-toyota-offset-x: -280px;
$retina-toyota-offset-y: -488px;
$retina-toyota-width: 140px;
$retina-toyota-height: 90px;
$retina-toyota-total-width: 774px;
$retina-toyota-total-height: 728px;
$retina-toyota-image: '/static/sprite@2x.png';
$retina-toyota: (280px, 488px, -280px, -488px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_toyota', );
$retina-truck-2-name: 'retina_truck_2';
$retina-truck-2-x: 0px;
$retina-truck-2-y: 308px;
$retina-truck-2-offset-x: 0px;
$retina-truck-2-offset-y: -308px;
$retina-truck-2-width: 230px;
$retina-truck-2-height: 90px;
$retina-truck-2-total-width: 774px;
$retina-truck-2-total-height: 728px;
$retina-truck-2-image: '/static/sprite@2x.png';
$retina-truck-2: (0px, 308px, 0px, -308px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_truck_2', );
$retina-visa-name: 'retina_visa';
$retina-visa-x: 370px;
$retina-visa-y: 398px;
$retina-visa-offset-x: -370px;
$retina-visa-offset-y: -398px;
$retina-visa-width: 94px;
$retina-visa-height: 60px;
$retina-visa-total-width: 774px;
$retina-visa-total-height: 728px;
$retina-visa-image: '/static/sprite@2x.png';
$retina-visa: (370px, 398px, -370px, -398px, 94px, 60px, 774px, 728px, '/static/sprite@2x.png', 'retina_visa', );
$retina-volkswagen-name: 'retina_volkswagen';
$retina-volkswagen-x: 634px;
$retina-volkswagen-y: 0px;
$retina-volkswagen-offset-x: -634px;
$retina-volkswagen-offset-y: 0px;
$retina-volkswagen-width: 140px;
$retina-volkswagen-height: 90px;
$retina-volkswagen-total-width: 774px;
$retina-volkswagen-total-height: 728px;
$retina-volkswagen-image: '/static/sprite@2x.png';
$retina-volkswagen: (634px, 0px, -634px, 0px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_volkswagen', );
$retina-volvo-name: 'retina_volvo';
$retina-volvo-x: 420px;
$retina-volvo-y: 488px;
$retina-volvo-offset-x: -420px;
$retina-volvo-offset-y: -488px;
$retina-volvo-width: 140px;
$retina-volvo-height: 90px;
$retina-volvo-total-width: 774px;
$retina-volvo-total-height: 728px;
$retina-volvo-image: '/static/sprite@2x.png';
$retina-volvo: (420px, 488px, -420px, -488px, 140px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_volvo', );
$retina-wagon-name: 'retina_wagon';
$retina-wagon-x: 0px;
$retina-wagon-y: 128px;
$retina-wagon-offset-x: 0px;
$retina-wagon-offset-y: -128px;
$retina-wagon-width: 230px;
$retina-wagon-height: 90px;
$retina-wagon-total-width: 774px;
$retina-wagon-total-height: 728px;
$retina-wagon-image: '/static/sprite@2x.png';
$retina-wagon: (0px, 128px, 0px, -128px, 230px, 90px, 774px, 728px, '/static/sprite@2x.png', 'retina_wagon', );
$spritesheet-width: 393px;
$spritesheet-height: 321px;
$spritesheet-image: '/static/sprite.png';
$spritesheet-sprites: ($bahamas, $bank-transfer, $bmw, $bus, $convertible, $coupe, $digicert-secure, $equity, $ford, $hatchback, $honda, $isuzu, $jumvea-shield, $jumvea, $kenya, $logo-footer, $malawi, $master-card, $mazda, $mercedes-benz, $mozambique, $nisan, $paypal, $resona-bank, $sabaru, $sedan, $suv, $suzuki, $tanzania, $test, $toyota, $truck-2, $visa, $volkswagen, $volvo, $wagon, );
$spritesheet: (393px, 321px, '/static/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 774px;
$retina-spritesheet-height: 728px;
$retina-spritesheet-image: '/static/sprite@2x.png';
$retina-spritesheet-sprites: ($retina-bahamas, $retina-bank-transfer, $retina-bmw, $retina-bus, $retina-convertible, $retina-coupe, $retina-digicert-secure, $retina-equity, $retina-ford, $retina-hatchback, $retina-honda, $retina-isuzu, $retina-jumvea-shield, $retina-jumvea, $retina-kenya, $retina-logo-footer, $retina-malawi, $retina-master-card, $retina-mazda, $retina-mercedes-benz, $retina-mozambique, $retina-nisan, $retina-paypal, $retina-resona-bank, $retina-sabaru, $retina-sedan, $retina-suv, $retina-suzuki, $retina-tanzania, $retina-test, $retina-toyota, $retina-truck-2, $retina-visa, $retina-volkswagen, $retina-volvo, $retina-wagon, );
$retina-spritesheet: (774px, 728px, '/static/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$bahamas-group-name: 'bahamas';
$bahamas-group: ('bahamas', $bahamas, $retina-bahamas, );
$bank-transfer-group-name: 'bank_transfer';
$bank-transfer-group: ('bank_transfer', $bank-transfer, $retina-bank-transfer, );
$bmw-group-name: 'bmw';
$bmw-group: ('bmw', $bmw, $retina-bmw, );
$bus-group-name: 'bus';
$bus-group: ('bus', $bus, $retina-bus, );
$convertible-group-name: 'convertible';
$convertible-group: ('convertible', $convertible, $retina-convertible, );
$coupe-group-name: 'coupe';
$coupe-group: ('coupe', $coupe, $retina-coupe, );
$digicert-secure-group-name: 'digicert_secure';
$digicert-secure-group: ('digicert_secure', $digicert-secure, $retina-digicert-secure, );
$equity-group-name: 'equity';
$equity-group: ('equity', $equity, $retina-equity, );
$ford-group-name: 'ford';
$ford-group: ('ford', $ford, $retina-ford, );
$hatchback-group-name: 'hatchback';
$hatchback-group: ('hatchback', $hatchback, $retina-hatchback, );
$honda-group-name: 'honda';
$honda-group: ('honda', $honda, $retina-honda, );
$isuzu-group-name: 'isuzu';
$isuzu-group: ('isuzu', $isuzu, $retina-isuzu, );
$jumvea-shield-group-name: 'jumvea_shield';
$jumvea-shield-group: ('jumvea_shield', $jumvea-shield, $retina-jumvea-shield, );
$jumvea-group-name: 'jumvea';
$jumvea-group: ('jumvea', $jumvea, $retina-jumvea, );
$kenya-group-name: 'kenya';
$kenya-group: ('kenya', $kenya, $retina-kenya, );
$logo-footer-group-name: 'logo_footer';
$logo-footer-group: ('logo_footer', $logo-footer, $retina-logo-footer, );
$malawi-group-name: 'malawi';
$malawi-group: ('malawi', $malawi, $retina-malawi, );
$master-card-group-name: 'master_card';
$master-card-group: ('master_card', $master-card, $retina-master-card, );
$mazda-group-name: 'mazda';
$mazda-group: ('mazda', $mazda, $retina-mazda, );
$mercedes-benz-group-name: 'mercedes_benz';
$mercedes-benz-group: ('mercedes_benz', $mercedes-benz, $retina-mercedes-benz, );
$mozambique-group-name: 'mozambique';
$mozambique-group: ('mozambique', $mozambique, $retina-mozambique, );
$nisan-group-name: 'nisan';
$nisan-group: ('nisan', $nisan, $retina-nisan, );
$paypal-group-name: 'paypal';
$paypal-group: ('paypal', $paypal, $retina-paypal, );
$resona-bank-group-name: 'resona_bank';
$resona-bank-group: ('resona_bank', $resona-bank, $retina-resona-bank, );
$sabaru-group-name: 'sabaru';
$sabaru-group: ('sabaru', $sabaru, $retina-sabaru, );
$sedan-group-name: 'sedan';
$sedan-group: ('sedan', $sedan, $retina-sedan, );
$suv-group-name: 'suv';
$suv-group: ('suv', $suv, $retina-suv, );
$suzuki-group-name: 'suzuki';
$suzuki-group: ('suzuki', $suzuki, $retina-suzuki, );
$tanzania-group-name: 'tanzania';
$tanzania-group: ('tanzania', $tanzania, $retina-tanzania, );
$test-group-name: 'test';
$test-group: ('test', $test, $retina-test, );
$toyota-group-name: 'toyota';
$toyota-group: ('toyota', $toyota, $retina-toyota, );
$truck-2-group-name: 'truck_2';
$truck-2-group: ('truck_2', $truck-2, $retina-truck-2, );
$visa-group-name: 'visa';
$visa-group: ('visa', $visa, $retina-visa, );
$volkswagen-group-name: 'volkswagen';
$volkswagen-group: ('volkswagen', $volkswagen, $retina-volkswagen, );
$volvo-group-name: 'volvo';
$volvo-group: ('volvo', $volvo, $retina-volvo, );
$wagon-group-name: 'wagon';
$wagon-group: ('wagon', $wagon, $retina-wagon, );
$retina-groups: ($bahamas-group, $bank-transfer-group, $bmw-group, $bus-group, $convertible-group, $coupe-group, $digicert-secure-group, $equity-group, $ford-group, $hatchback-group, $honda-group, $isuzu-group, $jumvea-shield-group, $jumvea-group, $kenya-group, $logo-footer-group, $malawi-group, $master-card-group, $mazda-group, $mercedes-benz-group, $mozambique-group, $nisan-group, $paypal-group, $resona-bank-group, $sabaru-group, $sedan-group, $suv-group, $suzuki-group, $tanzania-group, $test-group, $toyota-group, $truck-2-group, $visa-group, $volkswagen-group, $volvo-group, $wagon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
