/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bahamas_name = 'bahamas';
$bahamas_x = 253px;
$bahamas_y = 225px;
$bahamas_offset_x = -253px;
$bahamas_offset_y = -225px;
$bahamas_width = 22px;
$bahamas_height = 15px;
$bahamas_total_width = 393px;
$bahamas_total_height = 321px;
$bahamas_image = '/static/sprite.png';
$bahamas = 253px 225px -253px -225px 22px 15px 393px 321px '/static/sprite.png' 'bahamas';
$bank_transfer_name = 'bank_transfer';
$bank_transfer_x = 185px;
$bank_transfer_y = 199px;
$bank_transfer_offset_x = -185px;
$bank_transfer_offset_y = -199px;
$bank_transfer_width = 46px;
$bank_transfer_height = 28px;
$bank_transfer_total_width = 393px;
$bank_transfer_total_height = 321px;
$bank_transfer_image = '/static/sprite.png';
$bank_transfer = 185px 199px -185px -199px 46px 28px 393px 321px '/static/sprite.png' 'bank_transfer';
$bmw_name = 'bmw';
$bmw_x = 115px;
$bmw_y = 199px;
$bmw_offset_x = -115px;
$bmw_offset_y = -199px;
$bmw_width = 70px;
$bmw_height = 45px;
$bmw_total_width = 393px;
$bmw_total_height = 321px;
$bmw_image = '/static/sprite.png';
$bmw = 115px 199px -115px -199px 70px 45px 393px 321px '/static/sprite.png' 'bmw';
$bus_name = 'bus';
$bus_x = 138px;
$bus_y = 0px;
$bus_offset_x = -138px;
$bus_offset_y = 0px;
$bus_width = 115px;
$bus_height = 45px;
$bus_total_width = 393px;
$bus_total_height = 321px;
$bus_image = '/static/sprite.png';
$bus = 138px 0px -138px 0px 115px 45px 393px 321px '/static/sprite.png' 'bus';
$convertible_name = 'convertible';
$convertible_x = 138px;
$convertible_y = 45px;
$convertible_offset_x = -138px;
$convertible_offset_y = -45px;
$convertible_width = 115px;
$convertible_height = 45px;
$convertible_total_width = 393px;
$convertible_total_height = 321px;
$convertible_image = '/static/sprite.png';
$convertible = 138px 45px -138px -45px 115px 45px 393px 321px '/static/sprite.png' 'convertible';
$coupe_name = 'coupe';
$coupe_x = 0px;
$coupe_y = 109px;
$coupe_offset_x = 0px;
$coupe_offset_y = -109px;
$coupe_width = 115px;
$coupe_height = 45px;
$coupe_total_width = 393px;
$coupe_total_height = 321px;
$coupe_image = '/static/sprite.png';
$coupe = 0px 109px 0px -109px 115px 45px 393px 321px '/static/sprite.png' 'coupe';
$digicert_secure_name = 'digicert_secure';
$digicert_secure_x = 280px;
$digicert_secure_y = 244px;
$digicert_secure_offset_x = -280px;
$digicert_secure_offset_y = -244px;
$digicert_secure_width = 41px;
$digicert_secure_height = 30px;
$digicert_secure_total_width = 393px;
$digicert_secure_total_height = 321px;
$digicert_secure_image = '/static/sprite.png';
$digicert_secure = 280px 244px -280px -244px 41px 30px 393px 321px '/static/sprite.png' 'digicert_secure';
$equity_name = 'equity';
$equity_x = 323px;
$equity_y = 122px;
$equity_offset_x = -323px;
$equity_offset_y = -122px;
$equity_width = 61px;
$equity_height = 25px;
$equity_total_width = 393px;
$equity_total_height = 321px;
$equity_image = '/static/sprite.png';
$equity = 323px 122px -323px -122px 61px 25px 393px 321px '/static/sprite.png' 'equity';
$ford_name = 'ford';
$ford_x = 140px;
$ford_y = 244px;
$ford_offset_x = -140px;
$ford_offset_y = -244px;
$ford_width = 70px;
$ford_height = 45px;
$ford_total_width = 393px;
$ford_total_height = 321px;
$ford_image = '/static/sprite.png';
$ford = 140px 244px -140px -244px 70px 45px 393px 321px '/static/sprite.png' 'ford';
$hatchback_name = 'hatchback';
$hatchback_x = 115px;
$hatchback_y = 109px;
$hatchback_offset_x = -115px;
$hatchback_offset_y = -109px;
$hatchback_width = 115px;
$hatchback_height = 45px;
$hatchback_total_width = 393px;
$hatchback_total_height = 321px;
$hatchback_image = '/static/sprite.png';
$hatchback = 115px 109px -115px -109px 115px 45px 393px 321px '/static/sprite.png' 'hatchback';
$honda_name = 'honda';
$honda_x = 253px;
$honda_y = 0px;
$honda_offset_x = -253px;
$honda_offset_y = 0px;
$honda_width = 70px;
$honda_height = 45px;
$honda_total_width = 393px;
$honda_total_height = 321px;
$honda_image = '/static/sprite.png';
$honda = 253px 0px -253px 0px 70px 45px 393px 321px '/static/sprite.png' 'honda';
$isuzu_name = 'isuzu';
$isuzu_x = 253px;
$isuzu_y = 45px;
$isuzu_offset_x = -253px;
$isuzu_offset_y = -45px;
$isuzu_width = 70px;
$isuzu_height = 45px;
$isuzu_total_width = 393px;
$isuzu_total_height = 321px;
$isuzu_image = '/static/sprite.png';
$isuzu = 253px 45px -253px -45px 70px 45px 393px 321px '/static/sprite.png' 'isuzu';
$jumvea_shield_name = 'jumvea_shield';
$jumvea_shield_x = 323px;
$jumvea_shield_y = 207px;
$jumvea_shield_offset_x = -323px;
$jumvea_shield_offset_y = -207px;
$jumvea_shield_width = 36px;
$jumvea_shield_height = 41px;
$jumvea_shield_total_width = 393px;
$jumvea_shield_total_height = 321px;
$jumvea_shield_image = '/static/sprite.png';
$jumvea_shield = 323px 207px -323px -207px 36px 41px 393px 321px '/static/sprite.png' 'jumvea_shield';
$jumvea_name = 'jumvea';
$jumvea_x = 323px;
$jumvea_y = 90px;
$jumvea_offset_x = -323px;
$jumvea_offset_y = -90px;
$jumvea_width = 48px;
$jumvea_height = 32px;
$jumvea_total_width = 393px;
$jumvea_total_height = 321px;
$jumvea_image = '/static/sprite.png';
$jumvea = 323px 90px -323px -90px 48px 32px 393px 321px '/static/sprite.png' 'jumvea';
$kenya_name = 'kenya';
$kenya_x = 370px;
$kenya_y = 248px;
$kenya_offset_x = -370px;
$kenya_offset_y = -248px;
$kenya_width = 22px;
$kenya_height = 15px;
$kenya_total_width = 393px;
$kenya_total_height = 321px;
$kenya_image = '/static/sprite.png';
$kenya = 370px 248px -370px -248px 22px 15px 393px 321px '/static/sprite.png' 'kenya';
$logo_footer_name = 'logo_footer';
$logo_footer_x = 0px;
$logo_footer_y = 0px;
$logo_footer_offset_x = 0px;
$logo_footer_offset_y = 0px;
$logo_footer_width = 138px;
$logo_footer_height = 64px;
$logo_footer_total_width = 393px;
$logo_footer_total_height = 321px;
$logo_footer_image = '/static/sprite.png';
$logo_footer = 0px 0px 0px 0px 138px 64px 393px 321px '/static/sprite.png' 'logo_footer';
$malawi_name = 'malawi';
$malawi_x = 371px;
$malawi_y = 105px;
$malawi_offset_x = -371px;
$malawi_offset_y = -105px;
$malawi_width = 22px;
$malawi_height = 15px;
$malawi_total_width = 393px;
$malawi_total_height = 321px;
$malawi_image = '/static/sprite.png';
$malawi = 371px 105px -371px -105px 22px 15px 393px 321px '/static/sprite.png' 'malawi';
$master_card_name = 'master_card';
$master_card_x = 323px;
$master_card_y = 147px;
$master_card_offset_x = -323px;
$master_card_offset_y = -147px;
$master_card_width = 50px;
$master_card_height = 30px;
$master_card_total_width = 393px;
$master_card_total_height = 321px;
$master_card_image = '/static/sprite.png';
$master_card = 323px 147px -323px -147px 50px 30px 393px 321px '/static/sprite.png' 'master_card';
$mazda_name = 'mazda';
$mazda_x = 253px;
$mazda_y = 90px;
$mazda_offset_x = -253px;
$mazda_offset_y = -90px;
$mazda_width = 70px;
$mazda_height = 45px;
$mazda_total_width = 393px;
$mazda_total_height = 321px;
$mazda_image = '/static/sprite.png';
$mazda = 253px 90px -253px -90px 70px 45px 393px 321px '/static/sprite.png' 'mazda';
$mercedes_benz_name = 'mercedes_benz';
$mercedes_benz_x = 323px;
$mercedes_benz_y = 0px;
$mercedes_benz_offset_x = -323px;
$mercedes_benz_offset_y = 0px;
$mercedes_benz_width = 70px;
$mercedes_benz_height = 45px;
$mercedes_benz_total_width = 393px;
$mercedes_benz_total_height = 321px;
$mercedes_benz_image = '/static/sprite.png';
$mercedes_benz = 323px 0px -323px 0px 70px 45px 393px 321px '/static/sprite.png' 'mercedes_benz';
$mozambique_name = 'mozambique';
$mozambique_x = 370px;
$mozambique_y = 263px;
$mozambique_offset_x = -370px;
$mozambique_offset_y = -263px;
$mozambique_width = 22px;
$mozambique_height = 15px;
$mozambique_total_width = 393px;
$mozambique_total_height = 321px;
$mozambique_image = '/static/sprite.png';
$mozambique = 370px 263px -370px -263px 22px 15px 393px 321px '/static/sprite.png' 'mozambique';
$nisan_name = 'nisan';
$nisan_x = 323px;
$nisan_y = 45px;
$nisan_offset_x = -323px;
$nisan_offset_y = -45px;
$nisan_width = 70px;
$nisan_height = 45px;
$nisan_total_width = 393px;
$nisan_total_height = 321px;
$nisan_image = '/static/sprite.png';
$nisan = 323px 45px -323px -45px 70px 45px 393px 321px '/static/sprite.png' 'nisan';
$paypal_name = 'paypal';
$paypal_x = 323px;
$paypal_y = 177px;
$paypal_offset_x = -323px;
$paypal_offset_y = -177px;
$paypal_width = 50px;
$paypal_height = 30px;
$paypal_total_width = 393px;
$paypal_total_height = 321px;
$paypal_image = '/static/sprite.png';
$paypal = 323px 177px -323px -177px 50px 30px 393px 321px '/static/sprite.png' 'paypal';
$resona_bank_name = 'resona_bank';
$resona_bank_x = 359px;
$resona_bank_y = 207px;
$resona_bank_offset_x = -359px;
$resona_bank_offset_y = -207px;
$resona_bank_width = 31px;
$resona_bank_height = 40px;
$resona_bank_total_width = 393px;
$resona_bank_total_height = 321px;
$resona_bank_image = '/static/sprite.png';
$resona_bank = 359px 207px -359px -207px 31px 40px 393px 321px '/static/sprite.png' 'resona_bank';
$sabaru_name = 'sabaru';
$sabaru_x = 210px;
$sabaru_y = 244px;
$sabaru_offset_x = -210px;
$sabaru_offset_y = -244px;
$sabaru_width = 70px;
$sabaru_height = 45px;
$sabaru_total_width = 393px;
$sabaru_total_height = 321px;
$sabaru_image = '/static/sprite.png';
$sabaru = 210px 244px -210px -244px 70px 45px 393px 321px '/static/sprite.png' 'sabaru';
$sedan_name = 'sedan';
$sedan_x = 0px;
$sedan_y = 199px;
$sedan_offset_x = 0px;
$sedan_offset_y = -199px;
$sedan_width = 115px;
$sedan_height = 45px;
$sedan_total_width = 393px;
$sedan_total_height = 321px;
$sedan_image = '/static/sprite.png';
$sedan = 0px 199px 0px -199px 115px 45px 393px 321px '/static/sprite.png' 'sedan';
$suv_name = 'suv';
$suv_x = 115px;
$suv_y = 154px;
$suv_offset_x = -115px;
$suv_offset_y = -154px;
$suv_width = 115px;
$suv_height = 45px;
$suv_total_width = 393px;
$suv_total_height = 321px;
$suv_image = '/static/sprite.png';
$suv = 115px 154px -115px -154px 115px 45px 393px 321px '/static/sprite.png' 'suv';
$suzuki_name = 'suzuki';
$suzuki_x = 253px;
$suzuki_y = 180px;
$suzuki_offset_x = -253px;
$suzuki_offset_y = -180px;
$suzuki_width = 70px;
$suzuki_height = 45px;
$suzuki_total_width = 393px;
$suzuki_total_height = 321px;
$suzuki_image = '/static/sprite.png';
$suzuki = 253px 180px -253px -180px 70px 45px 393px 321px '/static/sprite.png' 'suzuki';
$tanzania_name = 'tanzania';
$tanzania_x = 371px;
$tanzania_y = 90px;
$tanzania_offset_x = -371px;
$tanzania_offset_y = -90px;
$tanzania_width = 22px;
$tanzania_height = 15px;
$tanzania_total_width = 393px;
$tanzania_total_height = 321px;
$tanzania_image = '/static/sprite.png';
$tanzania = 371px 90px -371px -90px 22px 15px 393px 321px '/static/sprite.png' 'tanzania';
$test_name = 'test';
$test_x = 0px;
$test_y = 289px;
$test_offset_x = 0px;
$test_offset_y = -289px;
$test_width = 32px;
$test_height = 32px;
$test_total_width = 393px;
$test_total_height = 321px;
$test_image = '/static/sprite.png';
$test = 0px 289px 0px -289px 32px 32px 393px 321px '/static/sprite.png' 'test';
$toyota_name = 'toyota';
$toyota_x = 253px;
$toyota_y = 135px;
$toyota_offset_x = -253px;
$toyota_offset_y = -135px;
$toyota_width = 70px;
$toyota_height = 45px;
$toyota_total_width = 393px;
$toyota_total_height = 321px;
$toyota_image = '/static/sprite.png';
$toyota = 253px 135px -253px -135px 70px 45px 393px 321px '/static/sprite.png' 'toyota';
$truck_2_name = 'truck_2';
$truck_2_x = 0px;
$truck_2_y = 154px;
$truck_2_offset_x = 0px;
$truck_2_offset_y = -154px;
$truck_2_width = 115px;
$truck_2_height = 45px;
$truck_2_total_width = 393px;
$truck_2_total_height = 321px;
$truck_2_image = '/static/sprite.png';
$truck_2 = 0px 154px 0px -154px 115px 45px 393px 321px '/static/sprite.png' 'truck_2';
$visa_name = 'visa';
$visa_x = 323px;
$visa_y = 248px;
$visa_offset_x = -323px;
$visa_offset_y = -248px;
$visa_width = 47px;
$visa_height = 30px;
$visa_total_width = 393px;
$visa_total_height = 321px;
$visa_image = '/static/sprite.png';
$visa = 323px 248px -323px -248px 47px 30px 393px 321px '/static/sprite.png' 'visa';
$volkswagen_name = 'volkswagen';
$volkswagen_x = 70px;
$volkswagen_y = 244px;
$volkswagen_offset_x = -70px;
$volkswagen_offset_y = -244px;
$volkswagen_width = 70px;
$volkswagen_height = 45px;
$volkswagen_total_width = 393px;
$volkswagen_total_height = 321px;
$volkswagen_image = '/static/sprite.png';
$volkswagen = 70px 244px -70px -244px 70px 45px 393px 321px '/static/sprite.png' 'volkswagen';
$volvo_name = 'volvo';
$volvo_x = 0px;
$volvo_y = 244px;
$volvo_offset_x = 0px;
$volvo_offset_y = -244px;
$volvo_width = 70px;
$volvo_height = 45px;
$volvo_total_width = 393px;
$volvo_total_height = 321px;
$volvo_image = '/static/sprite.png';
$volvo = 0px 244px 0px -244px 70px 45px 393px 321px '/static/sprite.png' 'volvo';
$wagon_name = 'wagon';
$wagon_x = 0px;
$wagon_y = 64px;
$wagon_offset_x = 0px;
$wagon_offset_y = -64px;
$wagon_width = 115px;
$wagon_height = 45px;
$wagon_total_width = 393px;
$wagon_total_height = 321px;
$wagon_image = '/static/sprite.png';
$wagon = 0px 64px 0px -64px 115px 45px 393px 321px '/static/sprite.png' 'wagon';
$retina_bahamas_name = 'retina_bahamas';
$retina_bahamas_x = 722px;
$retina_bahamas_y = 540px;
$retina_bahamas_offset_x = -722px;
$retina_bahamas_offset_y = -540px;
$retina_bahamas_width = 44px;
$retina_bahamas_height = 30px;
$retina_bahamas_total_width = 774px;
$retina_bahamas_total_height = 728px;
$retina_bahamas_image = '/static/sprite@2x.png';
$retina_bahamas = 722px 540px -722px -540px 44px 30px 774px 728px '/static/sprite@2x.png' 'retina_bahamas';
$retina_bank_transfer_name = 'retina_bank_transfer';
$retina_bank_transfer_x = 140px;
$retina_bank_transfer_y = 578px;
$retina_bank_transfer_offset_x = -140px;
$retina_bank_transfer_offset_y = -578px;
$retina_bank_transfer_width = 92px;
$retina_bank_transfer_height = 56px;
$retina_bank_transfer_total_width = 774px;
$retina_bank_transfer_total_height = 728px;
$retina_bank_transfer_image = '/static/sprite@2x.png';
$retina_bank_transfer = 140px 578px -140px -578px 92px 56px 774px 728px '/static/sprite@2x.png' 'retina_bank_transfer';
$retina_bmw_name = 'retina_bmw';
$retina_bmw_x = 634px;
$retina_bmw_y = 270px;
$retina_bmw_offset_x = -634px;
$retina_bmw_offset_y = -270px;
$retina_bmw_width = 140px;
$retina_bmw_height = 90px;
$retina_bmw_total_width = 774px;
$retina_bmw_total_height = 728px;
$retina_bmw_image = '/static/sprite@2x.png';
$retina_bmw = 634px 270px -634px -270px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_bmw';
$retina_bus_name = 'retina_bus';
$retina_bus_x = 276px;
$retina_bus_y = 0px;
$retina_bus_offset_x = -276px;
$retina_bus_offset_y = 0px;
$retina_bus_width = 230px;
$retina_bus_height = 90px;
$retina_bus_total_width = 774px;
$retina_bus_total_height = 728px;
$retina_bus_image = '/static/sprite@2x.png';
$retina_bus = 276px 0px -276px 0px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_bus';
$retina_convertible_name = 'retina_convertible';
$retina_convertible_x = 276px;
$retina_convertible_y = 90px;
$retina_convertible_offset_x = -276px;
$retina_convertible_offset_y = -90px;
$retina_convertible_width = 230px;
$retina_convertible_height = 90px;
$retina_convertible_total_width = 774px;
$retina_convertible_total_height = 728px;
$retina_convertible_image = '/static/sprite@2x.png';
$retina_convertible = 276px 90px -276px -90px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_convertible';
$retina_coupe_name = 'retina_coupe';
$retina_coupe_x = 0px;
$retina_coupe_y = 218px;
$retina_coupe_offset_x = 0px;
$retina_coupe_offset_y = -218px;
$retina_coupe_width = 230px;
$retina_coupe_height = 90px;
$retina_coupe_total_width = 774px;
$retina_coupe_total_height = 728px;
$retina_coupe_image = '/static/sprite@2x.png';
$retina_coupe = 0px 218px 0px -218px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_coupe';
$retina_digicert_secure_name = 'retina_digicert_secure';
$retina_digicert_secure_x = 0px;
$retina_digicert_secure_y = 668px;
$retina_digicert_secure_offset_x = 0px;
$retina_digicert_secure_offset_y = -668px;
$retina_digicert_secure_width = 82px;
$retina_digicert_secure_height = 60px;
$retina_digicert_secure_total_width = 774px;
$retina_digicert_secure_total_height = 728px;
$retina_digicert_secure_image = '/static/sprite@2x.png';
$retina_digicert_secure = 0px 668px 0px -668px 82px 60px 774px 728px '/static/sprite@2x.png' 'retina_digicert_secure';
$retina_equity_name = 'retina_equity';
$retina_equity_x = 506px;
$retina_equity_y = 128px;
$retina_equity_offset_x = -506px;
$retina_equity_offset_y = -128px;
$retina_equity_width = 122px;
$retina_equity_height = 50px;
$retina_equity_total_width = 774px;
$retina_equity_total_height = 728px;
$retina_equity_image = '/static/sprite@2x.png';
$retina_equity = 506px 128px -506px -128px 122px 50px 774px 728px '/static/sprite@2x.png' 'retina_equity';
$retina_ford_name = 'retina_ford';
$retina_ford_x = 634px;
$retina_ford_y = 180px;
$retina_ford_offset_x = -634px;
$retina_ford_offset_y = -180px;
$retina_ford_width = 140px;
$retina_ford_height = 90px;
$retina_ford_total_width = 774px;
$retina_ford_total_height = 728px;
$retina_ford_image = '/static/sprite@2x.png';
$retina_ford = 634px 180px -634px -180px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_ford';
$retina_hatchback_name = 'retina_hatchback';
$retina_hatchback_x = 230px;
$retina_hatchback_y = 218px;
$retina_hatchback_offset_x = -230px;
$retina_hatchback_offset_y = -218px;
$retina_hatchback_width = 230px;
$retina_hatchback_height = 90px;
$retina_hatchback_total_width = 774px;
$retina_hatchback_total_height = 728px;
$retina_hatchback_image = '/static/sprite@2x.png';
$retina_hatchback = 230px 218px -230px -218px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_hatchback';
$retina_honda_name = 'retina_honda';
$retina_honda_x = 230px;
$retina_honda_y = 398px;
$retina_honda_offset_x = -230px;
$retina_honda_offset_y = -398px;
$retina_honda_width = 140px;
$retina_honda_height = 90px;
$retina_honda_total_width = 774px;
$retina_honda_total_height = 728px;
$retina_honda_image = '/static/sprite@2x.png';
$retina_honda = 230px 398px -230px -398px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_honda';
$retina_isuzu_name = 'retina_isuzu';
$retina_isuzu_x = 0px;
$retina_isuzu_y = 488px;
$retina_isuzu_offset_x = 0px;
$retina_isuzu_offset_y = -488px;
$retina_isuzu_width = 140px;
$retina_isuzu_height = 90px;
$retina_isuzu_total_width = 774px;
$retina_isuzu_total_height = 728px;
$retina_isuzu_image = '/static/sprite@2x.png';
$retina_isuzu = 0px 488px 0px -488px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_isuzu';
$retina_jumvea_shield_name = 'retina_jumvea_shield';
$retina_jumvea_shield_x = 506px;
$retina_jumvea_shield_y = 362px;
$retina_jumvea_shield_offset_x = -506px;
$retina_jumvea_shield_offset_y = -362px;
$retina_jumvea_shield_width = 71px;
$retina_jumvea_shield_height = 81px;
$retina_jumvea_shield_total_width = 774px;
$retina_jumvea_shield_total_height = 728px;
$retina_jumvea_shield_image = '/static/sprite@2x.png';
$retina_jumvea_shield = 506px 362px -506px -362px 71px 81px 774px 728px '/static/sprite@2x.png' 'retina_jumvea_shield';
$retina_jumvea_name = 'retina_jumvea';
$retina_jumvea_x = 506px;
$retina_jumvea_y = 178px;
$retina_jumvea_offset_x = -506px;
$retina_jumvea_offset_y = -178px;
$retina_jumvea_width = 95px;
$retina_jumvea_height = 64px;
$retina_jumvea_total_width = 774px;
$retina_jumvea_total_height = 728px;
$retina_jumvea_image = '/static/sprite@2x.png';
$retina_jumvea = 506px 178px -506px -178px 95px 64px 774px 728px '/static/sprite@2x.png' 'retina_jumvea';
$retina_kenya_name = 'retina_kenya';
$retina_kenya_x = 577px;
$retina_kenya_y = 392px;
$retina_kenya_offset_x = -577px;
$retina_kenya_offset_y = -392px;
$retina_kenya_width = 44px;
$retina_kenya_height = 30px;
$retina_kenya_total_width = 774px;
$retina_kenya_total_height = 728px;
$retina_kenya_image = '/static/sprite@2x.png';
$retina_kenya = 577px 392px -577px -392px 44px 30px 774px 728px '/static/sprite@2x.png' 'retina_kenya';
$retina_logo_footer_name = 'retina_logo_footer';
$retina_logo_footer_x = 0px;
$retina_logo_footer_y = 0px;
$retina_logo_footer_offset_x = 0px;
$retina_logo_footer_offset_y = 0px;
$retina_logo_footer_width = 276px;
$retina_logo_footer_height = 128px;
$retina_logo_footer_total_width = 774px;
$retina_logo_footer_total_height = 728px;
$retina_logo_footer_image = '/static/sprite@2x.png';
$retina_logo_footer = 0px 0px 0px 0px 276px 128px 774px 728px '/static/sprite@2x.png' 'retina_logo_footer';
$retina_malawi_name = 'retina_malawi';
$retina_malawi_x = 634px;
$retina_malawi_y = 540px;
$retina_malawi_offset_x = -634px;
$retina_malawi_offset_y = -540px;
$retina_malawi_width = 44px;
$retina_malawi_height = 30px;
$retina_malawi_total_width = 774px;
$retina_malawi_total_height = 728px;
$retina_malawi_image = '/static/sprite@2x.png';
$retina_malawi = 634px 540px -634px -540px 44px 30px 774px 728px '/static/sprite@2x.png' 'retina_malawi';
$retina_master_card_name = 'retina_master_card';
$retina_master_card_x = 506px;
$retina_master_card_y = 302px;
$retina_master_card_offset_x = -506px;
$retina_master_card_offset_y = -302px;
$retina_master_card_width = 100px;
$retina_master_card_height = 60px;
$retina_master_card_total_width = 774px;
$retina_master_card_total_height = 728px;
$retina_master_card_image = '/static/sprite@2x.png';
$retina_master_card = 506px 302px -506px -302px 100px 60px 774px 728px '/static/sprite@2x.png' 'retina_master_card';
$retina_mazda_name = 'retina_mazda';
$retina_mazda_x = 140px;
$retina_mazda_y = 488px;
$retina_mazda_offset_x = -140px;
$retina_mazda_offset_y = -488px;
$retina_mazda_width = 140px;
$retina_mazda_height = 90px;
$retina_mazda_total_width = 774px;
$retina_mazda_total_height = 728px;
$retina_mazda_image = '/static/sprite@2x.png';
$retina_mazda = 140px 488px -140px -488px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_mazda';
$retina_mercedes_benz_name = 'retina_mercedes_benz';
$retina_mercedes_benz_x = 634px;
$retina_mercedes_benz_y = 360px;
$retina_mercedes_benz_offset_x = -634px;
$retina_mercedes_benz_offset_y = -360px;
$retina_mercedes_benz_width = 140px;
$retina_mercedes_benz_height = 90px;
$retina_mercedes_benz_total_width = 774px;
$retina_mercedes_benz_total_height = 728px;
$retina_mercedes_benz_image = '/static/sprite@2x.png';
$retina_mercedes_benz = 634px 360px -634px -360px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_mercedes_benz';
$retina_mozambique_name = 'retina_mozambique';
$retina_mozambique_x = 577px;
$retina_mozambique_y = 362px;
$retina_mozambique_offset_x = -577px;
$retina_mozambique_offset_y = -362px;
$retina_mozambique_width = 44px;
$retina_mozambique_height = 30px;
$retina_mozambique_total_width = 774px;
$retina_mozambique_total_height = 728px;
$retina_mozambique_image = '/static/sprite@2x.png';
$retina_mozambique = 577px 362px -577px -362px 44px 30px 774px 728px '/static/sprite@2x.png' 'retina_mozambique';
$retina_nisan_name = 'retina_nisan';
$retina_nisan_x = 0px;
$retina_nisan_y = 578px;
$retina_nisan_offset_x = 0px;
$retina_nisan_offset_y = -578px;
$retina_nisan_width = 140px;
$retina_nisan_height = 90px;
$retina_nisan_total_width = 774px;
$retina_nisan_total_height = 728px;
$retina_nisan_image = '/static/sprite@2x.png';
$retina_nisan = 0px 578px 0px -578px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_nisan';
$retina_paypal_name = 'retina_paypal';
$retina_paypal_x = 506px;
$retina_paypal_y = 242px;
$retina_paypal_offset_x = -506px;
$retina_paypal_offset_y = -242px;
$retina_paypal_width = 100px;
$retina_paypal_height = 60px;
$retina_paypal_total_width = 774px;
$retina_paypal_total_height = 728px;
$retina_paypal_image = '/static/sprite@2x.png';
$retina_paypal = 506px 242px -506px -242px 100px 60px 774px 728px '/static/sprite@2x.png' 'retina_paypal';
$retina_resona_bank_name = 'retina_resona_bank';
$retina_resona_bank_x = 560px;
$retina_resona_bank_y = 488px;
$retina_resona_bank_offset_x = -560px;
$retina_resona_bank_offset_y = -488px;
$retina_resona_bank_width = 62px;
$retina_resona_bank_height = 80px;
$retina_resona_bank_total_width = 774px;
$retina_resona_bank_total_height = 728px;
$retina_resona_bank_image = '/static/sprite@2x.png';
$retina_resona_bank = 560px 488px -560px -488px 62px 80px 774px 728px '/static/sprite@2x.png' 'retina_resona_bank';
$retina_sabaru_name = 'retina_sabaru';
$retina_sabaru_x = 634px;
$retina_sabaru_y = 450px;
$retina_sabaru_offset_x = -634px;
$retina_sabaru_offset_y = -450px;
$retina_sabaru_width = 140px;
$retina_sabaru_height = 90px;
$retina_sabaru_total_width = 774px;
$retina_sabaru_total_height = 728px;
$retina_sabaru_image = '/static/sprite@2x.png';
$retina_sabaru = 634px 450px -634px -450px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_sabaru';
$retina_sedan_name = 'retina_sedan';
$retina_sedan_x = 0px;
$retina_sedan_y = 398px;
$retina_sedan_offset_x = 0px;
$retina_sedan_offset_y = -398px;
$retina_sedan_width = 230px;
$retina_sedan_height = 90px;
$retina_sedan_total_width = 774px;
$retina_sedan_total_height = 728px;
$retina_sedan_image = '/static/sprite@2x.png';
$retina_sedan = 0px 398px 0px -398px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_sedan';
$retina_suv_name = 'retina_suv';
$retina_suv_x = 230px;
$retina_suv_y = 308px;
$retina_suv_offset_x = -230px;
$retina_suv_offset_y = -308px;
$retina_suv_width = 230px;
$retina_suv_height = 90px;
$retina_suv_total_width = 774px;
$retina_suv_total_height = 728px;
$retina_suv_image = '/static/sprite@2x.png';
$retina_suv = 230px 308px -230px -308px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_suv';
$retina_suzuki_name = 'retina_suzuki';
$retina_suzuki_x = 634px;
$retina_suzuki_y = 90px;
$retina_suzuki_offset_x = -634px;
$retina_suzuki_offset_y = -90px;
$retina_suzuki_width = 140px;
$retina_suzuki_height = 90px;
$retina_suzuki_total_width = 774px;
$retina_suzuki_total_height = 728px;
$retina_suzuki_image = '/static/sprite@2x.png';
$retina_suzuki = 634px 90px -634px -90px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_suzuki';
$retina_tanzania_name = 'retina_tanzania';
$retina_tanzania_x = 678px;
$retina_tanzania_y = 540px;
$retina_tanzania_offset_x = -678px;
$retina_tanzania_offset_y = -540px;
$retina_tanzania_width = 44px;
$retina_tanzania_height = 30px;
$retina_tanzania_total_width = 774px;
$retina_tanzania_total_height = 728px;
$retina_tanzania_image = '/static/sprite@2x.png';
$retina_tanzania = 678px 540px -678px -540px 44px 30px 774px 728px '/static/sprite@2x.png' 'retina_tanzania';
$retina_test_name = 'retina_test';
$retina_test_x = 506px;
$retina_test_y = 0px;
$retina_test_offset_x = -506px;
$retina_test_offset_y = 0px;
$retina_test_width = 128px;
$retina_test_height = 128px;
$retina_test_total_width = 774px;
$retina_test_total_height = 728px;
$retina_test_image = '/static/sprite@2x.png';
$retina_test = 506px 0px -506px 0px 128px 128px 774px 728px '/static/sprite@2x.png' 'retina_test';
$retina_toyota_name = 'retina_toyota';
$retina_toyota_x = 280px;
$retina_toyota_y = 488px;
$retina_toyota_offset_x = -280px;
$retina_toyota_offset_y = -488px;
$retina_toyota_width = 140px;
$retina_toyota_height = 90px;
$retina_toyota_total_width = 774px;
$retina_toyota_total_height = 728px;
$retina_toyota_image = '/static/sprite@2x.png';
$retina_toyota = 280px 488px -280px -488px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_toyota';
$retina_truck_2_name = 'retina_truck_2';
$retina_truck_2_x = 0px;
$retina_truck_2_y = 308px;
$retina_truck_2_offset_x = 0px;
$retina_truck_2_offset_y = -308px;
$retina_truck_2_width = 230px;
$retina_truck_2_height = 90px;
$retina_truck_2_total_width = 774px;
$retina_truck_2_total_height = 728px;
$retina_truck_2_image = '/static/sprite@2x.png';
$retina_truck_2 = 0px 308px 0px -308px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_truck_2';
$retina_visa_name = 'retina_visa';
$retina_visa_x = 370px;
$retina_visa_y = 398px;
$retina_visa_offset_x = -370px;
$retina_visa_offset_y = -398px;
$retina_visa_width = 94px;
$retina_visa_height = 60px;
$retina_visa_total_width = 774px;
$retina_visa_total_height = 728px;
$retina_visa_image = '/static/sprite@2x.png';
$retina_visa = 370px 398px -370px -398px 94px 60px 774px 728px '/static/sprite@2x.png' 'retina_visa';
$retina_volkswagen_name = 'retina_volkswagen';
$retina_volkswagen_x = 634px;
$retina_volkswagen_y = 0px;
$retina_volkswagen_offset_x = -634px;
$retina_volkswagen_offset_y = 0px;
$retina_volkswagen_width = 140px;
$retina_volkswagen_height = 90px;
$retina_volkswagen_total_width = 774px;
$retina_volkswagen_total_height = 728px;
$retina_volkswagen_image = '/static/sprite@2x.png';
$retina_volkswagen = 634px 0px -634px 0px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_volkswagen';
$retina_volvo_name = 'retina_volvo';
$retina_volvo_x = 420px;
$retina_volvo_y = 488px;
$retina_volvo_offset_x = -420px;
$retina_volvo_offset_y = -488px;
$retina_volvo_width = 140px;
$retina_volvo_height = 90px;
$retina_volvo_total_width = 774px;
$retina_volvo_total_height = 728px;
$retina_volvo_image = '/static/sprite@2x.png';
$retina_volvo = 420px 488px -420px -488px 140px 90px 774px 728px '/static/sprite@2x.png' 'retina_volvo';
$retina_wagon_name = 'retina_wagon';
$retina_wagon_x = 0px;
$retina_wagon_y = 128px;
$retina_wagon_offset_x = 0px;
$retina_wagon_offset_y = -128px;
$retina_wagon_width = 230px;
$retina_wagon_height = 90px;
$retina_wagon_total_width = 774px;
$retina_wagon_total_height = 728px;
$retina_wagon_image = '/static/sprite@2x.png';
$retina_wagon = 0px 128px 0px -128px 230px 90px 774px 728px '/static/sprite@2x.png' 'retina_wagon';
$spritesheet_width = 393px;
$spritesheet_height = 321px;
$spritesheet_image = '/static/sprite.png';
$spritesheet_sprites = $bahamas $bank_transfer $bmw $bus $convertible $coupe $digicert_secure $equity $ford $hatchback $honda $isuzu $jumvea_shield $jumvea $kenya $logo_footer $malawi $master_card $mazda $mercedes_benz $mozambique $nisan $paypal $resona_bank $sabaru $sedan $suv $suzuki $tanzania $test $toyota $truck_2 $visa $volkswagen $volvo $wagon;
$spritesheet = 393px 321px '/static/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 774px;
$retina_spritesheet_height = 728px;
$retina_spritesheet_image = '/static/sprite@2x.png';
$retina_spritesheet_sprites = $retina_bahamas $retina_bank_transfer $retina_bmw $retina_bus $retina_convertible $retina_coupe $retina_digicert_secure $retina_equity $retina_ford $retina_hatchback $retina_honda $retina_isuzu $retina_jumvea_shield $retina_jumvea $retina_kenya $retina_logo_footer $retina_malawi $retina_master_card $retina_mazda $retina_mercedes_benz $retina_mozambique $retina_nisan $retina_paypal $retina_resona_bank $retina_sabaru $retina_sedan $retina_suv $retina_suzuki $retina_tanzania $retina_test $retina_toyota $retina_truck_2 $retina_visa $retina_volkswagen $retina_volvo $retina_wagon;
$retina_spritesheet = 774px 728px '/static/sprite@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$bahamas_group_name = 'bahamas';
$bahamas_group = 'bahamas' $bahamas $retina_bahamas;
$bank_transfer_group_name = 'bank_transfer';
$bank_transfer_group = 'bank_transfer' $bank_transfer $retina_bank_transfer;
$bmw_group_name = 'bmw';
$bmw_group = 'bmw' $bmw $retina_bmw;
$bus_group_name = 'bus';
$bus_group = 'bus' $bus $retina_bus;
$convertible_group_name = 'convertible';
$convertible_group = 'convertible' $convertible $retina_convertible;
$coupe_group_name = 'coupe';
$coupe_group = 'coupe' $coupe $retina_coupe;
$digicert_secure_group_name = 'digicert_secure';
$digicert_secure_group = 'digicert_secure' $digicert_secure $retina_digicert_secure;
$equity_group_name = 'equity';
$equity_group = 'equity' $equity $retina_equity;
$ford_group_name = 'ford';
$ford_group = 'ford' $ford $retina_ford;
$hatchback_group_name = 'hatchback';
$hatchback_group = 'hatchback' $hatchback $retina_hatchback;
$honda_group_name = 'honda';
$honda_group = 'honda' $honda $retina_honda;
$isuzu_group_name = 'isuzu';
$isuzu_group = 'isuzu' $isuzu $retina_isuzu;
$jumvea_shield_group_name = 'jumvea_shield';
$jumvea_shield_group = 'jumvea_shield' $jumvea_shield $retina_jumvea_shield;
$jumvea_group_name = 'jumvea';
$jumvea_group = 'jumvea' $jumvea $retina_jumvea;
$kenya_group_name = 'kenya';
$kenya_group = 'kenya' $kenya $retina_kenya;
$logo_footer_group_name = 'logo_footer';
$logo_footer_group = 'logo_footer' $logo_footer $retina_logo_footer;
$malawi_group_name = 'malawi';
$malawi_group = 'malawi' $malawi $retina_malawi;
$master_card_group_name = 'master_card';
$master_card_group = 'master_card' $master_card $retina_master_card;
$mazda_group_name = 'mazda';
$mazda_group = 'mazda' $mazda $retina_mazda;
$mercedes_benz_group_name = 'mercedes_benz';
$mercedes_benz_group = 'mercedes_benz' $mercedes_benz $retina_mercedes_benz;
$mozambique_group_name = 'mozambique';
$mozambique_group = 'mozambique' $mozambique $retina_mozambique;
$nisan_group_name = 'nisan';
$nisan_group = 'nisan' $nisan $retina_nisan;
$paypal_group_name = 'paypal';
$paypal_group = 'paypal' $paypal $retina_paypal;
$resona_bank_group_name = 'resona_bank';
$resona_bank_group = 'resona_bank' $resona_bank $retina_resona_bank;
$sabaru_group_name = 'sabaru';
$sabaru_group = 'sabaru' $sabaru $retina_sabaru;
$sedan_group_name = 'sedan';
$sedan_group = 'sedan' $sedan $retina_sedan;
$suv_group_name = 'suv';
$suv_group = 'suv' $suv $retina_suv;
$suzuki_group_name = 'suzuki';
$suzuki_group = 'suzuki' $suzuki $retina_suzuki;
$tanzania_group_name = 'tanzania';
$tanzania_group = 'tanzania' $tanzania $retina_tanzania;
$test_group_name = 'test';
$test_group = 'test' $test $retina_test;
$toyota_group_name = 'toyota';
$toyota_group = 'toyota' $toyota $retina_toyota;
$truck_2_group_name = 'truck_2';
$truck_2_group = 'truck_2' $truck_2 $retina_truck_2;
$visa_group_name = 'visa';
$visa_group = 'visa' $visa $retina_visa;
$volkswagen_group_name = 'volkswagen';
$volkswagen_group = 'volkswagen' $volkswagen $retina_volkswagen;
$volvo_group_name = 'volvo';
$volvo_group = 'volvo' $volvo $retina_volvo;
$wagon_group_name = 'wagon';
$wagon_group = 'wagon' $wagon $retina_wagon;
$retina_groups = $bahamas_group $bank_transfer_group $bmw_group $bus_group $convertible_group $coupe_group $digicert_secure_group $equity_group $ford_group $hatchback_group $honda_group $isuzu_group $jumvea_shield_group $jumvea_group $kenya_group $logo_footer_group $malawi_group $master_card_group $mazda_group $mercedes_benz_group $mozambique_group $nisan_group $paypal_group $resona_bank_group $sabaru_group $sedan_group $suv_group $suzuki_group $tanzania_group $test_group $toyota_group $truck_2_group $visa_group $volkswagen_group $volvo_group $wagon_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
